    <div class="apidocs">
        <div id="docs-main" class="content">
            <p>
            <h2>Welcome</h2>
            This is the documentation for the game engine powering the games produced by the Game Develop JS Platform.<br>
            You may want to look at <b>gdjs.RuntimeScene</b>, <b>gdjs.RuntimeObject</b> or <b>gdjs.RuntimeAutomatism</b>.<br>
            <br>
            If you need any help, go on the <a href="http://forum.compilgames.net">Game Develop forums</a> or send a message to <a href="mailto:Florian.rival@gmail.com">Florian.rival@gmail.com</a>.

            <h3>Platform documentation</h3>
            The documentation of the platform exposed to the IDE is available <a href="../GDJS Documentation/index.html">here</a>.<br>
            You'll need to refer to this documentation when writing C++ files used to expose extensions features to the IDE, or when hacking
            on the platform and not on the game engine.
            <br>
            </p>

        </div>
    </div>


