
.guidelineContainer {
    max-width: 400;
    padding: 10;
}
.guidelineDescription {
    padding-bottom: 10;
    overflow: 'hidden';
}
.guidelineimage {
    width: '100%';
}

.guidelineArrowContainer {
    z-index: 2000;
} 

/**
* Guideline arrow general
*/
 .guidelineArrowContainer[x-placement*] .guidelineArrow {
    width: 3em;
    height: 1em;
}
.guidelineArrowContainer[x-placement*="bottom"] .guidelineArrow {
    top: 0;
    left: 0;
    margin-top: -1em;
}
.guidelineArrowContainer[x-placement*="top"] .guidelineArrow {
    left: 0;
    bottom: 0;
    margin-bottom: -1em;
}
.guidelineArrowContainer[x-placement*="right"] .guidelineArrow {
    left: 0;
    margin-left: -1em;
}
.guidelineArrowContainer[x-placement*="left"] .guidelineArrow {
    right: 0;
    margin-right: -1em;
}
.guidelineArrow {
    position: absolute;
    font-size: 10px;
}
.guidelineArrow::before {
    width: 0;
    height: 0;
    margin: auto;
    content: "";
    display: block;
    border-style: solid;
} 

/**
* Guideline arrow color for themes
*/
/* .guidelineArrowContainer[x-placement*="left"] .guidelineArrow::before {
    border-color: transparent transparent transparent #fff;
    border-width: 1em 0 1em 1em;
  }
.guidelineArrowContainer[x-placement*="right"] .guidelineArrow::before {
    border-color: transparent #fff transparent transparent;
    border-width: 1em 1em 1em 0;
  }
.guidelineArrowContainer[x-placement*="top"] .guidelineArrow::before {
    border-color: #fff transparent transparent transparent;
    border-width: 0 0 0 0;
  }
.guidelineArrowContainer[x-placement*="bottom"] .guidelineArrow::before {
    border-color: transparent transparent #fff transparent;
    border-width: 0 1em 1em 1em;
  } */

/*
* clickTarget
*/
 #clickTarget{
    z-index: 1000;
    position: inherit;
    animation: blink 1.5s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes blink {
  from {
     box-shadow: 0 0 0px 0px #0088ff91;
  }
  to {
     box-shadow: 0 0 24px 12px #0088ff91;
  }
} 