/* This is the styling applied to markdown (like the one used for Changelog). */

.gd-markdown-default-theme {
  font-size: 16px;
  line-height: 1.3;
}

.gd-markdown-default-theme h1 {
  margin-bottom: 10px;
}

.gd-markdown-default-theme h2 {
  margin-bottom: 10px;
}

.gd-markdown-default-theme ul {
  word-break: break-word;
}

.gd-markdown-default-theme blockquote {
  border-left: 5px solid rgba(0, 0, 0, 0.6);
  padding-left: 15px;
  margin-left: 20px;
}

.gd-markdown-default-theme a {
  color: rgb(74, 176, 228);
}
