/* Mosaic layout */
.mosaic-gd-default-theme.mosaic {
  background-color: #f0f0f0 !important;
}

/* Mosaic window and tile */
.mosaic-gd-default-theme .mosaic-window-toolbar {
  background: #9100ce !important;
}

.mosaic-gd-default-theme .mosaic-window .mosaic-window-title {
  color: white !important;
  font-weight: 400 !important;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
}

/* Hovered titlebar background */
.mosaic-gd-default-theme.mosaic-blueprint-theme .mosaic-window .mosaic-window-toolbar.draggable:hover,
.mosaic-gd-default-theme.mosaic.mosaic-blueprint-theme .mosaic-preview .mosaic-window-toolbar.draggable:hover {
  background: #9100ce !important;
}
