/* This is the styling applied to large tables (like the one used for InstancesList).
 * It mimics the Material UI Tables style. */

.gd-table-default-theme {
  font-family: 'Roboto', '-apple-system', BlinkMacSystemFont, 'sans-serif';
}

.gd-table-default-theme .tableHeaderRow,
.gd-table-default-theme .tableEvenRow,
.gd-table-default-theme .tableSelectedRow,
.gd-table-default-theme .tableOddRow {
  font-size: 13px;
  border-bottom: 1px solid #e0e0e0;
}
.gd-table-default-theme .tableOddRow {
  background-color: #fafafa;
}
.gd-table-default-theme .tableEvenRow {
  background-color: white;
}
.gd-table-default-theme .tableSelectedRow {
  background-color: #4c92ff; /*OS X selection*/
  color: white;
}
.gd-table-default-theme .tableHeaderColumn {
  text-transform: none;
  font-weight: 400;
  font-size: 12px;
  color: rgb(158, 158, 158);
}
.gd-table-default-theme .tableColumn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
