/*markdown*/
.gd-markdown a {
    color: var(--markdown-a);
}
  
/*mosaic*/
/* Mosaic layout */
.mosaic-gd.mosaic {
    background-color: var(--mosaic-layout) !important;
  }
  
  /* Mosaic window and tile */
  .mosaic-gd .mosaic-window-toolbar {
    background: var(--mosaic-window) !important;
  }
  
  .mosaic-gd .mosaic-window .mosaic-window-title {
    color: var(--white) !important;
  }
  
  /* Hovered titlebar background */
  .mosaic-gd.mosaic-blueprint-theme .mosaic-window .mosaic-window-toolbar.draggable:hover,
  .mosaic-gd.mosaic.mosaic-blueprint-theme .mosaic-preview .mosaic-window-toolbar.draggable:hover {
    background: var(--mosaic-window) !important;
  }
  
  .mosaic-gd .mosaic-split.-column {
    background-color: var(--mosaic-layout) !important;
  }
  
  /* Separator draggable background */
  .mosaic-gd .mosaic-split.-column .mosaic-split-line {
    border-top: 1px solid var(--mosaic-split) !important;
  }
  
  .mosaic-gd .mosaic-split:hover .mosaic-split-line {
    border-color: var(--mosaic-split-hover) !important;
  }
  

/*table*/
.gd-table {
    color: var(--gdtable);
  }
  
  .gd-table .tableHeaderRow,
  .gd-table .tableEvenRow,
  .gd-table .tableSelectedRow,
  .gd-table .tableOddRow {
    border-bottom: 1px solid var(--tablerow);
  }
  .gd-table .tableOddRow {
    background-color: var(--tableoddrow);
  }
  .gd-table .tableEvenRow {
    background-color: var(--white);
  }
  .gd-table .tableSelectedRow {
    background-color: var(--tableselectedrow); /*OS X selection*/
    color: var(--white);
  }
  .gd-table .tableHeaderColumn {
    color: var(--tableheadercolumn);
  }
  


/*events sheet*/
.gd-events-sheet.events-tree {
  background: var(--events-tree);
}

/*Draggable handle on the left of an event*/
.gd-events-sheet .rst__moveHandle {
  background: var(--rst__moveHandle) !important;
}

.gd-events-sheet .rst__moveHandle:hover {
  background-color: var(--rst__moveHandle-hover) !important;
}

/*Scaffolding lines on the left*/
.gd-events-sheet.rst__lineHalfHorizontalRight::before,
.gd-events-sheet .rst__lineFullVertical::after,
.gd-events-sheet .rst__lineHalfVerticalTop::after,
.gd-events-sheet .rst__lineHalfVerticalBottom::after {
  background-color: var(--linehalf);
}

/*Background and default text color of content of an event*/
.gd-events-sheet .rst__rowContents {
  background-color: var(--rst__rowContents-bg-color);
  color: var(--rst__rowContents-color);
}

/*Selectable area (instructions)*/
.gd-events-sheet .selectable:hover {
  background-color: var(--selectable-hover);
}

.gd-events-sheet .selectable.selected {
  background-color: var(--selectable-selected-bg);
  border: 1px var(--selectable-selected-border) solid !important;
}

/* Large selectable area (events)*/
.gd-events-sheet .large-selectable {
  border: 1px var(--large-selectable) solid !important;
}
.gd-events-sheet .large-selectable.large-selected {
  border: 1px var(--large-selectable-selected) solid !important;
}

/*Conditions and actions containers*/
.gd-events-sheet .conditions-container {
  background: var(--conditions-container-bg);
  border: 1px solid var(--conditions-container-border);
}
.gd-events-sheet .conditions-container.small-width-container {
  border-right-color: var(--small-width-container-border-right);
  border-bottom-color: var(--small-width-container-border-bottom);
}

.gd-events-sheet .actions-container {
  background: var(--actions-container-bg);
}


.gd-events-sheet .sub-instructions-container {
  border-left: 1px solid var(--sub-instructions-container-border-left);
}

/**
 * Instructions parameters color scheme
 */
.gd-events-sheet .instruction-parameter {
  color: var(--instruction-parameter);
}

.gd-events-sheet .instruction-parameter.expression {
  color: var(--instruction-parameter-expression);
}

.gd-events-sheet .instruction-parameter.object,
.gd-events-sheet .instruction-parameter.objectPtr,
.gd-events-sheet .instruction-parameter.objectList,
.gd-events-sheet .instruction-parameter.objectListWithoutPicking {
  color: var(--instruction-parameter-object);
}

.gd-events-sheet .instruction-parameter.behavior {
  color: var(--instruction-parameter-behavior);
}

.gd-events-sheet .instruction-parameter.operator {
  color: var(--instruction-parameter-operator);
}

.gd-events-sheet .instruction-parameter.objectvar {
  color: var(--instruction-parameter-objectvar);
}

.gd-events-sheet .instruction-parameter.scenevar {
  color: var(--instruction-parameter-scenevar);
}

.gd-events-sheet .instruction-parameter.globalvar {
  color: var(--instruction-parameter-globalvar);
}

.gd-events-sheet
  .instruction-parameter
  .instruction-invalid-parameter {
  color: var(--instruction-invalid-parameter);
  text-decoration: var(--instruction-invalid-parameter-text-decoration) underline wavy;
}

.gd-events-sheet
  .instruction-parameter
  .instruction-missing-parameter {
  background-color: var(--instruction-missing-parameter-bg);
  border-bottom: 1px dashed var(--instruction-missing-parameter-border-bottom);
}

/**
 * Search results highlight
 */
.gd-events-sheet.with-search-results .rst__moveHandle {
  background: var(--search-results-rst__moveHandle-bg) !important;
  border: 1px solid var(--rst__moveHandle-border) !important;
}

.gd-events-sheet .rst__rowSearchMatch {
  border-left: solid 3px var(--rst__rowSearchMatch-border-left);
}

.gd-events-sheet .rst__rowSearchFocus {
  border-left: solid 5px var(--rst__rowSearchFocus-border-left);
}

/**
* Drag'n'drop indicator (events)
*/
.gd-events-sheet .drop-indicator {
  border-top: 2px solid var(--drop-indicator-border-top);
}

.gd-events-sheet .cant-drop-indicator {
  border-top: 2px solid var(--cant-drop-indicator-border-top);
}

/**
* Skinning the "Link" event
*/
.gd-events-sheet .link-container {
  background: var(--link-container);
}
.gd-events-sheet .link-container .selectable {
  color: var(--link-container-selectable);
}

