@keyframes new-chat-appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes chat-bubble-appear {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes content-appear {
  0% {
    opacity: 0;
  }
  /* Start after the bubble container. */
  37% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes thinking-appear {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  /* Start after the bubble container and when the bubble content is almost finished animating. */
  60% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.newChatContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: stretch;
  justify-content: center;
  gap: 8px;
  margin-left: 8px;
  margin-right: 8px;

  animation: new-chat-appear 0.5s;
}

.chatBubbleContainer {
  display: flex;
  animation: chat-bubble-appear 0.3s;
  min-width: 0; /** Prevents horizontal overflow */
}

.chatBubbleContent {
  display: flex;
  animation: content-appear 0.8s;
  min-width: 0; /** Prevents horizontal overflow */
}

.thinkingText {
  animation: thinking-appear 1s;
}
