.container {
  position: relative;
  flex: 1;
  min-width: 0;
}

/* The underline showing the name is being edited. */
.container:before {
  bottom: -1px;
  left: 0;
  content: '\00a0';
  width: 100%;
  border-bottom: 1px solid var(--theme-text-default-color);
  display: block;
  position: absolute;
  height: 1px;
}

.input {
  outline: none;
  border: none;
  padding: 0;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: inherit;
  width: 100%;
  font-family: var(--gdevelop-modern-font-family) !important;
  font-size: 14px;
  line-height: inherit;
}
