button.buttonSuccess {
    background-color: var(--theme-success-color);
    color: var(--theme-success-text-contrast-color);
}

button.buttonSuccess:hover {
    background-color: var(--theme-success-dark);
    color: var(--theme-success-text-contrast-color);
}

button.buttonDanger {
    background-color: var(--theme-error-color);
    color: var(--theme-error-text-contrast-color);
}

button.buttonDanger:hover {
    background-color: var(--theme-error-dark);
    color: var(--theme-error-text-contrast-color);
}

button.buttonPremium {
    background: linear-gradient(90deg, var(--theme-premium-teal) 0%, var(--theme-premium-orange) 100%);
    color: var(--theme-premium-text-contrast-color);
}

button.buttonPremium:hover {
    background: linear-gradient(90deg, var(--theme-premium-teal-dark) 0%, var(--theme-premium-orange-dark) 100%);
}

button.buttonAi {
    background: linear-gradient(90deg, rgb(153, 121, 241) 0%, rgb(255, 188, 87) 100%);
    color: var(--theme-premium-text-contrast-color);
}

button.buttonAi:hover {
    background: linear-gradient(90deg, rgb(143, 111, 231) 0%, rgb(245, 178, 77) 100%);
}
