.container {
  display: flex;
  align-items: center;
}

.compactTextField {
  border-radius: 4px;
  color: var(--theme-text-default-color);
  background-color: var(
    --theme-surface-alternate-canvas-light-background-color
  );
  transition: box-shadow 0.1s;
  position: relative;
  display: flex;
  flex: 1;
}

.container.disabled .compactTextField {
  color: var(--theme-text-disabled-color);
}

.container.errored:not(.disabled) .compactTextField {
  border: none;
  outline: 1px solid var(--theme-error-color);
}
.container.errored:not(.disabled):hover .compactTextField {
  outline: 1px solid var(--theme-error-light);
}
.container.errored:not(.disabled):focus-within .compactTextField {
  outline: 1px solid var(--theme-error-light);
}

.compactTextField::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  content: '';
  border-radius: 4px;
  pointer-events: none;
}

.container:not(.disabled):not(.errored):hover .compactTextField::before {
  border-bottom: 1px solid var(--theme-search-bar-hovered-border-color);
}
.container:not(.disabled):not(.errored):focus-within .compactTextField::before {
  border-bottom: 1px solid var(--theme-secondary-dark);
}

.compactTextField input {
  outline: none;
  border: none;
  padding: 2px 8px;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  line-height: 20px;
  font-family: var(--gdevelop-modern-font-family);
  color: inherit;
  flex: 1;
  caret-color: var(--theme-secondary-dark);
}

.compactTextField input::placeholder {
  color: var(--theme-text-disabled-color);
}

.leftIconContainer {
  display: flex;
  margin-right: 4px;
}

.leftIconContainer.control {
  cursor: ew-resize;
}

/* svg tag is needed to be first priority compared to Material UI Custom SVG icon classes*/
svg.leftIcon {
  font-size: 20px;
  color: var(--theme-text-disabled-color);
  transition: color 0.1s linear;
}

.container:not(.disabled):hover .leftIcon {
  color: var(--theme-text-default-color);
}
.container:not(.disabled):focus-within .leftIcon {
  color: var(--theme-text-default-color);
}

/* Chrome, Safari, Edge, Opera */
.compactTextField input::-webkit-outer-spin-button,
.compactTextField input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.compactTextField input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
