/* Mosaic layout */
.mosaic-gd-theme.mosaic {
  background-color: var(--mosaic-layout-background-color) !important;
}

/* Mosaic window and tile */
.mosaic-gd-theme .mosaic-window-toolbar {
  background: var(--mosaic-toolbar-background-color) !important;
}

.mosaic-gd-theme .mosaic-window-body {
  background: var(--mosaic-layout-background-color) !important;
}

.mosaic-gd-theme .mosaic-window .mosaic-window-title {
  color: white !important;
  font-weight: 400 !important;
  font-family: var(--gdevelop-font-family);
  font-size: 15px; /* Same as ClosableTabs font size */
}

/* Hovered titlebar background */
.mosaic-gd-theme.mosaic-blueprint-theme .mosaic-window .mosaic-window-toolbar.draggable:hover,
.mosaic-gd-theme.mosaic.mosaic-blueprint-theme .mosaic-preview .mosaic-window-toolbar.draggable:hover {
  background: var(--mosaic-toolbar-background-color) !important;
}

.mosaic-gd-theme .mosaic-split.-column {
  background-color: var(--mosaic-layout-background-color) !important;
}

/* Separator draggable background (horizontal split) */
.mosaic-gd-theme .mosaic-split.-column .mosaic-split-line {
  height: 2px;
  border-top: 1px solid var(--mosaic-layout-border-color) !important;
  border-bottom: 1px solid var(--mosaic-layout-border-color) !important;
  width: 200px;
  margin: auto;
  top: 1px;
  transition: all 0.1s ease-in-out;
}

.mosaic-gd-theme .mosaic-split.-column:hover .mosaic-split-line {
  border-top: 1px solid var(--mosaic-toolbar-border-color-hover) !important;
  border-bottom: 1px solid var(--mosaic-toolbar-border-color-hover) !important;
  box-shadow: none !important;
  width: 250px;
  cursor: ns-resize;
}

/* Separator draggable background (vertical split) */
.mosaic-gd-theme .mosaic-split.-row .mosaic-split-line {
  width: 2px;
  border-left: 1px solid var(--mosaic-layout-border-color) !important;
  border-right: 1px solid var(--mosaic-layout-border-color) !important;
  height: 200px;
  margin: auto;
  left: 1px;
  transition: all 0.1s ease-in-out;
}

.mosaic-gd-theme .mosaic-split.-row:hover .mosaic-split-line {
  border-left: 1px solid var(--mosaic-toolbar-border-color-hover) !important;
  border-right: 1px solid var(--mosaic-toolbar-border-color-hover) !important;
  box-shadow: none !important;
  height: 250px;
  cursor: ew-resize;
}
