/* Width */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border: 1px solid transparent;
    background-clip: padding-box;
    border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.07);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #8d8d8dcc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #8d8d8d;
}
