/* This is the styling applied to markdown (like the one used for Changelog). */

.gd-markdown {
  /* Use the fonts provided by the operating system(s) as possible. */
  /* If you update this font list, be sure to do it in all the other places using fonts in the codebase. */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, 'Helvetica Neue', Helvetica, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.gd-markdown.standalone-text-container {
  font-size: 16px;
  line-height: 1.3;
}

.gd-markdown h1 {
  margin-bottom: 10px;
}

.gd-markdown h2 {
  margin-bottom: 10px;
}

.gd-markdown ul {
  word-break: break-word;
}

.gd-markdown blockquote {
  padding-left: 15px;
  margin-left: 20px;
}


.gd-markdown a {
  cursor: pointer;
}

.gd-markdown code {
  font-family: "Lucida Console", Monaco, monospace;
  -webkit-user-select: text;
  user-select: text;
  cursor: text;
}

.gd-markdown img {
  max-width: 100%;
}
