.gd-events-sheet-dark-theme.events-tree,
.gd-events-sheet-default-theme.events-tree,
.gd-events-sheet-nord-theme.events-tree,
.gd-events-sheet-solarized-dark-theme.events-tree {
    /* Use the fonts provided by the operating system(s) as possible. */
    /* If you update this font list, be sure to do it in all the other places using fonts in the codebase. */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      Oxygen-Sans, Ubuntu, 'Helvetica Neue', Helvetica, sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
    font-size: 14px !important;
}

/*Ensure scroll is only on Y direction, preventing the display
 * of horizontal scrollbar.*/
.gd-events-sheet-dark-theme .rst__virtualScrollOverride,
.gd-events-sheet-default-theme .rst__virtualScrollOverride,
.gd-events-sheet-nord-theme .rst__virtualScrollOverride,
.gd-events-sheet-solarized-dark-theme .rst__virtualScrollOverride {
    overflow-x: hidden !important;
}

/*Conditions and actions containers*/
.gd-events-sheet-dark-theme .conditions-container,
.gd-events-sheet-default-theme .conditions-container,
.gd-events-sheet-nord-theme .conditions-container,
.gd-events-sheet-solarized-dark-theme .conditions-container {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 0; /* Prevent container to growing outside its parent */
}

.gd-events-sheet-dark-theme .actions-container,
.gd-events-sheet-default-theme .actions-container,
.gd-events-sheet-nord-theme .actions-container,
.gd-events-sheet-solarized-dark-theme .actions-container {
    padding-left: 5px;
    padding-right: 5px;
    min-width: 0; /* Prevent container to growing outside its parent */
}

.gd-events-sheet-dark-theme .actions-container.small-width-container,
.gd-events-sheet-default-theme .actions-container.small-width-container,
.gd-events-sheet-nord-theme .actions-container.small-width-container,
.gd-events-sheet-solarized-dark-theme .actions-container.small-width-container {
    padding-left: 20px;
}

.gd-events-sheet-dark-theme .sub-instructions-container,
.gd-events-sheet-default-theme .sub-instructions-container,
.gd-events-sheet-nord-theme .sub-instructions-container,
.gd-events-sheet-solarized-dark-theme .sub-instructions-container {
    margin-left: 9px;
    margin-top: 1px;
    border-right: none;
}

.gd-events-sheet-dark-theme .instruction-parameter.object,
.gd-events-sheet-dark-theme .instruction-parameter.objectPtr,
.gd-events-sheet-dark-theme .instruction-parameter.objectList,
.gd-events-sheet-dark-theme .instruction-parameter.objectListWithoutPicking,
.gd-events-sheet-default-theme .instruction-parameter.object,
.gd-events-sheet-default-theme .instruction-parameter.objectPtr,
.gd-events-sheet-default-theme .instruction-parameter.objectList,
.gd-events-sheet-default-theme .instruction-parameter.objectListWithoutPicking,
.gd-events-sheet-nord-theme .instruction-parameter.object,
.gd-events-sheet-nord-theme .instruction-parameter.objectPtr,
.gd-events-sheet-nord-theme .instruction-parameter.objectList,
.gd-events-sheet-nord-theme .instruction-parameter.objectListWithoutPicking,
.gd-events-sheet-solarized-dark-theme .instruction-parameter.object,
.gd-events-sheet-solarized-dark-theme .instruction-parameter.objectPtr,
.gd-events-sheet-solarized-dark-theme .instruction-parameter.objectList,
.gd-events-sheet-solarized-dark-theme .instruction-parameter.objectListWithoutPicking {
    font-weight: bold;
}

.gd-events-sheet-dark-theme .instruction-parameter .instruction-missing-parameter,
.gd-events-sheet-default-theme .instruction-parameter .instruction-missing-parameter,
.gd-events-sheet-nord-theme .instruction-parameter .instruction-missing-parameter,
.gd-events-sheet-solarized-dark-theme .instruction-parameter .instruction-missing-parameter {
    display: inline-flex;
    min-width: 25px;
    min-height: 14px;
}

.gd-events-sheet-dark-theme .rst__rowSearchMatch,
.gd-events-sheet-default-theme .rst__rowSearchMatch,
.gd-events-sheet-nord-theme .rst__rowSearchMatch,
.gd-events-sheet-solarized-dark-theme .rst__rowSearchMatch {
    outline: none;
}

.gd-events-sheet-dark-theme .rst__rowSearchFocus,
.gd-events-sheet-default-theme .rst__rowSearchFocus,
.gd-events-sheet-nord-theme .rst__rowSearchFocus,
.gd-events-sheet-solarized-dark-theme .rst__rowSearchFocus {
    outline: none;
}

.gd-events-sheet-dark-theme .drop-indicator,
.gd-events-sheet-default-theme .drop-indicator,
.gd-events-sheet-nord-theme .drop-indicator,
.gd-events-sheet-solarized-dark-theme .drop-indicator {
    height: 0;
    margin-top: -1px;
    margin-bottom: -1px;
    width: '100%';
    box-sizing: 'border-box';
}

.gd-events-sheet-dark-theme .cant-drop-indicator,
.gd-events-sheet-default-theme .cant-drop-indicator,
.gd-events-sheet-nord-theme .cant-drop-indicator,
.gd-events-sheet-solarized-dark-theme .cant-drop-indicator {
    height: 0;
    margin-top: -1px;
    margin-bottom: -1px;
    width: '100%';
    box-sizing: 'border-box';
}

.gd-events-sheet-dark-theme .icon,
.gd-events-sheet-default-theme .icon,
.gd-events-sheet-nord-theme .icon,
.gd-events-sheet-solarized-dark-theme .icon {
    padding-right: 2px;
    width: 16px;
    height: 16px;
  }