/* This is the styling applied to markdown (like the one used for Changelog). */

.gd-markdown-dark-theme,
.gd-markdown-default-theme,
.gd-markdown-nord-theme,
.gd-markdown-solarized-dark-theme {
  /* Use the fonts provided by the operating system(s) as possible. */
  /* If you update this font list, be sure to do it in all the other places using fonts in the codebase. */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, 'Helvetica Neue', Helvetica, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.gd-markdown-dark-theme.standalone-text-container,
.gd-markdown-default-theme.standalone-text-container,
.gd-markdown-nord-theme.standalone-text-container,
.gd-markdown-solarized-dark-theme.standalone-text-container {
  font-size: 16px;
  line-height: 1.3;
}

.gd-markdown-dark-theme h1,
.gd-markdown-default-theme h1,
.gd-markdown-nord-theme h1,
.gd-markdown-solarized-dark-theme h1 {
  margin-bottom: 10px;
}

.gd-markdown-dark-theme h2,
.gd-markdown-default-theme h2,
.gd-markdown-nord-theme h2,
.gd-markdown-solarized-dark-theme h2 {
  margin-bottom: 10px;
}

.gd-markdown-dark-theme ul,
.gd-markdown-default-theme ul,
.gd-markdown-nord-theme ul,
.gd-markdown-solarized-dark-theme ul {
  word-break: break-word;
}

.gd-markdown-dark-theme blockquote,
.gd-markdown-default-theme blockquote,
.gd-markdown-nord-theme blockquote,
.gd-markdown-solarized-dark-theme blockquote {
  padding-left: 15px;
  margin-left: 20px;
}


.gd-markdown-dark-theme a,
.gd-markdown-default-theme a,
.gd-markdown-nord-theme a,
.gd-markdown-solarized-dark-theme a {
  cursor: pointer;
}

.gd-markdown-dark-theme code,
.gd-markdown-default-theme code,
.gd-markdown-nord-theme code,
.gd-markdown-solarized-dark-theme code {
  font-family: "Lucida Console", Monaco, monospace;
  -webkit-user-select: text;
  user-select: text;
  cursor: text;
}

.gd-markdown-dark-theme img,
.gd-markdown-default-theme img,
.gd-markdown-nord-theme img,
.gd-markdown-solarized-dark-theme img {
  max-width: 100%;
}
