.gd-table {
  /* Use the fonts provided by the operating system(s) as possible. */
  /* If you update this font list, be sure to do it in all the other places using fonts in the codebase. */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, 'Helvetica Neue', Helvetica, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.gd-table .tableHeaderRow,
.gd-table .tableEvenRow,
.gd-table .tableSelectedRow,
.gd-table .tableOddRow {
  font-size: 13px;
}

.gd-table .tableHeaderColumn {
  text-transform: none;
  font-weight: 600;
  font-size: 12px;
}

.gd-table .tableColumn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
