/* This overwrite the default Material UI  */

/* TODO: Make it part of themes */
.Table {
  width: 100%;
  margin-top: 15px;
}
.tableHeaderRow,
.tableEvenRow,
.tableSelectedRow,
.tableOddRow {
  font-size: 13px;
  border-bottom: 1px solid #e0e0e0;
}
.tableOddRow {
  background-color: #fafafa;
}
.tableEvenRow {
  background-color: white;
}
.tableSelectedRow {
  background-color: #4c92ff; /*OS X selection*/
  color: white;
}
.tableHeaderColumn {
  text-transform: none;
  font-weight: 400;
  font-size: 12px;
  color: rgb(158, 158, 158);
}
.tableColumn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
