/docs-wiki
/ExtLibs/SFML
/ExtLibs/*.7z
/scripts/logs/*.txt
/scripts/gdcore-gdcpp-gdjs-extensions-messages.pot
/Binaries/.build*
/Binaries/.embuild*
/Binaries/build*
/Binaries/embuild*
/emsdk
*.dll
*.exe
*.a
*.so
*.bc
/Binaries/Output
*.autosave
!/scripts/libgettextlib-0-17.dll
!/scripts/libgettextsrc-0-17.dll
!/xgettext.exe
!/ExtLibs/curl.exe
!/ExtLibs/7za.exe
!/ExtLibs/SFML/extlibs/**/*.dll
!/ExtLibs/SFML/extlibs/**/*.so
!/ExtLibs/SFML/extlibs/**/*.a
**/.DS_Store
**/node_modules/
!/newIDE/electron-app/app/external/ai-game-workbench.storage-open.asar.unpacked/
!/newIDE/electron-app/app/external/ai-game-workbench.storage-open.asar.unpacked/bin/
!/newIDE/electron-app/app/external/ai-game-workbench.storage-open.asar.unpacked/bin/**
!/newIDE/electron-app/app/external/ai-game-workbench.storage-open.asar.unpacked/node_modules/
!/newIDE/electron-app/app/external/ai-game-workbench.storage-open.asar.unpacked/node_modules/**
.idea
.vscode/ipch
/newIDE/app/src/UI/Theme/**/*ThemeVariables.*
.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db
.claude
__pycache__/
**/__pycache__/
*.pyc
build/