[submodule "thirdParties/ai_game_workbench"]
	path = thirdParties/ai_game_workbench
	url = https://github.com/zhouzhipeng/ai_game_workbench.git
[submodule "thirdParties/image-extender"]
	path = thirdParties/image-extender
	url = https://github.com/zhouzhipeng/image-extender.git
[submodule "thirdParties/gorest-2d-animation-spritesheet-generator"]
	path = thirdParties/gorest-2d-animation-spritesheet-generator
	url = https://github.com/zhouzhipeng/gorest-2d-animation-spritesheet-generator.git
