# AppVeyor configuration to build GDevelop app running
# on the Electron runtime (newIDE/electron-app) for Windows.
# For macOS and Linux, see the config.yml file.

# TODO: changing productName might not be actually needed!

version: 1.0.{build}
pull_requests:
  do_not_increment_build_number: true
image: Visual Studio 2019
clone_depth: 5
# Only build
branches:
  only:
    - master
    - /experimental-build.*/
init:
- ps: ''
install:
- ps: Install-Product node 14
# Build GDevelop.js (and run tests to ensure it works)
- cmd: >-
    cd GDevelop.js

    git clone https://github.com/juj/emsdk.git

    cd emsdk

    emsdk install 1.39.6

    emsdk activate 1.39.6

    emsdk_env.bat

    cd ..

    npm install

    npm run build

    cd ..

# Build GDevelop IDE
- cmd: >-
    cd newIDE\app

    npm install

    cd ..\electron-app

    npm install

    cd ..\..

# Package the app for Windows (and sign it with the certificate set in environment variables). 
# Don't sign the appx (it will be signed by the Microsoft Store).
build_script:
- cmd: >-
    cd newIDE\electron-app

    node --max-old-space-size=3072 scripts/build.js --win nsis --publish=never

    set CSC_LINK=

    set CSC_KEY_PASSWORD=

    node scripts/build.js --skip-app-build --win appx --publish=never

    cd ..\..

# Clean dist folder to keep only installers/binaries.
- cmd: >-
    DEL /F/Q/S newIDE\electron-app\dist\win-unpacked

# Run a few tests on Windows.
test_script:
- cmd: >-
    cd GDevelop.js

    npm test

    cd ..

    cd newIDE\app

    npm test

    cd ..\..

artifacts:
  - path: newIDE\electron-app\dist
    name: GDevelopWindows

# Upload artifacts (AWS) - configuration is stored on AppVeyor itself.
deploy:
  - provider: Environment
    name: Amazon S3 releases
  - provider: Environment
    name: Amazon S3 latest releases
