# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage
flow-coverage

# production
build

# misc
.DS_Store
.env
.env.local
npm-debug.log

# GD library
public/libGD.js

# Third party editors
public/external/Piskel/piskel-editor
public/external/Piskel/piskel-editor.zip
public/external/monaco-editor-min
public/external/jfxr/jfxr-editor/

# Resources
public/res
public/CppPlatform
public/JsPlatform
resources/GDJS

# locales build files
src/locales/_build
src/locales/**/*.po
src/locales/**/*.pot