Package: gdevelop
Version: 3.5.74
Architecture: amd64
Maintainer: Florian Rival <Florian.Rival@gmail.com>
Section: editors
Priority: optional
Depends: build-essential, libwebkitgtk-3.0-0, zenity, libc6-dev
Installed-Size: 190000
Homepage: http://www.compilgames.net
Description: GDevelop, open source HTML5 and native game creator software
 GDevelop is an open source game development software
 allowing to create HTML5 and native games
 without programming.
