aaaa ICON "icon.ico"

#include "GDCore/Tools/Version.h"
#include "wx/msw/wx.rc"

#ifndef DEBUG
#define VER_DEBUG                   0
#else
#define VER_DEBUG                   VS_FF_DEBUG
#endif

1 VERSIONINFO
FILEVERSION    	GDCore_RC_FILEVERSION
PRODUCTVERSION 	GDCore_RC_FILEVERSION
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "Florian Rival"
            VALUE "FileDescription",  "GDevelop Integrated Development Environment"
            VALUE "FileVersion",      GDCore_RC_FILEVERSION_STRING
            VALUE "InternalName",     "GDevelop IDE"
            VALUE "LegalCopyright",   "2008-2016 Florian Rival"
            VALUE "LegalTrademarks1", ""
            VALUE "LegalTrademarks2", ""
            VALUE "OriginalFilename", "GDIDE.exe"
            VALUE "ProductName",      "GDevelop"
            VALUE "ProductVersion",   GDCore_RC_FILEVERSION_STRING
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        /* The following line should only be modified for localized versions.     */
        /* It consists of any number of WORD,WORD pairs, with each pair           */
        /* describing a language,codepage combination supported by the file.      */
        /*                                                                        */
        /* For example, a file might have values "0x409,1252" indicating that it  */
        /* supports English language (0x409) in the Windows ANSI codepage (1252). */

        VALUE "Translation", 0x409, 1252

    END
END
