<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="BugReport">
		<title>Something bad happened!</title>
		<centered>1</centered>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<growablerows>0</growablerows>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
										<cols>3</cols>
										<object class="sizeritem">
											<object class="wxStaticBitmap" name="ID_STATICBITMAP3" variable="StaticBitmap3" member="yes">
												<bitmap stock_id="wxART_INFORMATION" stock_client="wxART_OTHER" />
												<style>wxNO_BORDER</style>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
												<label>It seems that GDevelop has closed abruptly after an&#x0A;error. GDevelop should never freeze or crash whatever &#x0A;the user make. You can help us correct the problem by filling&#x0A;the error report.</label>
											</object>
											<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
										<label>Known bugs for this version of GDevelop</label>
										<object class="sizeritem">
											<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
												<cols>3</cols>
												<growablecols>1</growablecols>
												<growablerows>0</growablerows>
												<object class="sizeritem">
													<object class="wxStaticBitmap" name="ID_STATICBITMAP4" variable="StaticBitmap4" member="yes">
														<bitmap>res/internet32.png</bitmap>
														<style>wxNO_BORDER</style>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxFlexGridSizer" variable="FlexGridSizer12" member="no">
														<cols>1</cols>
														<object class="sizeritem">
															<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
																<label>You can visit a page on our website which can&#x0A;contain known bugs for this version of GDevelop:</label>
															</object>
															<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
														<object class="sizeritem">
															<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL1" variable="bugListBt" member="yes">
																<label>View the known bugs for this version</label>
															</object>
															<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
															<border>5</border>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON4" variable="Button1" member="yes">
										<label>Next</label>
										<handler function="OnButton1Click" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_BOTTOM</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Oops...</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<growablerows>3</growablerows>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
										<label>To help us solve the problem, try to describe the error as precisely as&#x0A;you can. Indicate if possible:&#x0A;-How did the error happened (Click on a button ...)&#x0A;-In which part of program (Scene editor, events editor...)</label>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="UserReportEdit" member="yes">
										<size>408,100</size>
										<style>wxTE_MULTILINE</style>
										<handler function="OnUserReportEditText" entry="EVT_TEXT" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
										<cols>1</cols>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
												<label>You can enter your email: (optional, so as to contact you if we need more information)</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="mailEdit" member="yes" />
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
										<cols>3</cols>
										<growablecols>1</growablecols>
										<growablerows>0</growablerows>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
												<label>When you&apos;ve described the error, click on the button&#x0A;to automatically send the report.&#x0A;&#x0A;Thanks!</label>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON1" variable="CreateRapportBt" member="yes">
												<label>Send my report!</label>
												<handler function="OnCreateRapportBtClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxButton" name="ID_BUTTON5" variable="Button2" member="yes">
										<label>Next</label>
										<handler function="OnButton2Click" entry="EVT_BUTTON" />
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_BOTTOM</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Report the error</label>
					</object>
					<object class="notebookpage">
						<object class="wxPanel" name="ID_PANEL4" variable="Panel4" member="yes">
							<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<growablerows>0</growablerows>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
										<cols>1</cols>
										<growablecols>0</growablecols>
										<growablerows>1</growablerows>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
												<label>Here is a list of the projects opened during the last session:</label>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="openedFilesEdit" member="yes">
												<style>wxTE_MULTILINE|wxTE_READONLY</style>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
										<label>GDevelop may have made automatic backups of these projects. When you&apos;ll&#x0A;close this window, the backups will be opened. If these backup are not corrupted,&#x0A;you can save them over the original project files.</label>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
										<cols>3</cols>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON3" variable="CloseNoOpenBt" member="yes">
												<label>Close but don&apos;t open the autosave(s)</label>
												<handler function="OnCloseNoOpenBtClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON2" variable="CloseBt" member="yes">
												<label>Close</label>
												<handler function="OnCloseBtClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_BOTTOM</flag>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Load autosaves</label>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
