<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="BuildProgressPnl">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>2</growablerows>
			<object class="sizeritem">
				<object class="wxStaticText" name="ID_STATICTEXT1" variable="statusTxt" member="yes">
					<label></label>
					<font>
						<weight>bold</weight>
					</font>
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxGauge" name="ID_GAUGE1" variable="progressGauge" member="yes" />
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="tasksLogEdit" member="yes">
					<size>229,40</size>
					<style>wxTE_MULTILINE|wxTE_READONLY</style>
					<handler function="OntasksLogEditText" entry="EVT_TEXT" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
