<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ChoixBouton">
		<title>Choisir un bouton de la souris</title>
		<size>333,249</size>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>2</cols>
					<object class="sizeritem">
						<object class="wxRadioBox" name="ID_RADIOBOX1" variable="RadioBox1" member="yes">
							<label>Choisissez le bouton :</label>
							<content>
								<item>Bouton gauche</item>
								<item>Bouton droit</item>
								<item>Bouton central</item>
								<item>Bouton spécial 1</item>
								<item>Bouton spécial 2</item>
							</content>
							<default>-1</default>
							<handler function="OnRadioBox1Select" entry="EVT_RADIOBOX" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL1" variable="TestPanel" member="yes">
							<size>123,117</size>
							<bg>#808080</bg>
							<tooltip>Cliquez avec le bouton pour le sélectionner automatiquement dans la liste</tooltip>
							<style>wxRAISED_BORDER|wxTAB_TRAVERSAL</style>
							<handler function="OnTestPanelLeftUp" entry="EVT_LEFT_UP" />
							<handler function="OnTestPanelMiddleUp" entry="EVT_MIDDLE_UP" />
							<handler function="OnTestPanelRightDown" entry="EVT_RIGHT_DOWN" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>3</cols>
					<growablecols>0</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="OkBt" member="yes">
							<label>Ok</label>
							<handler function="OnOkBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="CancelBt" member="yes">
							<label>Annuler</label>
							<handler function="OnCancelBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
