<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="CodeEditor">
		<id_arg>0</id_arg>
		<handler function="OnResize" entry="EVT_SIZE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>3</cols>
			<object class="sizeritem">
				<object class="Custom" name="ID_CUSTOM1" subclass="wxSTEditor" variable="textEditor" member="yes">
					<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),$(NAME));</creating_code>
					<include_file>wx/stedit/stedit.h</include_file>
					<extra_code>//Style option seems to be not saved by wxSmith, add it if necessary.</extra_code>
					<handler function="OntextEditorRightUp" entry="EVT_RIGHT_UP" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenu" variable="contextMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem1" member="yes">
				<label>Copy</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;copy&quot;, 16)' />
				<handler function="OnMenuCopySelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem2" member="yes">
				<label>Cut</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;cut&quot;, 16)' />
				<handler function="OnMenuCutSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM3" variable="MenuItem3" member="yes">
				<label>Paste</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;paste&quot;, 16)' />
				<handler function="OnMenuPasteSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM4" variable="MenuItem4" member="yes">
				<label>Cancel</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;undo&quot;, 16)' />
				<handler function="OnMenuUndoSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM5" variable="MenuItem5" member="yes">
				<label>Redo</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;redo&quot;, 16)' />
				<handler function="OnMenuRedoSelected" entry="EVT_MENU" />
			</object>
		</object>
	</object>
</wxsmith>







