<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="Credits">
		<title>About GDevelop</title>
		<centered>1</centered>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<object class="sizeritem">
				<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="StaticBitmap1" member="yes">
					<bitmap>res/GD-logo.png</bitmap>
					<style>wxNO_BORDER</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>1</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
							<object class="notebookpage">
								<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
									<pos>45,40</pos>
									<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
										<cols>1</cols>
										<growablecols>0</growablecols>
										<growablerows>0</growablerows>
										<object class="sizeritem">
											<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
												<cols>1</cols>
												<growablecols>0</growablecols>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
														<label>GDevelop</label>
														<font>
															<weight>bold</weight>
														</font>
														<minsize>-1,-1</minsize>
														<style>wxALIGN_CENTRE</style>
													</object>
													<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
														<label>was created by</label>
														<style>wxALIGN_CENTRE</style>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
														<cols>3</cols>
														<object class="sizeritem">
															<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL1" variable="florianRival" member="yes">
																<label>Florian &quot;4ian&quot; Rival</label>
																<url>http://www.florianrival.com</url>
															</object>
															<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
															<option>1</option>
														</object>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>20</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
												<cols>3</cols>
												<growablerows>0</growablerows>
												<object class="sizeritem">
													<object class="wxStaticBitmap" name="ID_STATICBITMAP2" variable="StaticBitmap2" member="yes">
														<bitmap>res/website16.png</bitmap>
														<style>wxNO_BORDER</style>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
														<label>Contribute and get help on:</label>
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL2" variable="HyperlinkCtrl1" member="yes">
														<label>www.compilgames.net</label>
														<url>http://www.compilgames.net</url>
													</object>
													<flag>wxTOP|wxBOTTOM|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<option>1</option>
										</object>
									</object>
								</object>
								<label>About</label>
							</object>
							<object class="notebookpage">
								<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
									<pos>62,2</pos>
									<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
										<cols>3</cols>
										<growablecols>0</growablecols>
										<growablerows>0</growablerows>
										<object class="sizeritem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="TextCtrl1" member="yes">
												<value>GDevelop is an open source software:&#x0A;&#x0A;  * The Core library, the native and HTML5 platforms and all extensions (respectively Core, GDCpp, GDJS and Extensions folders) are under the MIT license.&#x0A;  * The IDE (in the IDE folder) is licensed with GPL v3.&#x0A;  * The name, GDevelop, and its logo are the exclusive property of Florian Rival.&#x0A;&#x0A;About games created with GDevelop&#x0A;&#x0A;Games exported with GDevelop are based on the native and/or HTML5 platforms: these platforms are distributed under the MIT license, so that you can distribute, sell or do anything with the games you created with GDevelop. In particular, you are not forced to make your game open source.</value>
												<size>272,51</size>
												<style>wxTE_MULTILINE|wxTE_READONLY</style>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
								</object>
								<label>Licence</label>
							</object>
							<object class="notebookpage">
								<object class="wxPanel" name="ID_PANEL3" variable="Panel3" member="yes">
									<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
										<cols>3</cols>
										<growablecols>0</growablecols>
										<growablerows>0</growablerows>
										<object class="sizeritem">
											<object class="wxHtmlWindow" name="ID_HTMLWINDOW1" subclass="CustomHtmlWindow" variable="HtmlWindow1" member="yes">
												<borders>1</borders>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
								</object>
								<label>Thanks</label>
							</object>
							<object class="notebookpage">
								<object class="wxPanel" name="ID_PANEL4" variable="Panel4" member="yes">
									<object class="wxFlexGridSizer" variable="FlexGridSizer12" member="no">
										<cols>1</cols>
										<growablecols>0</growablecols>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
												<label>Programmed in C++, compiled with GCC, written with Sublime Text</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxGridSizer" variable="GridSizer2" member="no">
												<cols>3</cols>
												<object class="sizeritem">
													<object class="wxBitmapButton" name="ID_BITMAPBUTTON8" variable="BitmapButton1" member="yes">
														<bitmap>res/powered-cpp.png</bitmap>
														<handler function="OnCppBtClick" entry="EVT_BUTTON" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxBitmapButton" name="ID_BITMAPBUTTON9" variable="BitmapButton2" member="yes">
														<bitmap>res/powered-gcc.png</bitmap>
														<default>1</default>
														<handler function="OnGccBtClick" entry="EVT_BUTTON" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxBitmapButton" name="ID_BITMAPBUTTON10" variable="BitmapButton3" member="yes">
														<bitmap>res/powered-st.png</bitmap>
														<default>1</default>
														<handler function="OnCBBtClick" entry="EVT_BUTTON" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
												<label>Use SFML, wxWidgets and TinyXml libraries.</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxGridSizer" variable="GridSizer1" member="no">
												<cols>3</cols>
												<object class="sizeritem">
													<object class="wxBitmapButton" name="ID_BITMAPBUTTON11" variable="BitmapButton4" member="yes">
														<bitmap>res/powered-sfml.png</bitmap>
														<default>1</default>
														<handler function="OnSFMLBtClick" entry="EVT_BUTTON" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxBitmapButton" name="ID_BITMAPBUTTON12" variable="BitmapButton5" member="yes">
														<bitmap>res/powered-wx.png</bitmap>
														<default>1</default>
														<handler function="OnWxBtClick" entry="EVT_BUTTON" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxBitmapButton" name="ID_BITMAPBUTTON3" variable="BitmapButton7" member="yes">
														<bitmap>res/powered-tinyxml.png</bitmap>
														<default>1</default>
														<handler function="OnTinyXmlBtClick" entry="EVT_BUTTON" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
												<label>The Web platform is written in Javascript and uses Pixi.js</label>
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxGridSizer" variable="GridSizer3" member="no">
												<cols>2</cols>
												<object class="sizeritem">
													<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="BitmapButton8" member="yes">
														<bitmap>res/powered-js.png</bitmap>
														<default>1</default>
														<handler function="OnJSBtClick" entry="EVT_BUTTON" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
												<object class="sizeritem">
													<object class="wxBitmapButton" name="ID_BITMAPBUTTON5" variable="BitmapButton10" member="yes">
														<bitmap>res/powered-pixijs.png</bitmap>
														<default>1</default>
														<handler function="OnPixiJsBtClick" entry="EVT_BUTTON" />
													</object>
													<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
													<border>5</border>
													<option>1</option>
												</object>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<option>1</option>
										</object>
									</object>
								</object>
								<label>Used technologies</label>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="OkBt" member="yes">
							<label>Ok</label>
							<handler function="OnOkBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
