<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="EditorLayers">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL3" variable="toolBarPanel" member="yes">
					<size>120,25</size>
					<handler function="OntoolBarPanelResize" entry="EVT_SIZE" />
					<object class="wxAuiManager" variable="AuiManager1" member="yes">
						<object class="AuiManagerItem">
							<object class="wxAuiToolBar" name="ID_AUITOOLBAR1" variable="toolbar" member="yes" />
							<name>PaneName</name>
							<standardpanetype>Toolbar</standardpanetype>
							<caption>Pane caption</caption>
							<captionvisible>0</captionvisible>
							<minimizebutton>0</minimizebutton>
							<maximizebutton>0</maximizebutton>
							<pinbutton>0</pinbutton>
							<layer>10</layer>
							<dockfixed>0</dockfixed>
							<dockabledirection></dockabledirection>
							<resizable>0</resizable>
							<destroyonclose>0</destroyonclose>
							<firstadd>0</firstadd>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxListCtrl" name="ID_LISTCTRL1" variable="layersList" member="yes">
					<size>191,198</size>
					<style>wxLC_REPORT</style>
					<handler function="OnlayersListItemSelect1" entry="EVT_LIST_ITEM_SELECTED" />
					<handler function="OnlayersListItemActivated" entry="EVT_LIST_ITEM_ACTIVATED" />
					<handler function="OnlayersListItemFocused" entry="EVT_LIST_ITEM_FOCUSED" />
					<handler function="OnlayersListItemRClick" entry="EVT_LIST_ITEM_RIGHT_CLICK" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenu" variable="contextMenu" member="yes">
			<object class="wxMenuItem" name="idMenuEdit" variable="MenuItem1" member="yes">
				<label>Edit the layer properties</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;rename&quot;, 16)' />
				<handler function="OnEditSelected1" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idMenuAdd" variable="MenuItem2" member="yes">
				<label>Add a layer</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;add&quot;, 16)' />
				<handler function="OnAddSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuDel" variable="MenuItem3" member="no">
				<label>Delete the layer</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;delete&quot;, 16)' />
				<handler function="OnDelSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idMenuUp" variable="MenuItem4" member="no">
				<label>Move over</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;up&quot;, 16)' />
				<handler function="OnUpSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuDown" variable="MenuItem5" member="no">
				<label>Move below</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;down&quot;, 16)' />
				<handler function="OnDownSelected" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxImageList" variable="imageList" member="yes">
			<image_list>
				<Item>16</Item>
				<Item>16</Item>
			</image_list>
			<image_text>
				<item2>16</item2>
				<item2>16</item2>
			</image_text>
		</object>
	</object>
</wxsmith>







