<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="EditorScene">
		<bg>wxSYS_COLOUR_WINDOW</bg>
		<id_arg>0</id_arg>
		<style>0</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxAuiNotebook" name="ID_AUINOTEBOOK1" variable="notebook" member="yes">
					<style>wxAUI_NB_TAB_SPLIT|wxAUI_NB_TAB_MOVE|wxAUI_NB_SCROLL_BUTTONS|wxNO_BORDER</style>
					<handler function="OnnotebookPageChanged" entry="EVT_AUINOTEBOOK_PAGE_CHANGED" />
					<handler function="OnnotebookPageChanging" entry="EVT_AUINOTEBOOK_PAGE_CHANGING" />
					<object class="AuiNotebookPage">
						<object class="wxPanel" name="ID_PANEL1" variable="scenePanel" member="yes">
							<bg>#FFFFFF</bg>
							<help>Edit the layout of the scene</help>
							<style>wxNO_BORDER|wxTAB_TRAVERSAL</style>
							<handler function="OnscenePanelResize" entry="EVT_SIZE" />
							<object class="wxScrollBar" name="ID_SCROLLBAR3" variable="vScrollbar" member="yes">
								<value>2500</value>
								<thumbsize>10</thumbsize>
								<range>5000</range>
								<pagesize>10</pagesize>
								<style>wxSB_VERTICAL</style>
								<handler function="OnvScrollbarScroll" entry="EVT_COMMAND_SCROLL" />
								<handler function="OnvScrollbarScroll" entry="EVT_COMMAND_SCROLL_THUMBTRACK" />
								<handler function="OnvScrollbarScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<object class="wxScrollBar" name="ID_SCROLLBAR4" variable="hScrollbar" member="yes">
								<value>2500</value>
								<thumbsize>10</thumbsize>
								<range>5000</range>
								<pagesize>10</pagesize>
								<style>wxSB_HORIZONTAL</style>
								<handler function="OnhScrollbarScroll" entry="EVT_COMMAND_SCROLL" />
								<handler function="OnhScrollbarScroll" entry="EVT_COMMAND_SCROLL_THUMBTRACK" />
								<handler function="OnhScrollbarScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
							</object>
							<object class="Custom" name="ID_CUSTOM3" subclass="gd::LayoutEditorCanvas" variable="layoutEditorCanvas" member="yes">
								<creating_code>$(THIS) = new $(CLASS)($(PARENT), project, layout, layout.GetInitialInstances(), layout.GetAssociatedLayoutEditorCanvasOptions(), mainFrameWrapper);</creating_code>
								<local_include>1</local_include>
								<style></style>
								<pos>0,0</pos>
								<size>800,600</size>
								<focused>1</focused>
								<handler function="OnsceneCanvasSetFocus" entry="EVT_SET_FOCUS" />
							</object>
						</object>
						<label>Scene</label>
						<icon code='gd::SkinHelper::GetIcon(&quot;scene&quot;, 16)' />
					</object>
					<object class="AuiNotebookPage">
						<object class="wxPanel" name="ID_PANEL6" variable="eventsPanel" member="yes">
							<bg>#FFFFFF</bg>
							<help>Edit the events of the scene</help>
							<style>wxNO_BORDER|wxTAB_TRAVERSAL</style>
							<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<growablerows>0</growablerows>
								<object class="sizeritem">
									<object class="Custom" name="ID_CUSTOM2" subclass="EventsEditor" variable="eventsEditor" member="yes">
										<creating_code>$(THIS) = new $(CLASS)($(PARENT), project, layout, mainFrameWrapper);</creating_code>
										<style></style>
										<size>456,317</size>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<option>1</option>
								</object>
							</object>
						</object>
						<label>Events</label>
						<icon code='gd::SkinHelper::GetIcon(&quot;events&quot;, 16)' />
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
