<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="EditorObjets">
		<id_arg>0</id_arg>
		<handler function="OnResize" entry="EVT_SIZE" />
		<object class="wxNotebook" name="ID_NOTEBOOK1" variable="Notebook1" member="yes">
			<size>128,168</size>
			<object class="notebookpage">
				<object class="wxNotebook" name="ID_NOTEBOOK2" variable="sceneNotebook" member="yes">
					<object class="notebookpage">
						<object class="Custom" name="ID_CUSTOM3" subclass="EditorObjectList" variable="sceneObjectsEditor" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT), game, &amp;scene.initialObjects, mainEditorCommand, &amp;scene);</creating_code>
							<include_file>EditorObjectList.h</include_file>
							<local_include>1</local_include>
							<style></style>
						</object>
						<label>Objets</label>
					</object>
					<object class="notebookpage">
						<object class="Custom" name="ID_CUSTOM1" subclass="EditorObjetsGroups" variable="ObjetsGroups" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT), game, scene, &amp;scene.objectGroups, mainEditorCommand);</creating_code>
							<style></style>
							<pos>71,14</pos>
						</object>
						<label>Groupes d&apos;objets</label>
					</object>
				</object>
				<label>Scène</label>
			</object>
			<object class="notebookpage">
				<object class="wxNotebook" name="ID_NOTEBOOK3" variable="globalNotebook" member="yes">
					<object class="notebookpage">
						<object class="Custom" name="ID_CUSTOM2" subclass="EditorObjectList" variable="globalObjectsEditor" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT), game, &amp;game.globalObjects, mainEditorCommand, &amp;scene);</creating_code>
							<include_file>EditorObjectList.h</include_file>
							<local_include>1</local_include>
							<style></style>
						</object>
						<label>Objets globaux</label>
					</object>
					<object class="notebookpage">
						<object class="Custom" name="ID_CUSTOM4" subclass="EditorObjetsGroups" variable="globalObjectsGroups" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT), game, scene, &amp;game.objectGroups, mainEditorCommand);</creating_code>
							<style></style>
							<pos>71,14</pos>
						</object>
						<label>Groupes globaux</label>
					</object>
				</object>
				<label>Global à tout le jeu</label>
			</object>
		</object>
	</object>
</wxsmith>
