<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="EditPropJeu">
		<title>Editer les propriétés du jeu</title>
		<centered>1</centered>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>2</growablerows>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
					<label>Options principales</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
							<cols>1</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
									<cols>3</cols>
									<growablecols>1</growablecols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
											<label>Nom :</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="NomEdit" member="yes" />
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
									<cols>3</cols>
									<growablecols>1</growablecols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
											<label>Auteur :</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="AuteurEdit" member="yes" />
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
									<cols>5</cols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
											<label>Taille de la fenêtre de jeu :</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="WidthEdit" member="yes">
											<size>34,21</size>
											<tooltip>Largeur de la fenêtre de jeu.&#x0A;Généralement, 640, 800 ( défaut ) ou 1024.</tooltip>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
											<label>x</label>
										</object>
										<flag>wxTOP|wxBOTTOM|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="HeightEdit" member="yes">
											<size>35,21</size>
											<tooltip>Hauteur de la fenêtre de jeu.&#x0A;Généralement, 480, 600 ( Défaut ) ou 768.</tooltip>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer19" member="no">
									<cols>3</cols>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX5" variable="FPSmaxCheck" member="yes">
											<label>FPS maximum :</label>
											<handler function="OnFPSmaxCheckClick" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="FPSmax" member="yes">
											<value>60</value>
											<max>1000</max>
											<size>58,21</size>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX6" variable="SyncCheck" member="yes">
											<label>Sychronisation verticale</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer20" member="no">
									<cols>3</cols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticText12" member="yes">
											<label>FPS minimum :</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="FPSmin" member="yes">
											<value>0</value>
											<max>1000</max>
											<size>80,21</size>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
					<label>Avancé</label>
					<object class="sizeritem">
						<object class="Custom" name="ID_PROPGRID" subclass="wxPropertyGrid" variable="propertyGrid" member="yes">
							<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),0,$(NAME));</creating_code>
							<include_file>wx/propgrid/propgrid.h</include_file>
							<style></style>
							<size>429,306</size>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer12" member="no">
					<cols>3</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxStaticLine" name="ID_STATICLINE3" variable="StaticLine3" member="yes">
							<size>10,-1</size>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
					<cols>3</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="OkBt" member="yes">
							<label>Ok</label>
							<handler function="OnOkBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON6" variable="cancelBt" member="yes">
							<label>Annuler</label>
							<handler function="OncancelBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="AideBt" member="yes">
							<label>Aide</label>
							<handler function="OnAideBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
