<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="EventsEditor">
		<id_arg>0</id_arg>
		<handler function="OneventsPanelKeyDown" entry="EVT_KEY_DOWN" />
		<handler function="OneventsPanelKeyUp" entry="EVT_KEY_UP" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>2</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxControl" name="ID_PANEL1" variable="eventsPanel" member="yes">
					<bg>#FFFFFF</bg>
					<handler function="OneventsPanelPaint" entry="EVT_PAINT" />
					<handler function="OneventsPanelEraseBackground" entry="EVT_ERASE_BACKGROUND" />
					<handler function="OneventsPanelKeyDown" entry="EVT_KEY_DOWN" />
					<handler function="OneventsPanelKeyUp" entry="EVT_KEY_UP" />
					<handler function="OneventsPanelLeftDown" entry="EVT_LEFT_DOWN" />
					<handler function="OneventsPanelLeftUp" entry="EVT_LEFT_UP" />
					<handler function="OneventsPanelLeftDClick" entry="EVT_LEFT_DCLICK" />
					<handler function="OneventsPanelRightUp" entry="EVT_RIGHT_UP" />
					<handler function="OneventsPanelMouseMove" entry="EVT_MOTION" />
					<handler function="OneventsPanelMouseLeave" entry="EVT_LEAVE_WINDOW" />
					<handler function="OneventsPanelMouseWheel" entry="EVT_MOUSEWHEEL" />
					<handler function="OnResize" entry="EVT_SIZE" />
					<object class="wxPanel" name="ID_PANEL2" variable="liveEditingPanel" member="yes">
						<pos>100,100</pos>
						<style>wxSIMPLE_BORDER</style>
						<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
							<cols>3</cols>
							<growablecols>0</growablecols>
							<growablerows>0</growablerows>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="liveEdit" member="yes">
									<size>280,21</size>
									<style>wxTE_PROCESS_ENTER</style>
									<handler function="OnliveEditText" entry="EVT_TEXT" />
									<handler function="OnliveEditTextEnter" entry="EVT_TEXT_ENTER" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="parameterEditBt" member="yes">
									<bitmap code='gd::SkinHelper::GetIcon(&quot;edit&quot;, 16)' />
									<handler function="OnparameterEditBtClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
						</object>
					</object>
					<object class="wxPanel" name="ID_PANEL3" variable="eventContextPanel" member="yes">
						<pos>136,24</pos>
						<size>224,40</size>
						<style>wxNO_BORDER|wxTAB_TRAVERSAL</style>
						<handler function="OneventContextPanelPaint" entry="EVT_PAINT" />
						<handler function="OneventContextPanelEraseBackground" entry="EVT_ERASE_BACKGROUND" />
						<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
							<cols>7</cols>
							<object class="sizeritem">
								<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="addEventIcon" member="yes">
									<bitmap>gd::SkinHelper::GetIcon(&quot;add_event&quot;, 16)</bitmap>
									<tooltip>Add an event</tooltip>
									<style>wxNO_BORDER</style>
								</object>
								<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="addEventBt" member="yes">
									<label>Add an event</label>
								</object>
								<flag>wxTOP|wxBOTTOM|wxLEFT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
							</object>
							<object class="sizeritem">
								<object class="wxStaticBitmap" name="ID_STATICBITMAP2" variable="addSubEventIcon" member="yes">
									<bitmap>gd::SkinHelper::GetIcon(&quot;add_subevent&quot;, 16)</bitmap>
									<tooltip>Add a sub event</tooltip>
									<style>wxNO_BORDER</style>
								</object>
								<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT2" variable="addSubEventBt" member="yes">
									<label>A sub event</label>
								</object>
								<flag>wxTOP|wxBOTTOM|wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticBitmap" name="ID_STATICBITMAP3" variable="addMoreIcon" member="yes">
									<bitmap code='gd::SkinHelper::GetIcon(&quot;add&quot;, 16)' />
									<tooltip>Another event type</tooltip>
									<style>wxNO_BORDER</style>
								</object>
								<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT3" variable="addMoreBt" member="yes">
									<label>Other</label>
								</object>
								<flag>wxTOP|wxBOTTOM|wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
					</object>
					<object class="wxPanel" name="ID_PANEL4" variable="listContextPanel" member="yes">
						<pos>136,50</pos>
						<size>224,40</size>
						<style>wxNO_BORDER|wxTAB_TRAVERSAL</style>
						<handler function="OnlistContextPanelPaint" entry="EVT_PAINT" />
						<handler function="OnlistContextPanelEraseBackground" entry="EVT_ERASE_BACKGROUND" />
						<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
							<cols>3</cols>
							<object class="sizeritem">
								<object class="wxStaticBitmap" name="ID_STATICBITMAP4" variable="addInstrIcon" member="yes">
									<bitmap code='gd::SkinHelper::GetIcon(&quot;add&quot;, 16)' />
									<tooltip>Add a condition</tooltip>
									<style>wxNO_BORDER</style>
								</object>
								<flag>wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT4" variable="addInstrBt" member="yes">
									<label>Add a condition</label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>2</border>
								<option>1</option>
							</object>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxScrollBar" name="ID_SCROLLBAR1" variable="scrollBar" member="yes">
					<thumbsize>1</thumbsize>
					<range>10</range>
					<pagesize>1</pagesize>
					<style>wxSB_VERTICAL</style>
					<handler function="OnscrollBarScroll" entry="EVT_COMMAND_SCROLL" />
					<handler function="OnscrollBarScroll" entry="EVT_COMMAND_SCROLL_THUMBTRACK" />
					<handler function="OnscrollBarScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenu" variable="eventTypesMenu" member="yes" />
		<object class="wxMenu" variable="eventsContextMenu" member="yes">
			<object class="wxMenuItem" name="deleteMenuItem" variable="deleteMenu" member="yes">
				<label>Delete</label>
				<accel>DEL</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;delete&quot;, 16)' />
				<handler function="OndeleteMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="toggleActivationMenuItem" variable="toggleActivation" member="yes">
				<label>De/activate</label>
				<handler function="OntoggleActivationSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="copyMenuItem" variable="eventCopyMenu" member="yes">
				<label>Copy</label>
				<accel>Ctrl-C</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;copy&quot;, 16)' />
				<handler function="OneventCopyMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="cutMenuItem" variable="eventCutMenu" member="yes">
				<label>Cut</label>
				<accel>Ctrl-X</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;cut&quot;, 16)' />
				<handler function="OneventCutMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM4" variable="eventPasteMenu" member="yes">
				<label>Paste</label>
				<accel>Ctrl-V</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;paste&quot;, 16)' />
				<handler function="OneventPasteMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM5" variable="undoMenu" member="yes">
				<label>Cancel</label>
				<accel>Ctrl-Z</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;undo&quot;, 16)' />
				<handler function="OnundoMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM6" variable="redoMenu" member="yes">
				<label>Redo</label>
				<accel>Ctrl-Y</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;redo&quot;, 16)' />
				<handler function="OnredoMenuSelected" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxMenu" variable="multipleContextMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM7" variable="MenuItem1" member="yes">
				<label>Delete</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;delete&quot;, 16)' />
				<handler function="OndeleteMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM11" variable="MenuItem5" member="yes">
				<label>Cancel</label>
				<handler function="OnundoMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM12" variable="MenuItem6" member="yes">
				<label>Redo</label>
				<handler function="OnredoMenuSelected" entry="EVT_MENU" />
			</object>
		</object>
	</object>
</wxsmith>







