<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="ExternalLayoutEditor">
		<bg>#FFFFFF</bg>
		<id_arg>0</id_arg>
		<handler function="OnResize" entry="EVT_SIZE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL2" variable="corePanel" member="yes">
					<bg>#FFFFFF</bg>
					<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
						<cols>1</cols>
						<growablecols>0</growablecols>
						<growablerows>1</growablerows>
						<object class="sizeritem">
							<object class="wxPanel" name="ID_PANEL1" variable="contextPanel" member="yes">
								<bg>#FFFFFF</bg>
								<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
									<cols>3</cols>
									<growablecols>1</growablecols>
									<growablerows>0</growablerows>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
											<label>Edit as if the objects were included to scene :</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxComboBox" name="ID_COMBOBOX1" variable="parentSceneComboBox" member="yes">
											<content>
												<item>No scene</item>
											</content>
											<selection>0</selection>
											<handler function="OnparentSceneComboBoxSelected" entry="EVT_COMBOBOX" />
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>3</border>
										<option>1</option>
									</object>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<growablerows>0,1</growablerows>
								<object class="sizeritem">
									<object class="wxPanel" name="ID_PANEL5" variable="layoutPanel" member="yes">
										<bg>#FFFFFF</bg>
										<style>wxNO_BORDER|wxTAB_TRAVERSAL</style>
										<handler function="OnscenePanelResize" entry="EVT_SIZE" />
										<object class="wxScrollBar" name="ID_SCROLLBAR2" variable="scrollBar2" member="yes">
											<value>2500</value>
											<thumbsize>10</thumbsize>
											<range>5000</range>
											<pagesize>10</pagesize>
											<style>wxSB_VERTICAL</style>
											<handler function="OnscrollBar2Scroll" entry="EVT_COMMAND_SCROLL" />
										</object>
										<object class="wxScrollBar" name="ID_SCROLLBAR1" variable="scrollBar1" member="yes">
											<value>2500</value>
											<thumbsize>10</thumbsize>
											<range>5000</range>
											<pagesize>10</pagesize>
											<style>wxSB_HORIZONTAL</style>
											<handler function="OnscrollBar1Scroll" entry="EVT_COMMAND_SCROLL" />
										</object>
										<object class="Custom" name="ID_CUSTOM1" subclass="CppLayoutPreviewer" variable="layoutEditorCanvas" member="yes">
											<creating_code>layoutEditorCanvas = new CppLayoutPreviewer(layoutPanel, project, emptyLayout, instanceContainer, externalLayout.GetAssociatedSettings(), mainFrameWrapper);</creating_code>
											<style>wxWANTS__CHARS | wxBORDER__SIMPLE</style>
											<pos>0,0</pos>
											<size>800,600</size>
											<focused>1</focused>
											<handler function="OnsceneCanvasSetFocus" entry="EVT_SET_FOCUS" />
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxPanel" name="ID_PANEL3" variable="helpPanel" member="yes">
										<bg>#FFFFFF</bg>
										<object class="wxFlexGridSizer" variable="helpSizer" member="no">
											<cols>3</cols>
											<growablerows>0</growablerows>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
													<label>Choose the scene to be used as a base for editing the external layout</label>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="StaticBitmap1" member="yes">
													<bitmap code='gd::SkinHelper::GetIcon(&quot;up&quot;, 16)' />
													<style>wxNO_BORDER</style>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
