<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="HtmlViewerPnl">
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>3</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="Custom" name="ID_CUSTOM1" subclass="wxWebView" variable="Custom1" member="yes">
					<creating_code>$(THIS) = wxWebView::New($(PARENT),$(ID),&quot;www.wiki.compilgames.net&quot;,$(POS),$(SIZE));</creating_code>
					<include_file>wx/webview.h</include_file>
					<size>278,334</size>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
