<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="InitialPositionBrowserDlg">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>3</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxListCtrl" name="ID_LISTCTRL1" variable="initialPositionsList" member="yes">
					<size>206,167</size>
					<style>wxLC_REPORT</style>
					<handler function="OninitialPositionsListItemActivated" entry="EVT_LIST_ITEM_ACTIVATED" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
