<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="LayoutEditorPropertiesPnl">
		<id_arg>0</id_arg>
		<handler function="OnResize" entry="EVT_SIZE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>3</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="Custom" name="ID_PROPGRID" subclass="wxPropertyGrid" variable="grid" member="yes">
					<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),wxPG_HIDE_MARGIN,$(NAME));</creating_code>
					<include_file>wx/propgrid/propgrid.h</include_file>
					<style></style>
					<size>359,438</size>
					<fg>wxSYS_COLOUR_HIGHLIGHT</fg>
					<bg>wxSYS_COLOUR_HIGHLIGHT</bg>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
