<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="MainFrame">
		<title>GDevelop</title>
		<centered>1</centered>
		<icon>res/icon16.png</icon>
		<size>850,700</size>
		<id_arg>0</id_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<handler function="OnResize" entry="EVT_SIZE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="ribbonSizer" member="no">
					<orient>wxVERTICAL</orient>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
						<cols>1</cols>
						<growablecols>0</growablecols>
						<growablerows>0</growablerows>
						<object class="sizeritem">
							<object class="wxAuiNotebook" name="ID_AUINOTEBOOK1" variable="editorsNotebook" member="yes">
								<style>wxAUI_NB_TAB_SPLIT|wxAUI_NB_TAB_MOVE|wxAUI_NB_SCROLL_BUTTONS|wxAUI_NB_TOP|wxNO_BORDER</style>
								<handler function="OneditorsNotebookPageClose" entry="EVT_AUINOTEBOOK_PAGE_CLOSE" />
								<handler function="OnNotebook1PageChanged" entry="EVT_AUINOTEBOOK_PAGE_CHANGED" />
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="Custom" name="ID_CUSTOM1" subclass="wxInfoBar" variable="infoBar" member="yes">
								<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID));</creating_code>
								<include_file>wx/infobar.h</include_file>
								<style></style>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenu" variable="openContextMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem1" member="no">
				<label>Open an example</label>
				<handler function="OnOpenExampleSelected" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxMenu" variable="saveContextMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem10" member="yes">
				<label>Save as...</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;saveas&quot;, 16)' />
				<handler function="OnMenuSaveAsSelected" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxMenu" variable="decomposerContextMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM4" variable="MenuItem41" member="no">
				<label>Decompose an animated GIF</label>
				<bitmap>res/importgif.png</bitmap>
				<handler function="OnDecomposeGIFSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM5" variable="MenuItem42" member="no">
				<label>Decompose a RPG Maker character</label>
				<bitmap>res/importrpgmaker.png</bitmap>
				<handler function="OnDecomposeRPGSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM6" variable="MenuItem43" member="yes">
				<label>Decompose a spritesheet</label>
				<bitmap>res/spritesheet16.png</bitmap>
				<handler function="OnDecomposeSSSelected" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="autoSaveTimer" member="yes">
			<interval>180000</interval>
			<handler function="OnautoSaveTimerTrigger" entry="EVT_TIMER" />
		</object>
		<object class="wxMenu" variable="fileMenu" member="yes">
			<extra_code>menuRecentFiles-&gt;Delete(toBeDeletedMenuItem);</extra_code>
			<object class="wxMenuItem" name="ID_MENUITEM7" variable="MenuItem2" member="yes">
				<label>New</label>
				<accel>Ctrl+N</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;new&quot;, 16)' />
				<handler function="OnMenuNewSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM9" variable="MenuItem3" member="yes">
				<label>Open</label>
				<accel>Ctrl+O</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;open&quot;, 16)' />
				<handler function="OnMenuOpenSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM10" variable="MenuItem4" member="yes">
				<label>Open an example</label>
				<handler function="OnOpenExampleSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenu" name="ID_MENUITEM26" variable="menuRecentFiles" member="yes">
				<label>Recently opened</label>
				<object class="wxMenuItem" name="toBeDeletedMenuItem" variable="MenuItem23" member="yes">
					<label>useless</label>
				</object>
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM12" variable="MenuItem6" member="yes">
				<label>Save</label>
				<accel>Ctrl+S</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;save&quot;, 16)' />
				<handler function="OnMenuSaveSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM13" variable="MenuItem7" member="yes">
				<label>Save as...</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;saveas&quot;, 16)' />
				<handler function="OnMenuSaveAsSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM8" variable="MenuItem5" member="yes">
				<label>Save as folder project</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;open&quot;, 16)' />
				<handler function="OnMenuSaveAsFolderSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM16" variable="MenuItem12" member="yes">
				<label>Save all</label>
				<accel>Ctrl+Shift+S</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;save_all&quot;, 16)' />
				<handler function="OnMenuSaveAllSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM19" variable="MenuItem15" member="yes">
				<label>Close the current project</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;close&quot;, 16)' />
				<handler function="OnCloseCurrentProjectSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM17" variable="MenuItem13" member="yes">
				<label>Options</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;options&quot;, 16)' />
				<handler function="OnMenuPrefSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM27" variable="MenuItem22" member="yes">
				<label>Help</label>
				<accel>F1</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;help&quot;, 16)' />
				<handler function="OnMenuAideSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM14" variable="MenuItem8" member="yes">
				<label>Quit</label>
				<help>Quit GDevelop</help>
				<handler function="OnQuit" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxMenu" variable="helpMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM20" variable="MenuItem16" member="yes">
				<label>Help</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;help&quot;, 16)' />
				<handler function="OnMenuAideSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM23" variable="MenuItem19" member="yes">
				<label>Tutorial</label>
				<handler function="OnMenuTutoSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM25" variable="MenuItem21" member="yes">
				<label>Check for updates</label>
				<handler function="OnMenuItem36Selected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM24" variable="MenuItem20" member="yes">
				<label>Official web site</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;site&quot;, 16)' />
				<handler function="OnMenuSiteSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM21" variable="MenuItem17" member="yes">
				<label>About...</label>
				<bitmap>res/icon16.png</bitmap>
				<handler function="OnAbout" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxMenu" variable="disabledFileMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM3" variable="MenuItem11" member="yes">
				<label>Please stop the preview before continuing</label>
				<enabled>0</enabled>
			</object>
		</object>
	</object>
</wxsmith>
