<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="mp3ogg">
		<title>Convert MP3 to OGG Vorbis</title>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer17" member="no">
					<cols>1</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
							<size>420,54</size>
							<bg>wxSYS_COLOUR_WINDOW</bg>
							<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
								<cols>3</cols>
								<object class="sizeritem">
									<object class="wxStaticBitmap" name="ID_STATICBITMAP3" variable="StaticBitmap3" member="yes">
										<bitmap>res/mp3ogg.png</bitmap>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
										<label>GDevelop can not read the MP3 format (owing to license&#x0A;and algorithms patented by Fraunhofer-Gesellschaft), you can&#x0A;convert a MP3 file to the free OGG Vorbis format or WAV.</label>
										<size>336,54</size>
										<style>wxALIGN_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
							<size>10,-1</size>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
					<label>Conversion</label>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
							<cols>1</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
									<label>A MP3 file is a music, or is meant to be played as a music :</label>
									<size>317,36</size>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON1" variable="EncoderBt" member="yes">
									<label>Choose a MP3 file and encode in OGG Vorbis</label>
									<handler function="OnEncoderBtClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
									<label>A WAV file is a sound, an effect, or is meant to be played as a sound :</label>
									<size>331,35</size>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON3" variable="EncoderWAVBt" member="yes">
									<label>Choose a MP3 file and encode in WAV</label>
									<handler function="OnEncoderWAVBtClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
					<label>Note</label>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
							<label>This utility uses lame.exe ( free MP3 Encoder )&#x0A;and OGGENC.EXE (free OGG Vorbis Encoder ).&#x0A;These latter are included in the GDevelop directory.</label>
							<size>331,61</size>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE2" variable="StaticLine2" member="yes">
					<size>10,-1</size>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>2</cols>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="FermerBt" member="yes">
							<label>Close</label>
							<handler function="OnFermerBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>







