<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="ObjectsEditor">
		<id_arg>0</id_arg>
		<handler function="OnSetFocus" entry="EVT_SET_FOCUS" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxTreeCtrl" name="ID_TREECTRL1" variable="objectsList" member="yes">
					<image_list>&lt;none&gt;</image_list>
					<tree_items>
						<item>objectsList</item>
						<item>&lt;none&gt;</item>
					</tree_items>
					<items_text>
						<item2>objectsList</item2>
						<item2>&lt;none&gt;</item2>
					</items_text>
					<style>wxTR_EDIT_LABELS|wxTR_HIDE_ROOT|wxTR_ROW_LINES|wxTR_MULTIPLE|wxTR_DEFAULT_STYLE|wxNO_BORDER</style>
					<handler function="OnobjectsListBeginDrag" entry="EVT_TREE_BEGIN_DRAG" />
					<handler function="OnobjectsListBeginLabelEdit" entry="EVT_TREE_BEGIN_LABEL_EDIT" />
					<handler function="OnobjectsListEndLabelEdit" entry="EVT_TREE_END_LABEL_EDIT" />
					<handler function="OnobjectsListItemActivated" entry="EVT_TREE_ITEM_ACTIVATED" />
					<handler function="OnobjectsListItemRightClick" entry="EVT_TREE_ITEM_RIGHT_CLICK" />
					<handler function="OnobjectsListSelectionChanged" entry="EVT_TREE_SEL_CHANGED" />
					<handler function="OnobjectsListKeyDown" entry="EVT_TREE_KEY_DOWN" />
					<handler function="OnobjectsListItemMenu" entry="EVT_TREE_ITEM_MENU" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL1" subclass="wxSearchCtrl" variable="searchCtrl" member="yes">
					<style>wxNO_BORDER</style>
					<handler function="OnsearchCtrlText" entry="EVT_TEXT" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenu" variable="contextMenu" member="yes">
			<object class="wxMenuItem" name="idMenuModObj" variable="editMenuI" member="no">
				<label>Edit</label>
				<handler function="OnMenuEditObjectSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuAddAuto" variable="MenuItem13" member="yes">
				<label>Add a behavior</label>
				<handler function="OnMenuAddBehaviorSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuProp" variable="editPropMenuItem" member="no">
				<label>Other properties</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;properties&quot;, 16)' />
				<handler function="OnMenuPropertiesSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idMenuAddObj" variable="addObjMenuI" member="no">
				<label>Add an object</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;add&quot;, 16)' />
				<handler function="OnAddObjectSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuDelObj" variable="delObjMenuI" member="no">
				<label>Delete</label>
				<accel>Del</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;delete&quot;, 16)' />
				<handler function="OnDeleteSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuModName" variable="editNameMenuI" member="no">
				<label>Rename</label>
				<accel>F2</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;rename&quot;, 16)' />
				<handler function="OnMenuRenameSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_SETGLOBALITEM" variable="MenuItem11" member="yes">
				<label>Set as global object</label>
				<handler function="OnSetGlobalSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idMoveUp" variable="moveUpMenuI" member="yes">
				<label>Move up</label>
				<accel>Ctrl-Up</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;up&quot;, 16)' />
				<handler function="OnMoveupSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMoveDown" variable="moveDownMenuI" member="yes">
				<label>Move down</label>
				<accel>Ctrl-Down</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;down&quot;, 16)' />
				<handler function="OnMoveDownSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idMenuCopy" variable="copyMenuI" member="yes">
				<label>Copy</label>
				<accel>Ctrl-C</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;copy&quot;, 16)' />
				<handler function="OnCopySelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuCut" variable="cutMenuI" member="yes">
				<label>Cut</label>
				<accel>Ctrl-X</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;cut&quot;, 16)' />
				<handler function="OnCutSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuPaste" variable="pasteMenuI" member="yes">
				<label>Paste</label>
				<accel>Ctrl-V</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;paste&quot;, 16)' />
				<handler function="OnPasteSelected" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxMenu" variable="multipleContextMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM7" variable="MenuItem2" member="yes">
				<label>Delete</label>
				<accel>DEL</accel>
				<help>Delete all selected items</help>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;delete&quot;, 16)' />
				<handler function="OnDeleteSelected" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxMenu" variable="groupContextMenu" member="yes">
			<object class="wxMenuItem" name="IdGroupEdit" variable="editMenuItem" member="no">
				<label>Add object(s) to group</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;properties&quot;, 16)' />
				<handler function="OnMenuEditObjectSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idModName" variable="MenuItem4" member="yes">
				<label>Rename</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;rename&quot;, 16)' />
				<handler function="OnMenuRenameSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM8" variable="MenuItem12" member="yes">
				<label>Set as global group</label>
				<handler function="OnSetGlobalSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idAddGroup" variable="MenuItem1" member="yes">
				<label>Add a group</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;add&quot;, 16)' />
				<handler function="OnAddGroupSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idDelGroup" variable="MenuItem3" member="yes">
				<label>Delete</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;delete&quot;, 16)' />
				<handler function="OnDeleteSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem5" member="yes">
				<label>Copy</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;copy&quot;, 16)' />
				<handler function="OnCopySelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem6" member="yes">
				<label>Cut</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;cut&quot;, 16)' />
				<handler function="OnCutSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM3" variable="MenuItem7" member="yes">
				<label>Paste</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;paste&quot;, 16)' />
				<handler function="OnPasteSelected" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxMenu" variable="emptyContextMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM4" variable="MenuItem8" member="yes">
				<label>Add an object</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;add&quot;, 16)' />
				<handler function="OnAddObjectSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM5" variable="MenuItem9" member="yes">
				<label>Add a group</label>
				<handler function="OnAddGroupSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM6" variable="MenuItem10" member="yes">
				<label>Paste</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;paste&quot;, 16)' />
				<handler function="OnPasteSelected" entry="EVT_MENU" />
			</object>
		</object>
	</object>
</wxsmith>
