<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="OldEventsEditor">
		<size>536,252</size>
		<id_arg>0</id_arg>
		<style>0</style>
		<handler function="OnEventsPanelKeyUp" entry="EVT_KEY_UP" />
		<handler function="OnEventsPanelMouseWheel" entry="EVT_MOUSEWHEEL" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
			<cols>2</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL2" variable="EventsPanel" member="yes">
					<handler function="OnEventsPanelPaint" entry="EVT_PAINT" />
					<handler function="OnEventsPanelKeyUp" entry="EVT_KEY_UP" />
					<handler function="OnEventsPanelSetFocus" entry="EVT_SET_FOCUS" />
					<handler function="OnEventsPanelLeftDown" entry="EVT_LEFT_DOWN" />
					<handler function="OnEventsPanelLeftUp" entry="EVT_LEFT_UP" />
					<handler function="OnEventsPanelLeftDClick" entry="EVT_LEFT_DCLICK" />
					<handler function="OnEventsPanelRightUp" entry="EVT_RIGHT_UP" />
					<handler function="OnEventsPanelMouseMove" entry="EVT_MOTION" />
					<handler function="OnEventsPanelMouseWheel" entry="EVT_MOUSEWHEEL" />
					<handler function="OnEventsPanelResize" entry="EVT_SIZE" />
					<object class="wxPanel" name="ID_PANEL1" variable="contextPanel" member="yes">
						<pos>56,72</pos>
						<size>24,40</size>
						<bg>#FFFFFF</bg>
						<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxScrollBar" name="ID_SCROLLBAR1" variable="ScrollBar1" member="yes">
					<thumbsize>1</thumbsize>
					<range>1000</range>
					<pagesize>1</pagesize>
					<size>18,130</size>
					<style>wxSB_VERTICAL</style>
					<handler function="OnScrollBar1ScrollChanged" entry="EVT_COMMAND_SCROLL" />
					<handler function="OnScrollBar1ScrollChanged" entry="EVT_COMMAND_SCROLL_LINEUP" />
					<handler function="OnScrollBar1ScrollChanged" entry="EVT_COMMAND_SCROLL_LINEDOWN" />
					<handler function="OnScrollBar1ScrollChanged" entry="EVT_COMMAND_SCROLL_THUMBTRACK" />
					<handler function="OnScrollBar1ScrollChanged" entry="EVT_COMMAND_SCROLL_CHANGED" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxScrollBar" name="ID_SCROLLBAR2" variable="horizontalScrollbar" member="yes">
					<thumbsize>1</thumbsize>
					<range>10</range>
					<pagesize>1</pagesize>
					<hidden>1</hidden>
					<style>wxSB_HORIZONTAL</style>
					<handler function="OnhorizontalScrollbarScroll" entry="EVT_COMMAND_SCROLL" />
					<handler function="OnhorizontalScrollbarScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenu" variable="ContextMenu" member="yes">
			<object class="wxMenuItem" name="idEventInsert" variable="MenuItem8" member="yes">
				<label>Insérer un évènement</label>
				<accel>INSERT</accel>
				<bitmap>res/eventaddicon.png</bitmap>
				<handler function="OnInsertEventSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuCom" variable="MenuItem7" member="yes">
				<label>Insérer un commentaire</label>
				<bitmap>res/commentaireaddicon.png</bitmap>
				<handler function="OnMenuItem7Selected" entry="EVT_MENU" />
			</object>
			<object class="wxMenu" name="ID_MENUITEM1" variable="eventTypesMenu" member="yes">
				<label>Insérer...</label>
				<object class="wxMenuItem" name="idMenuSubEvent" variable="SubEventMenuItem" member="yes">
					<label>Un sous évènement</label>
					<accel>Shift-INSERT</accel>
					<bitmap>res/subeventaddicon.png</bitmap>
					<handler function="OnSubEventMenuItemSelected" entry="EVT_MENU" />
				</object>
				<object class="separator" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idMenuEventDel" variable="MenuItem1" member="yes">
				<label>Supprimer cet évènement</label>
				<accel>DEL</accel>
				<help>Supprimer l&apos;évènement complet ( Action et Condition ) de la scène</help>
				<bitmap>res/deleteicon.png</bitmap>
				<handler function="OnDelEventSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM15" variable="MenuItem9" member="no">
				<label>Dés/activer l&apos;évènement</label>
				<handler function="OnToggleEventSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idMenuUndo" variable="MenuItem16" member="yes">
				<label>Annuler</label>
				<accel>Ctrl-Z</accel>
				<help>Annuler les modifications précédentes</help>
				<bitmap>res/undo.png</bitmap>
				<handler function="OnUndoSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuRedo" variable="MenuItem17" member="yes">
				<label>Refaire</label>
				<accel>Ctrl-Y</accel>
				<help>Rétablir les modifications annulées</help>
				<bitmap>res/redo.png</bitmap>
				<handler function="OnRedoSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuClearHistory" variable="MenuItem18" member="yes">
				<label>Supprimer l&apos;historique</label>
				<handler function="OnClearHistorySelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idMenuCopy" variable="MenuItem4" member="yes">
				<label>Copier cet évènement</label>
				<accel>Ctrl-C</accel>
				<bitmap>res/copyicon.png</bitmap>
				<handler function="OnMenuCopySelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuCut" variable="MenuItem6" member="yes">
				<label>Couper cet évènement</label>
				<accel>Ctrl-X</accel>
				<bitmap>res/cuticon.png</bitmap>
				<handler function="OnCutSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenu" name="idMenuPaste" variable="MenuItem5" member="no">
				<label>Coller</label>
				<object class="wxMenuItem" name="idMenuPastAvant" variable="MenuItem10" member="yes">
					<label>Avant</label>
					<handler function="OnMenuPasteSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuPasteApres" variable="MenuItem11" member="no">
					<label>Après</label>
					<accel>Ctrl-V</accel>
					<handler function="OnMenuPasteAfterSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="idMenuPasteSubEvent" variable="MenuItem13" member="yes">
					<label>En tant que sous évènement</label>
					<accel>Ctrl-Shift-V</accel>
					<handler function="OnPasteAsASubEventSelected" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxMenu" variable="conditionsMenu" member="yes">
			<object class="wxMenuItem" name="idMenuEdit" variable="editMenuItem" member="no">
				<label>Editer cette condition</label>
				<bitmap>res/editicon.png</bitmap>
				<handler function="OneEditConditionMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idMenuAdd" variable="MenuItem19" member="no">
				<label>Ajouter une condition</label>
				<bitmap>res/addicon.png</bitmap>
				<handler function="OnAddConditionMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idMenuDel" variable="MenuItem20" member="no">
				<label>Supprimer la condition</label>
				<accel>DEL</accel>
				<bitmap>res/remove.png</bitmap>
				<handler function="OnDelConditionMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenu" name="ID_MENUITEM21" variable="MenuItem37" member="yes">
				<label>Supprimer...</label>
				<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem2" member="yes">
					<label>...toutes les conditions</label>
					<bitmap>res/deletecondition.png</bitmap>
					<handler function="OnDelConditionsSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM17" variable="MenuItem3" member="yes">
					<label>...les sous évènements</label>
					<handler function="OnDelSubEventsSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM3" variable="MenuItem21" member="yes">
				<label>Copier</label>
				<bitmap>res/copyicon.png</bitmap>
				<handler function="OnCopyConditionMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuCouper" variable="MenuItem22" member="yes">
				<label>Couper</label>
				<bitmap>res/cuticon.png</bitmap>
				<handler function="OnCutConditionMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM4" variable="MenuItem23" member="no">
				<label>Coller</label>
				<bitmap>res/pasteicon.png</bitmap>
				<handler function="OnPasteConditionMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
		</object>
		<object class="wxMenu" variable="actionsMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM5" variable="MenuItem24" member="yes">
				<label>Editer cette action</label>
				<bitmap>res/editicon.png</bitmap>
				<handler function="OnEditActionMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM6" variable="MenuItem25" member="yes">
				<label>Ajouter une action</label>
				<bitmap>res/addicon.png</bitmap>
				<handler function="OnAddActionMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM7" variable="MenuItem26" member="no">
				<label>Supprimer cette action</label>
				<accel>DEL</accel>
				<bitmap>res/remove.png</bitmap>
				<handler function="OnDelActionMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenu" name="ID_MENUITEM20" variable="MenuItem36" member="yes">
				<label>Supprimer...</label>
				<object class="wxMenuItem" name="ID_MENUITEM18" variable="MenuItem14" member="yes">
					<label>...toutes les actions</label>
					<bitmap>res/deleteaction.png</bitmap>
					<handler function="OnDelActionsSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM19" variable="MenuItem15" member="yes">
					<label>...les sous évènements</label>
					<handler function="OnDelSubEventsSelected" entry="EVT_MENU" />
				</object>
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM8" variable="MenuItem27" member="no">
				<label>Copier</label>
				<bitmap>res/copyicon.png</bitmap>
				<handler function="OnCopyActionMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM9" variable="MenuItem28" member="no">
				<label>Couper</label>
				<bitmap>res/cuticon.png</bitmap>
				<handler function="OnCutActionMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM10" variable="MenuItem29" member="no">
				<label>Coller</label>
				<bitmap>res/pasteicon.png</bitmap>
				<handler function="OnPasteActionMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
		</object>
		<object class="wxMenu" variable="noConditionsMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM11" variable="MenuItem30" member="yes">
				<label>Ajouter une condition</label>
				<bitmap>res/addicon.png</bitmap>
				<handler function="OnAddConditionMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM13" variable="MenuItem32" member="yes">
				<label>Coller</label>
				<bitmap>res/pasteicon.png</bitmap>
				<handler function="OnPasteConditionMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
		</object>
		<object class="wxMenu" variable="noActionsMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM12" variable="MenuItem31" member="yes">
				<label>Ajouter une action</label>
				<bitmap>res/addicon.png</bitmap>
				<handler function="OnAddActionMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM14" variable="MenuItem33" member="yes">
				<label>Coller</label>
				<bitmap>res/pasteicon.png</bitmap>
				<handler function="OnPasteActionMenuSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
		</object>
	</object>
</wxsmith>
