<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="ProfileDlg">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxCheckBox" name="ID_CHECKBOX1" variable="activateCheck" member="yes">
					<label>Activate profiling ( Relaunch the scene )</label>
					<handler function="OnactivateCheckClick" entry="EVT_CHECKBOX" />
				</object>
				<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
					<cols>3</cols>
					<growablecols>1</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxGridSizer" variable="GridSizer1" member="no">
							<cols>1</cols>
							<rows>3</rows>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT8" variable="scaleMaxTxt" member="yes">
									<label></label>
								</object>
								<flag>wxALL|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT9" variable="scaleMidTxt" member="yes">
									<label></label>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="spacer">
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
								<size>65,20</size>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL1" variable="ratioGraphics" member="yes">
							<size>395,130</size>
							<bg>#FFFFFF</bg>
							<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
							<handler function="OnratioGraphicsPaint" entry="EVT_PAINT" />
							<handler function="OnratioGraphicsRightUp" entry="EVT_RIGHT_UP" />
							<handler function="OnratioGraphicsResize" entry="EVT_SIZE" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
					<cols>3</cols>
					<growablecols>1</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL2" variable="Panel1" member="yes">
							<size>10,10</size>
							<bg>#7484FF</bg>
							<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="eventsTimeTxt" member="yes">
							<label></label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>3</cols>
					<growablecols>1</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL3" variable="Panel2" member="yes">
							<size>10,10</size>
							<bg>#FFD10C</bg>
							<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="totalTimeTxt" member="yes">
							<label></label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
					<cols>3</cols>
					<growablecols>1</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL4" variable="Panel3" member="yes">
							<size>10,10</size>
							<bg>#DD0010</bg>
							<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT3" variable="objectsCountTxt" member="yes">
							<label></label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenu" variable="contextMenu" member="yes">
			<object class="wxMenu" name="ID_MENUITEM3" variable="MenuItem3" member="yes">
				<label>Number of measures</label>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem1" member="yes">
					<label>Change the number of measure</label>
					<handler function="OnChangeDurationSelected" entry="EVT_MENU" />
				</object>
				<object class="wxMenuItem" name="wxID_ANY" variable="infiniteDataCheck" member="yes">
					<label>Infinity number</label>
					<checkable>1</checkable>
				</object>
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem2" member="yes">
				<label>Change the interval between each measures.</label>
				<handler function="OnStepTimeSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="wxID_ANY" variable="totalTimeCheck" member="yes">
				<label>Display total time</label>
				<checkable>1</checkable>
			</object>
			<object class="wxMenuItem" name="wxID_ANY" variable="eventsTimeCheck" member="yes">
				<label>Display time used by events</label>
				<checkable>1</checkable>
			</object>
			<object class="wxMenuItem" name="wxID_ANY" variable="objectsCountCheck" member="yes">
				<label>Display the number of objects</label>
				<checkable>1</checkable>
			</object>
		</object>
	</object>
</wxsmith>







