<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="StartHerePage">
		<bg>#FFFFFF</bg>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<rows>3</rows>
			<growablecols>0</growablecols>
			<growablerows>2</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
					<cols>1</cols>
					<growablecols>0</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="StaticBitmap1" member="yes">
							<bitmap>res/GD-logo-simple.png</bitmap>
							<style>wxNO_BORDER</style>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxTOP|wxBOTTOM|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
					<cols>1</cols>
					<growablecols>0</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxBoxSizer" variable="BoxSizer1" member="no">
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
									<cols>1</cols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
											<label>Getting started</label>
											<fg>#5F5F5F</fg>
											<font>
												<size>12</size>
											</font>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
											<cols>2</cols>
											<object class="sizeritem">
												<object class="wxStaticBitmap" name="ID_STATICBITMAP18" variable="StaticBitmap18" member="yes">
													<bitmap>res/newicon.png</bitmap>
													<style>wxNO_BORDER</style>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL12" variable="newProjectLink" member="yes">
													<label>Create a new project</label>
													<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
													<handler function="OnnewProjectLinkClick" entry="EVT_HYPERLINK" />
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticBitmap" name="ID_STATICBITMAP9" variable="StaticBitmap9" member="yes">
													<bitmap>res/modesimpleicon.png</bitmap>
													<style>wxNO_BORDER</style>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL18" variable="HyperlinkCtrl6" member="yes">
													<label>Read the Getting Started page</label>
													<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
													<handler function="OnguideBtClick" entry="EVT_HYPERLINK" />
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticBitmap" name="ID_STATICBITMAP10" variable="StaticBitmap10" member="yes">
													<bitmap>res/tutoicon.png</bitmap>
													<style>wxNO_BORDER</style>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL19" variable="HyperlinkCtrl7" member="yes">
													<label>Read the tutorials</label>
													<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
													<handler function="OntutoBtClick" entry="EVT_HYPERLINK" />
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
									<object class="spacer">
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
										<size>384,9</size>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
											<label>Links</label>
											<fg>#5F5F5F</fg>
											<font>
												<size>12</size>
											</font>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
											<cols>2</cols>
											<object class="sizeritem">
												<object class="wxStaticBitmap" name="ID_STATICBITMAP5" variable="StaticBitmap5" member="yes">
													<bitmap>res/wikiicon.png</bitmap>
													<style>wxNO_BORDER</style>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL3" variable="HyperlinkCtrl3" member="yes">
													<label>Open the online help</label>
													<url>http://www.wiki.compilgames.net</url>
													<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticBitmap" name="ID_STATICBITMAP6" variable="StaticBitmap6" member="yes">
													<bitmap>res/community.png</bitmap>
													<style>wxNO_BORDER</style>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL4" variable="HyperlinkCtrl4" member="yes">
													<label>Go on the forum</label>
													<url>http://www.forum.compilgames.net</url>
													<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticBitmap" name="ID_STATICBITMAP16" variable="StaticBitmap16" member="yes">
													<bitmap>res/fb16.png</bitmap>
													<style>wxNO_BORDER</style>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer12" member="no">
													<cols>3</cols>
													<object class="sizeritem">
														<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL1" variable="fbLink" member="yes">
															<label>Facebook page</label>
															<style>wxHL_ALIGN_LEFT|wxNO_BORDER</style>
															<handler function="OnfbLinkClick" entry="EVT_HYPERLINK" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticBitmap" name="ID_STATICBITMAP17" variable="StaticBitmap17" member="yes">
															<bitmap>res/gp16.png</bitmap>
															<style>wxNO_BORDER</style>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL2" variable="googleplusLink" member="yes">
															<label>Google+ page</label>
															<style>wxHL_ALIGN_LEFT|wxNO_BORDER</style>
															<handler function="OngoogleplusLinkClick" entry="EVT_HYPERLINK" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
									<cols>1</cols>
									<growablecols>0</growablecols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
											<label>Recent projects</label>
											<fg>#5F5F5F</fg>
											<font>
												<size>13</size>
											</font>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
											<cols>2</cols>
											<object class="sizeritem">
												<object class="wxStaticBitmap" name="ID_STATICBITMAP2" variable="StaticBitmap2" member="yes">
													<bitmap>res/gdfile16.png</bitmap>
													<style>wxNO_BORDER</style>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL5" variable="recent1Bt" member="yes">
													<label>-</label>
													<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
													<handler function="Onrecent1BtClick" entry="EVT_HYPERLINK" />
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticBitmap" name="ID_STATICBITMAP3" variable="StaticBitmap3" member="yes">
													<bitmap>res/gdfile16.png</bitmap>
													<style>wxNO_BORDER</style>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL6" variable="recent2Bt" member="yes">
													<label>-</label>
													<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
													<handler function="Onrecent2BtClick" entry="EVT_HYPERLINK" />
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticBitmap" name="ID_STATICBITMAP4" variable="StaticBitmap4" member="yes">
													<bitmap>res/gdfile16.png</bitmap>
													<style>wxNO_BORDER</style>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL7" variable="recent3Bt" member="yes">
													<label>-</label>
													<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
													<handler function="Onrecent3BtClick" entry="EVT_HYPERLINK" />
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticBitmap" name="ID_STATICBITMAP12" variable="StaticBitmap12" member="yes">
													<bitmap>res/gdfile16.png</bitmap>
													<style>wxNO_BORDER</style>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL9" variable="recent4Bt" member="yes">
													<label>-</label>
													<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
													<handler function="Onrecent4BtClick" entry="EVT_HYPERLINK" />
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticBitmap" name="ID_STATICBITMAP13" variable="StaticBitmap13" member="yes">
													<bitmap>res/gdfile16.png</bitmap>
													<style>wxNO_BORDER</style>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL8" variable="recent5Bt" member="yes">
													<label>-</label>
													<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
													<handler function="Onrecent5BtClick" entry="EVT_HYPERLINK" />
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticBitmap" name="ID_STATICBITMAP14" variable="StaticBitmap14" member="yes">
													<bitmap>res/gdfile16.png</bitmap>
													<style>wxNO_BORDER</style>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL10" variable="recent6Bt" member="yes">
													<label>-</label>
													<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
													<handler function="Onrecent6BtClick" entry="EVT_HYPERLINK" />
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticBitmap" name="ID_STATICBITMAP15" variable="StaticBitmap15" member="yes">
													<bitmap>res/gdfile16.png</bitmap>
													<style>wxNO_BORDER</style>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL11" variable="recent7Bt" member="yes">
													<label>-</label>
													<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
													<handler function="Onrecent7BtClick" entry="EVT_HYPERLINK" />
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
							<cols>1</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
									<label>Community news</label>
									<fg>#5F5F5F</fg>
									<font>
										<size>12</size>
									</font>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="newsTxtSizer" member="yes">
									<cols>3</cols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT4" variable="newsTxt" member="yes">
											<label>No news for now!</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer13" member="no">
									<cols>3</cols>
									<object class="sizeritem">
										<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL13" variable="newsLink1" member="yes">
											<label>NewsLink1</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL14" variable="newsLink2" member="yes">
											<label>NewsLink2</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
						</object>
						<flag>wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxTOP|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>20</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
					<growablecols>1</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxStaticBitmap" name="ID_STATICBITMAP8" variable="StaticBitmap8" member="yes">
							<bitmap>res/donateicon.png</bitmap>
							<style>wxNO_BORDER</style>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL16" variable="HyperlinkCtrl5" member="yes">
							<label>If you like Game Develop, you can make a donation to the author.</label>
							<url>http://www.compilgames.net/donate.php</url>
							<style>wxHL_CONTEXTMENU|wxHL_ALIGN_LEFT|wxNO_BORDER</style>
						</object>
						<flag>wxALL|wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
