<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="StartHerePage">
		<bg>#FFFFFF</bg>
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>3</growablerows>
			<object class="sizeritem">
				<object class="wxStaticBitmap" name="ID_STATICBITMAP1" variable="StaticBitmap1" member="yes">
					<bitmap>res/GD-logo-simple.png</bitmap>
					<style>0</style>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
					<size>10,-1</size>
				</object>
				<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxGridSizer" variable="GridSizer1" member="no">
					<cols>2</cols>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
							<cols>1</cols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
									<label>Commencer</label>
									<fg>#2D69F7</fg>
									<font>
										<size>10</size>
										<style>normal</style>
										<weight>bold</weight>
										<underlined>0</underlined>
										<family>swiss</family>
									</font>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
							<cols>3</cols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
									<label>Projets récents</label>
									<fg>#2D69F7</fg>
									<font>
										<size>10</size>
										<style>normal</style>
										<weight>bold</weight>
										<underlined>0</underlined>
										<family>swiss</family>
									</font>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxGridSizer" variable="GridSizer2" member="no">
					<cols>2</cols>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
							<cols>1</cols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
									<label>Pour commencer, utilisez le gestionnaire de projet, à gauche&#x0A;par défaut, pour ajouter une scène ( clic droit sur &quot;Scènes&quot; )&#x0A;et pour modifier les images ( double clic sur &quot;Images&quot; ).</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
									<label>Si vous débutez ou avez besoin d&apos;aide :</label>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
									<cols>2</cols>
									<object class="sizeritem">
										<object class="wxStaticBitmap" name="ID_STATICBITMAP2" variable="StaticBitmap2" member="yes">
											<bitmap>res/modesimpleicon.png</bitmap>
											<style>wxNO_BORDER</style>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL1" variable="HyperlinkCtrl1" member="yes">
											<label>Lire le guide de démarrage</label>
											<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
											<handler function="OnguideBtClick" entry="EVT_HYPERLINK" />
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticBitmap" name="ID_STATICBITMAP3" variable="StaticBitmap3" member="yes">
											<bitmap>res/tutoicon.png</bitmap>
											<style>wxNO_BORDER</style>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
											<cols>3</cols>
											<object class="sizeritem">
												<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL2" variable="HyperlinkCtrl2" member="yes">
													<label>Lire le tutoriel</label>
													<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
													<handler function="OntutoBtClick" entry="EVT_HYPERLINK" />
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL17" variable="secondTutoLink" member="yes">
													<label>(-Insert the name of the second tutorial or a blank text-)</label>
													<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
													<handler function="OnTutorial2BtClick" entry="EVT_HYPERLINK" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticBitmap" name="ID_STATICBITMAP4" variable="StaticBitmap4" member="yes">
											<bitmap>res/openicon.png</bitmap>
											<style>wxNO_BORDER</style>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL14" variable="openExamplesLink" member="yes">
											<label>Ouvrir les exemples</label>
											<style>wxHL_ALIGN_LEFT|wxNO_BORDER</style>
											<handler function="OnopenExamplesLinkClick" entry="EVT_HYPERLINK" />
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticBitmap" name="ID_STATICBITMAP5" variable="StaticBitmap5" member="yes">
											<bitmap>res/wikiicon.png</bitmap>
											<style>wxNO_BORDER</style>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL3" variable="HyperlinkCtrl3" member="yes">
											<label>Accéder au wiki ( Base d&apos;articles et de connaissance )</label>
											<url>http://www.wiki.compilgames.net</url>
											<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticBitmap" name="ID_STATICBITMAP6" variable="StaticBitmap6" member="yes">
											<bitmap>res/community.png</bitmap>
											<style>wxNO_BORDER</style>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL4" variable="HyperlinkCtrl4" member="yes">
											<label>Accéder au forum</label>
											<url>http://www.forum.compilgames.net</url>
											<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticBitmap" name="ID_STATICBITMAP7" variable="StaticBitmap7" member="yes">
											<bitmap>res/paint.png</bitmap>
											<style>wxNO_BORDER</style>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL15" variable="resourcesLink" member="yes">
											<label>Accéder aux ressources pour jeux</label>
											<style>wxHL_ALIGN_LEFT|wxNO_BORDER</style>
											<handler function="OnresourcesLinkClick" entry="EVT_HYPERLINK" />
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_TOP|wxALIGN_CENTER_HORIZONTAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
							<cols>1</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL5" variable="recent1Bt" member="yes">
									<label>-</label>
									<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
									<handler function="Onrecent1BtClick" entry="EVT_HYPERLINK" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL6" variable="recent2Bt" member="yes">
									<label>-</label>
									<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
									<handler function="Onrecent2BtClick" entry="EVT_HYPERLINK" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL7" variable="recent3Bt" member="yes">
									<label>-</label>
									<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
									<handler function="Onrecent3BtClick" entry="EVT_HYPERLINK" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL9" variable="recent4Bt" member="yes">
									<label>-</label>
									<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
									<handler function="Onrecent4BtClick" entry="EVT_HYPERLINK" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL8" variable="recent5Bt" member="yes">
									<label>-</label>
									<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
									<handler function="Onrecent5BtClick" entry="EVT_HYPERLINK" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL10" variable="recent6Bt" member="yes">
									<label>-</label>
									<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
									<handler function="Onrecent6BtClick" entry="EVT_HYPERLINK" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL11" variable="recent7Bt" member="yes">
									<label>-</label>
									<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
									<handler function="Onrecent7BtClick" entry="EVT_HYPERLINK" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL12" variable="recent8Bt" member="yes">
									<label>-</label>
									<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
									<handler function="Onrecent8BtClick" entry="EVT_HYPERLINK" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL13" variable="recent9Bt" member="yes">
									<label>-</label>
									<style>wxHL_ALIGN_CENTRE|wxNO_BORDER</style>
									<handler function="Onrecent9BtClick" entry="EVT_HYPERLINK" />
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
					<growablecols>1</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxStaticBitmap" name="ID_STATICBITMAP8" variable="StaticBitmap8" member="yes">
							<bitmap>res/donateicon.png</bitmap>
							<style>wxNO_BORDER</style>
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL16" variable="HyperlinkCtrl5" member="yes">
							<label>Vous appréciez Game Develop ? Aidez l&apos;auteur en faisant un don.</label>
							<url>http://www.compilgames.net/?file=kop8.php</url>
							<style>wxHL_CONTEXTMENU|wxHL_ALIGN_LEFT|wxNO_BORDER</style>
						</object>
						<flag>wxALL|wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
