<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="EditCppCodeEvent">
		<title>C++ code</title>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxMAXIMIZE_BOX</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer17" member="no">
					<cols>1</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
							<bg>wxSYS_COLOUR_WINDOW</bg>
							<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
								<cols>3</cols>
								<growablecols>1</growablecols>
								<object class="sizeritem">
									<object class="wxStaticBitmap" name="ID_STATICBITMAP3" variable="StaticBitmap3" member="yes">
										<bitmap>res/source_cpp64.png</bitmap>
										<style>wxNO_BORDER</style>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
										<label>The C++ code events allow you to call a function written in C++,&#x0A;with if needed the scene or some objects passed as arguments.&#x0A;You can also specify the external source files which must be compiled&#x0A;if your function is refering to features implemented in external source files.</label>
										<size>760,75</size>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticLine" name="ID_STATICLINE2" variable="StaticLine2" member="yes">
							<size>10,-1</size>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>1</cols>
					<growablecols>0</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
							<cols>3</cols>
							<growablecols>1</growablecols>
							<growablerows>0</growablerows>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
									<cols>3</cols>
									<growablecols>0</growablecols>
									<growablerows>0</growablerows>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer12" member="no">
											<cols>1</cols>
											<growablecols>0</growablecols>
											<growablerows>1</growablerows>
											<object class="sizeritem">
												<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
													<label>Call to function</label>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
															<cols>1</cols>
															<growablecols>0</growablecols>
															<object class="sizeritem">
																<object class="wxCheckBox" name="ID_CHECKBOX2" variable="sceneRefCheck" member="yes">
																	<label>Pass a reference to the scene</label>
																	<checked>1</checked>
																	<handler function="OnsceneRefCheckClick" entry="EVT_CHECKBOX" />
																</object>
																<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
																	<cols>1</cols>
																	<growablecols>0</growablecols>
																	<object class="sizeritem">
																		<object class="wxCheckBox" name="ID_CHECKBOX1" variable="objectsListCheck" member="yes">
																			<label>Pass a list of pointers to objects:</label>
																			<handler function="OnobjectsListCheckClick" entry="EVT_CHECKBOX" />
																		</object>
																		<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																		<border>5</border>
																		<option>1</option>
																	</object>
																	<object class="sizeritem">
																		<object class="wxFlexGridSizer" variable="FlexGridSizer13" member="no">
																			<cols>3</cols>
																			<growablecols>1</growablecols>
																			<object class="spacer">
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<option>1</option>
																				<size>15,15</size>
																			</object>
																			<object class="sizeritem">
																				<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="objectPassedAsParameterEdit" member="yes">
																					<size>111,21</size>
																				</object>
																				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																			<object class="sizeritem">
																				<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="objectBt" member="yes">
																					<bitmap>res/objeticon.png</bitmap>
																					<default>1</default>
																					<handler function="OnobjectBtClick" entry="EVT_BUTTON" />
																				</object>
																				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																				<border>5</border>
																				<option>1</option>
																			</object>
																		</object>
																		<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																		<option>1</option>
																	</object>
																</object>
																<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticBoxSizer" variable="StaticBoxSizer4" member="no">
													<label>Dependencies</label>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer14" member="no">
															<cols>1</cols>
															<growablecols>0</growablecols>
															<growablerows>0</growablerows>
															<object class="sizeritem">
																<object class="wxCheckListBox" name="ID_CHECKLISTBOX1" variable="dependenciesList" member="yes">
																	<size>224,129</size>
																</object>
																<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticBoxSizer" variable="StaticBoxSizer5" member="no">
													<label>Events editor displaying</label>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer15" member="no">
															<cols>1</cols>
															<growablecols>0</growablecols>
															<object class="sizeritem">
																<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
																	<label>Name/Comment displayed for the event:</label>
																</object>
																<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="displayedNameEdit" member="yes">
																	<size>209,21</size>
																</object>
																<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxCheckBox" name="ID_CHECKBOX3" variable="displayCodeCheck" member="yes">
																	<label>Display the code in the events editor</label>
																</object>
																<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
									<cols>1</cols>
									<growablecols>0</growablecols>
									<growablerows>1</growablerows>
									<object class="sizeritem">
										<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
											<label>Includes</label>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
													<cols>2</cols>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="includeTextCtrl" member="yes">
															<style>wxTE_MULTILINE</style>
														</object>
														<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
											<cols>1</cols>
											<growablecols>0</growablecols>
											<growablerows>1</growablerows>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT5" variable="functionPrototypeTxt" member="yes">
													<label>void Function()&#x0A;{</label>
												</object>
												<flag>wxTOP|wxLEFT|wxRIGHT|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="Custom" name="ID_CUSTOM1" subclass="wxStyledTextCtrl" variable="codeEdit" member="yes">
													<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),$(NAME));</creating_code>
													<include_file>wx/stc/stc.h</include_file>
													<style></style>
													<size>460,40</size>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
													<label>}</label>
												</object>
												<flag>wxBOTTOM|wxLEFT|wxRIGHT|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
					<size>10,-1</size>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
					<cols>3</cols>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="okBt" member="yes">
							<label>Ok</label>
							<handler function="OnokBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="cancelBt" member="yes">
							<label>Cancel</label>
							<handler function="OncancelBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
