<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ChooseObjectDialog">
		<title>Choose an object</title>
		<extra_code>wxIcon FrameIcon;&#x0A;FrameIcon.CopyFromBitmap(gd::SkinHelper::GetIcon(&quot;object&quot;, 16));&#x0A;SetIcon(FrameIcon);</extra_code>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxMAXIMIZE_BOX|wxMINIMIZE_BOX</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxTreeCtrl" name="ID_TREECTRL1" variable="objectsList" member="yes">
					<image_list></image_list>
					<tree_items>
						<item>objectsList</item>
						<item></item>
					</tree_items>
					<items_text>
						<item2>objectsList</item2>
						<item2></item2>
					</items_text>
					<style>wxTR_HIDE_ROOT|wxTR_MULTIPLE|wxTR_DEFAULT_STYLE|wxNO_BORDER</style>
					<handler function="OnObjetsListItemActivated" entry="EVT_TREE_ITEM_ACTIVATED" />
					<handler function="OnObjetsListItemRightClick" entry="EVT_TREE_ITEM_RIGHT_CLICK" />
					<handler function="OnObjetsListSelectionChanged" entry="EVT_TREE_SEL_CHANGED" />
				</object>
				<flag>wxEXPAND|wxALIGN_LEFT|wxALIGN_TOP</flag>
			</object>
			<object class="sizeritem">
				<object class="wxTextCtrl" name="ID_TEXTCTRL1" subclass="wxSearchCtrl" variable="searchCtrl" member="yes">
					<focused>1</focused>
					<handler function="OnsearchCtrlText" entry="EVT_TEXT" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
					<size>10,-1</size>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>3</cols>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="ChoisirBt" member="yes">
							<label>Choose</label>
							<handler function="OnChoisirBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="AnnulerBt" member="yes">
							<label>Cancel</label>
							<handler function="OnAnnulerBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenu" variable="Menu1" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM2" variable="editMenuItem" member="yes">
				<label>Choose this object</label>
				<extra_code>#ifdef ____WXMSW____&#x0A;    Menu1.Remove(editMenuItem);&#x0A;    wxFont boldFont(wxDEFAULT,wxFONTFAMILY_DEFAULT,wxFONTSTYLE__NORMAL,wxFONTWEIGHT_BOLD,false,wxEmptyString,wxFONTENCODING__DEFAULT);&#x0A;    editMenuItem-&gt;SetFont(boldFont);&#x0A;    Menu1.Append(editMenuItem);&#x0A;#endif</extra_code>
				<handler function="OnChoisirBtClick" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem1" member="yes">
				<label>To add some objects, use the objects editor</label>
			</object>
		</object>
		<object class="wxMenu" variable="Menu2" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM3" variable="editGroupMenuItem" member="yes">
				<label>Choose this group</label>
				<extra_code>#ifdef ____WXMSW____&#x0A;    Menu2.Remove(editGroupMenuItem);&#x0A;    wxFont boldFont2(wxDEFAULT,wxFONTFAMILY_DEFAULT,wxFONTSTYLE__NORMAL,wxFONTWEIGHT_BOLD,false,wxEmptyString,wxFONTENCODING__DEFAULT);&#x0A;    editGroupMenuItem-&gt;SetFont(boldFont2);&#x0A;    Menu2.Append(editGroupMenuItem);&#x0A;#endif</extra_code>
				<handler function="OnChoisirBtClick" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM4" variable="MenuItem4" member="yes">
				<label>To add some groups, use the objects groups editor</label>
			</object>
		</object>
	</object>
</wxsmith>
