<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="EditStrExpressionDialog">
		<title>Editer le texte</title>
		<centered>1</centered>
		<extra_code>wxIcon FrameIcon;&#x0A;FrameIcon.CopyFromBitmap(wxBitmap(wxImage(__T(&quot;res/texteicon.png&quot;))));&#x0A;SetIcon(FrameIcon);</extra_code>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxMAXIMIZE_BOX</style>
		<object class="wxAuiManager" variable="mgr" member="yes">
			<object class="AuiManagerItem">
				<object class="wxPanel" name="ID_PANEL1" variable="centerPanel" member="yes">
					<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
						<cols>1</cols>
						<growablecols>0</growablecols>
						<growablerows>0</growablerows>
						<object class="sizeritem">
							<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
								<cols>3</cols>
								<growablecols>0</growablecols>
								<growablerows>0</growablerows>
								<object class="sizeritem">
									<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
										<cols>2</cols>
										<growablecols>0</growablecols>
										<growablerows>0</growablerows>
										<object class="sizeritem">
											<object class="Custom" name="ID_CUSTOM1" subclass="wxStyledTextCtrl" variable="TexteEdit" member="yes">
												<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),$(NAME));</creating_code>
												<include_file>wx/stc/stc.h</include_file>
												<size>300,28</size>
												<minsize>300,28</minsize>
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON2" variable="OkBt" member="yes">
												<label>Ok</label>
												<handler function="OnOkBtClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_BOTTOM|wxALIGN_CENTER_HORIZONTAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL1" variable="errorTxt" member="yes">
												<label>Pas d&apos;erreurs.</label>
												<tooltip>Cliquer pour positionner le curseur sur l&apos;erreur.</tooltip>
												<style>wxHL_ALIGN_LEFT|wxNO_BORDER</style>
												<handler function="OnerrorTxtClick" entry="EVT_HYPERLINK" />
											</object>
											<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
										<object class="sizeritem">
											<object class="wxButton" name="ID_BUTTON4" variable="helpBt" member="yes">
												<label>Aide</label>
												<handler function="OnhelpBtClick" entry="EVT_BUTTON" />
											</object>
											<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
											<border>5</border>
											<option>1</option>
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
					</object>
				</object>
				<name>centerPane</name>
				<caption>Pane caption</caption>
				<captionvisible>0</captionvisible>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<closebutton>0</closebutton>
				<dockdirection>Center</dockdirection>
				<dockabledirection></dockabledirection>
				<floatable>0</floatable>
				<movable>0</movable>
				<paneborder>0</paneborder>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="wxPanel" name="ID_PANEL2" variable="objectsFunctionsPanel" member="yes">
					<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
						<cols>1</cols>
						<growablecols>0</growablecols>
						<growablerows>0</growablerows>
						<object class="sizeritem">
							<object class="wxTreeCtrl" name="ID_TREECTRL1" variable="ObjList" member="yes">
								<image_list></image_list>
								<tree_items>
									<item>ObjList</item>
									<item></item>
								</tree_items>
								<items_text>
									<item2>ObjList</item2>
									<item2></item2>
								</items_text>
								<size>195,177</size>
								<handler function="OnObjListItemActivated" entry="EVT_TREE_ITEM_ACTIVATED" />
								<handler function="OnObjListSelectionChanged" entry="EVT_TREE_SEL_CHANGED" />
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxButton" name="ID_BUTTON10" variable="AddPropBt" member="yes">
								<label>Ajouter</label>
								<handler function="OnAddPropBtClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<name>objectsFunctionsPane</name>
				<caption>Fonctions d&apos;objets</caption>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<dockdirection>Bottom</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="wxPanel" name="ID_PANEL3" variable="freeFunctionsPanel" member="yes">
					<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
						<cols>1</cols>
						<growablecols>0</growablecols>
						<growablerows>0</growablerows>
						<object class="sizeritem">
							<object class="wxTreeCtrl" name="ID_TREECTRL2" variable="ValList" member="yes">
								<image_list></image_list>
								<tree_items>
									<item>ValList</item>
									<item></item>
								</tree_items>
								<items_text>
									<item2>ValList</item2>
									<item2></item2>
								</items_text>
								<size>195,177</size>
								<handler function="OnTreeCtrl1ItemActivated" entry="EVT_TREE_ITEM_ACTIVATED" />
								<handler function="OnTreeCtrl1SelectionChanged" entry="EVT_TREE_SEL_CHANGED" />
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxButton" name="ID_BUTTON7" variable="AddFunctionBt" member="yes">
								<label>Ajouter</label>
								<handler function="OnAddFunctionBtClick" entry="EVT_BUTTON" />
							</object>
							<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<name>freeFunctionsPane</name>
				<caption>Autres fonctions</caption>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<dockdirection>Bottom</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
		</object>
	</object>
</wxsmith>
