<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="ResourcesEditor">
		<id_arg>0</id_arg>
		<handler function="OnResize" entry="EVT_SIZE" />
		<object class="wxAuiManager" variable="AuiManager1" member="yes">
			<object class="AuiManagerItem">
				<object class="wxAuiToolBar" name="ID_AUITOOLBAR1" variable="toolbar" member="yes">
					<object class="AuiToolBarItem">
						<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM1" variable="AuiToolBarItem1" member="yes">
							<bitmap code='gd::SkinHelper::GetIcon(&quot;add&quot;, 16)' />
							<shorthelp>Add an image</shorthelp>
							<longhelp>Add an image</longhelp>
							<handler function="OnAddImageBtClick" entry="EVT_TOOL" />
						</object>
						<label>Add an image</label>
					</object>
					<object class="AuiToolBarItem">
						<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM2" variable="AuiToolBarItem2" member="yes">
							<bitmap>res/package16.png</bitmap>
							<shorthelp>Add from resource library</shorthelp>
							<longhelp>Add from resource library</longhelp>
						</object>
						<label>Add from resource library</label>
					</object>
					<object class="AuiToolBarItem">
						<object class="wxAuiToolBarSeparator" />
						<label>Item label</label>
					</object>
					<object class="AuiToolBarItem">
						<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM5" variable="AuiToolBarItem5" member="yes">
							<bitmap code='gd::SkinHelper::GetIcon(&quot;help&quot;, 16)' />
							<shorthelp>Get help about using the resource manager</shorthelp>
							<longhelp>Get help about using the resource manager</longhelp>
							<handler function="OnAideBtClick" entry="EVT_TOOL" />
						</object>
						<label>Help</label>
					</object>
				</object>
				<name>PaneName</name>
				<standardpanetype>Toolbar</standardpanetype>
				<caption>Pane caption</caption>
				<captionvisible>0</captionvisible>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<layer>10</layer>
				<dockabledirection></dockabledirection>
				<floatable>0</floatable>
				<resizable>0</resizable>
				<movable>0</movable>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="wxPanel" name="ID_PANEL1" variable="corePanel" member="yes">
					<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
						<cols>1</cols>
						<growablecols>0</growablecols>
						<growablerows>0</growablerows>
						<object class="sizeritem">
							<object class="wxTreeCtrl" name="ID_TREECTRL1" variable="resourcesTree" member="yes">
								<image_list></image_list>
								<tree_items>
									<item>resourcesTree</item>
									<item></item>
								</tree_items>
								<items_text>
									<item2>resourcesTree</item2>
									<item2></item2>
								</items_text>
								<size>200,170</size>
								<tooltip>Right click on an image to access to more options</tooltip>
								<style>wxTR_EDIT_LABELS|wxTR_HIDE_ROOT|wxTR_MULTIPLE|wxTR_DEFAULT_STYLE</style>
								<handler function="OnresourcesTreeBeginDrag" entry="EVT_TREE_BEGIN_DRAG" />
								<handler function="OnresourcesTreeBeginLabelEdit" entry="EVT_TREE_BEGIN_LABEL_EDIT" />
								<handler function="OnresourcesTreeEndLabelEdit" entry="EVT_TREE_END_LABEL_EDIT" />
								<handler function="OnresourcesTreeItemActivated" entry="EVT_TREE_ITEM_ACTIVATED" />
								<handler function="OnresourcesTreeSelectionChanged" entry="EVT_TREE_SEL_CHANGED" />
								<handler function="OnresourcesTreeKeyDown" entry="EVT_TREE_KEY_DOWN" />
								<handler function="OnresourcesTreeItemMenu" entry="EVT_TREE_ITEM_MENU" />
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxTextCtrl" name="ID_TEXTCTRL1" subclass="wxSearchCtrl" variable="searchCtrl" member="yes">
								<handler function="OnsearchCtrlText" entry="EVT_TEXT" />
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<border>5</border>
							<option>1</option>
						</object>
					</object>
				</object>
				<name>corePane</name>
				<caption>Pane caption</caption>
				<captionvisible>0</captionvisible>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<closebutton>0</closebutton>
				<dockdirection>Center</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="wxPanel" name="ID_PANEL3" variable="previewPanel" member="yes">
					<style>wxSUNKEN_BORDER|wxTAB_TRAVERSAL</style>
					<handler function="OnpreviewPanelPaint" entry="EVT_PAINT" />
					<handler function="OnpreviewPanelResize" entry="EVT_SIZE" />
				</object>
				<name>previewPane</name>
				<caption>Preview</caption>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<dockdirection>Right</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="wxPanel" name="ID_PANEL2" variable="propertiesPanel" member="yes">
					<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
						<cols>3</cols>
						<growablecols>0</growablecols>
						<growablerows>0</growablerows>
						<object class="sizeritem">
							<object class="Custom" name="ID_PROPGRID" subclass="wxPropertyGridManager" variable="propertyGrid" member="yes">
								<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),0,$(NAME));</creating_code>
								<include_file>wx/propgrid/manager.h</include_file>
								<style></style>
								<fg>wxSYS_COLOUR_HIGHLIGHT</fg>
								<bg>wxSYS_COLOUR_HIGHLIGHT</bg>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
					</object>
				</object>
				<name>propertiesPane</name>
				<caption>Properties</caption>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<position>1</position>
				<dockdirection>Right</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
		</object>
		<object class="wxMenu" variable="ContextMenu" member="yes">
			<object class="wxMenuItem" name="idMenuMod" variable="MenuItem3" member="no">
				<label>Rename</label>
				<accel>F2</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;rename&quot;, 16)' />
				<handler function="OnModNameImageBtClick" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idMenuAjouter" variable="MenuItem1" member="no">
				<label>Add an image</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;add&quot;, 16)' />
				<handler function="OnAddImageBtClick" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuAddAudio" variable="MenuItem4" member="yes">
				<label>Add a sound/music</label>
				<handler function="OnAddAudioSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idMenuDel" variable="deleteImageItem" member="no">
				<label>Delete</label>
				<accel>DEL</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;delete&quot;, 16)' />
				<handler function="OnDelImageBtClick" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM9" variable="MenuItem14" member="yes">
				<label>Remove from folder only</label>
				<handler function="OnremoveFolderOnlySelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idMoveUp" variable="MenuItem7" member="yes">
				<label>Move up</label>
				<accel>Ctrl-J</accel>
				<help>Move the image up</help>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;up&quot;, 16)' />
				<handler function="OnMoveUpSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMoveDown" variable="MenuItem8" member="yes">
				<label>Move down</label>
				<accel>Ctrl-K</accel>
				<help>Move the image down</help>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;down&quot;, 16)' />
				<handler function="OnMoveDownSelected" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxMenu" variable="emptyMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem2" member="yes">
				<label>Add an image</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;add&quot;, 16)' />
				<handler function="OnAddImageBtClick" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM10" variable="MenuItem15" member="yes">
				<label>Add a sound/music</label>
				<handler function="OnAddAudioSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem6" member="yes">
				<label>Add a folder</label>
				<bitmap>res/foldericon.png</bitmap>
				<handler function="OnAddFolderSelected" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxMenu" variable="folderMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM3" variable="MenuItem9" member="yes">
				<label>Rename</label>
				<accel>F2</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;rename&quot;, 16)' />
				<handler function="OnModNameImageBtClick" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM6" variable="MenuItem10" member="yes">
				<label>Add an image</label>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;add&quot;, 16)' />
				<handler function="OnAddImageBtClick" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM11" variable="MenuItem16" member="yes">
				<label>Add a sound/music</label>
				<handler function="OnAddAudioSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM5" variable="MenuItem13" member="yes">
				<label>Delete</label>
				<accel>DEL</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;delete&quot;, 16)' />
				<handler function="OnDelImageBtClick" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM4" variable="MenuItem5" member="yes">
				<label>Add a folder</label>
				<bitmap>res/foldericon.png</bitmap>
				<handler function="OnAddFolderSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM7" variable="MenuItem11" member="yes">
				<label>Move up</label>
				<accel>Ctrl-J</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;up&quot;, 16)' />
				<handler function="OnMoveUpSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM8" variable="MenuItem12" member="yes">
				<label>Move down</label>
				<accel>Ctrl-K</accel>
				<bitmap code='gd::SkinHelper::GetIcon(&quot;down&quot;, 16)' />
				<handler function="OnMoveDownSelected" entry="EVT_MENU" />
			</object>
		</object>
	</object>
</wxsmith>
