<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="SpriteObjectEditor">
		<title>Edit the Sprite object</title>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxMAXIMIZE_BOX</style>
		<object class="wxAuiManager" variable="mgr" member="yes">
			<handler function="OnmgrPaneClose" entry="EVT_AUI_PANE_CLOSE" />
			<object class="AuiManagerItem">
				<object class="wxPanel" name="ID_PANEL1" variable="centerPanel" member="yes">
					<pos>107,155</pos>
					<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
						<cols>1</cols>
						<growablecols>0</growablecols>
						<growablerows>1</growablerows>
						<object class="sizeritem">
							<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
								<cols>1</cols>
								<growablecols>0</growablecols>
								<growablerows>0</growablerows>
								<object class="sizeritem">
									<object class="wxPanel" name="ID_PANEL6" variable="toolbarPanel" member="yes">
										<size>-1,25</size>
										<object class="wxAuiManager" variable="AuiManager1" member="yes">
											<object class="AuiManagerItem">
												<object class="wxAuiToolBar" name="ID_AUITOOLBAR1" variable="toolbar" member="yes">
													<object class="AuiToolBarItem">
														<object class="wxAuiToolBarItem" name="ID_MASKITEM" variable="maskItem_" member="yes">
															<bitmap code="gd::CommonBitmapProvider::GetInstance()-&gt;maskEdit16" />
															<shorthelp>Edit the collision masks (hitbox)</shorthelp>
															<itemkind>Check</itemkind>
															<handler function="OnMaskEditClick" entry="EVT_TOOL" />
														</object>
														<label>Edit the collision masks (hitbox)</label>
													</object>
													<object class="AuiToolBarItem">
														<object class="wxAuiToolBarItem" name="ID_POINTSITEM" variable="pointsItem_" member="yes">
															<bitmap code="gd::CommonBitmapProvider::GetInstance()-&gt;pointEdit16" />
															<shorthelp>Edit the image&apos;s point</shorthelp>
															<itemkind>Check</itemkind>
															<handler function="OnPointEditClick" entry="EVT_TOOL" />
														</object>
														<label>Edit the image&apos;s point</label>
													</object>
													<object class="AuiToolBarItem">
														<object class="wxAuiToolBarSeparator" />
														<label>Item label</label>
													</object>
													<object class="AuiToolBarItem">
														<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM4" variable="AuiToolBarItem9" member="yes">
															<bitmap code="gd::SkinHelper::GetIcon(&quot;preview&quot;, 16)" />
															<shorthelp>Preview</shorthelp>
															<handler function="OnPreviewClick" entry="EVT_TOOL" />
														</object>
														<label>Preview</label>
													</object>
													<object class="AuiToolBarItem">
														<object class="wxAuiToolBarSeparator" />
														<label>Item label</label>
													</object>
													<object class="AuiToolBarItem">
														<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM2" variable="AuiToolBarItem2" member="yes">
															<bitmap code='gd::SkinHelper::GetIcon(&quot;help&quot;, 16)' />
															<shorthelp>Preview</shorthelp>
															<handler function="OnHelpClick" entry="EVT_TOOL" />
														</object>
														<label>Help</label>
													</object>
												</object>
												<name>PaneName</name>
												<standardpanetype>Toolbar</standardpanetype>
												<caption>Pane caption</caption>
												<captionvisible>0</captionvisible>
												<minimizebutton>0</minimizebutton>
												<maximizebutton>0</maximizebutton>
												<pinbutton>0</pinbutton>
												<layer>10</layer>
												<dockabledirection>.Dockable(false)</dockabledirection>
												<resizable>0</resizable>
												<movable>0</movable>
												<destroyonclose>0</destroyonclose>
												<firstadd>0</firstadd>
											</object>
										</object>
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
								<cols>2</cols>
								<growablecols>0</growablecols>
								<growablerows>0</growablerows>
								<object class="sizeritem">
									<object class="wxPanel" name="ID_PANEL4" variable="imagePanel" member="yes">
										<handler function="OnimagePanelPaint" entry="EVT_PAINT" />
										<handler function="OnimagePanelEraseBackground" entry="EVT_ERASE_BACKGROUND" />
										<handler function="OnimagePanelLeftDown" entry="EVT_LEFT_DOWN" />
										<handler function="OnimagePanelLeftUp" entry="EVT_LEFT_UP" />
										<handler function="OnimagePanelMouseMove" entry="EVT_MOTION" />
										<handler function="OnimagePanelResize" entry="EVT_SIZE" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxScrollBar" name="ID_SCROLLBAR1" variable="yScrollBar" member="yes">
										<thumbsize>1</thumbsize>
										<range>10</range>
										<pagesize>1</pagesize>
										<minsize>16,0</minsize>
										<style>wxSB_VERTICAL</style>
										<handler function="OnyScrollBarScroll" entry="EVT_COMMAND_SCROLL" />
										<handler function="OnyScrollBarScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								</object>
								<object class="sizeritem">
									<object class="wxScrollBar" name="ID_SCROLLBAR2" variable="xScrollBar" member="yes">
										<thumbsize>1</thumbsize>
										<range>10</range>
										<pagesize>1</pagesize>
										<style>wxSB_HORIZONTAL</style>
										<handler function="OnxScrollBarScroll" entry="EVT_COMMAND_SCROLL" />
										<handler function="OnxScrollBarScroll" entry="EVT_COMMAND_SCROLL_CHANGED" />
									</object>
									<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
								<cols>3</cols>
								<growablecols>0</growablecols>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT1" variable="statusTxt" member="yes">
										<label></label>
										<style>wxALIGN_LEFT</style>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
					</object>
				</object>
				<name>centerPane</name>
				<caption>Pane caption</caption>
				<captionvisible>0</captionvisible>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<dockdirection>Center</dockdirection>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="wxPanel" name="ID_PANEL3" variable="animationsPanel" member="yes">
					<pos>352,456</pos>
					<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
						<cols>1</cols>
						<rows>2</rows>
						<growablecols>0</growablecols>
						<growablerows>1</growablerows>
						<object class="sizeritem">
							<object class="wxPanel" name="ID_PANEL11" variable="Panel2" member="yes">
								<size>-1,25</size>
								<object class="wxAuiManager" variable="AuiManager4" member="yes">
									<object class="AuiManagerItem">
										<object class="wxAuiToolBar" name="ID_AUITOOLBAR4" variable="animationToolbar" member="yes">
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM5" variable="AuiToolBarItem10" member="yes">
													<bitmap code="gd::SkinHelper::GetIcon(&quot;add&quot;, 16)" />
													<shorthelp>Add an animation</shorthelp>
													<handler function="OnAddAnimationSelected" entry="EVT_TOOL" />
												</object>
												<label>Item label</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM8" variable="AuiToolBarItem11" member="yes">
													<bitmap code="gd::SkinHelper::GetIcon(&quot;remove&quot;, 16)" />
													<shorthelp>Delete an animation</shorthelp>
													<handler function="OnDeleteAnimationSelected" entry="EVT_TOOL" />
												</object>
												<label>Item label</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarSeparator" />
												<label>Item label</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarItem" name="ID_TOOLLOOP" variable="AuiToolBarItem12" member="yes">
													<bitmap>res/repeat.png</bitmap>
													<shorthelp>De/activate loop</shorthelp>
													<itemkind>Check</itemkind>
													<handler function="OnToolLoopClick" entry="EVT_TOOL" />
												</object>
												<label>De/activate loop</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM10" variable="AuiToolBarItem13" member="yes">
													<bitmap>res/time16.png</bitmap>
													<shorthelp>Time between each images</shorthelp>
													<handler function="OnTimeBetweenFramesSelected" entry="EVT_TOOL" />
												</object>
												<label>Item label</label>
											</object>
										</object>
										<name>PaneName</name>
										<standardpanetype>Toolbar</standardpanetype>
										<caption>Pane caption</caption>
										<captionvisible>0</captionvisible>
										<minimizebutton>0</minimizebutton>
										<maximizebutton>0</maximizebutton>
										<pinbutton>0</pinbutton>
										<layer>10</layer>
										<dockabledirection>.Dockable(false)</dockabledirection>
										<resizable>0</resizable>
										<movable>0</movable>
										<destroyonclose>0</destroyonclose>
										<firstadd>0</firstadd>
									</object>
								</object>
							</object>
							<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxTreeCtrl" name="ID_TREECTRL1" variable="animationsTree" member="yes">
								<image_list>&lt;none&gt;</image_list>
								<tree_items>
									<item>animationsTree</item>
									<item>&lt;none&gt;</item>
								</tree_items>
								<items_text>
									<item2>animationsTree</item2>
									<item2>&lt;none&gt;</item2>
								</items_text>
								<minsize>200,-1</minsize>
								<style>wxTR_HIDE_ROOT|wxTR_DEFAULT_STYLE</style>
								<handler function="OnanimationsTreeItemRightClick" entry="EVT_TREE_ITEM_RIGHT_CLICK" />
								<handler function="OnanimationsTreeSelectionChanged" entry="EVT_TREE_SEL_CHANGED" />
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
					</object>
				</object>
				<name>animationsPane</name>
				<caption>Animations</caption>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<closebutton>0</closebutton>
				<dockdirection>Left</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="wxPanel" name="ID_PANEL2" variable="imagesPanel" member="yes">
					<pos>356,449</pos>
					<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
						<cols>3</cols>
						<growablecols>0</growablecols>
						<growablerows>0</growablerows>
						<object class="sizeritem">
							<object class="wxListCtrl" name="ID_LISTCTRL1" variable="imagesList" member="yes">
								<minsize>300,200</minsize>
								<style>wxLC_ICON|wxLC_SINGLE_SEL</style>
								<handler function="OnimagesListItemSelect" entry="EVT_LIST_ITEM_SELECTED" />
								<handler function="OnimagesListItemRClick" entry="EVT_LIST_ITEM_RIGHT_CLICK" />
								<handler function="OnimagesListKeyDown" entry="EVT_LIST_KEY_DOWN" />
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
					</object>
				</object>
				<name>imagePane</name>
				<caption>Images</caption>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<closebutton>0</closebutton>
				<dockdirection>Bottom</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="wxPanel" name="ID_PANEL8" variable="maskPanel" member="yes">
					<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
						<cols>1</cols>
						<growablecols>0</growablecols>
						<growablerows>1</growablerows>
						<object class="sizeritem">
							<object class="wxPanel" name="ID_PANEL9" variable="Panel3" member="yes">
								<size>-1,25</size>
								<object class="wxAuiManager" variable="AuiManager3" member="yes">
									<object class="AuiManagerItem">
										<object class="wxAuiToolBar" name="ID_AUITOOLBAR3" variable="maskToolbar" member="yes">
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM9" variable="AuiToolBarItem14" member="yes">
													<bitmap>res/addquad.png</bitmap>
													<handler function="OnAddMaskClick" entry="EVT_TOOL" />
												</object>
												<label>Item label</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarSeparator" />
												<label>Item label</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM11" variable="AuiToolBarItem15" member="yes">
													<bitmap>res/addvertice.png</bitmap>
													<handler function="OnAddVerticeClick" entry="EVT_TOOL" />
												</object>
												<label>Item label</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarSeparator" />
												<label>Item label</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM7" variable="AuiToolBarItem7" member="yes">
													<bitmap code="gd::SkinHelper::GetIcon(&quot;remove&quot;, 16)" />
													<handler function="OnDeleteMaskClick" entry="EVT_TOOL" />
												</object>
												<label>Item label</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarSeparator" />
												<label>Item label</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM1" variable="AuiToolBarItem1" member="yes">
													<bitmap code="gd::CommonBitmapProvider::GetInstance()-&gt;defaultMask16" />
													<shorthelp>Go back to default mask</shorthelp>
													<handler function="OnDefaultMaskClick" entry="EVT_TOOL" />
												</object>
												<label>Go back to default mask</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarSeparator" />
												<label>Item label</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarItem" name="ID_MASKAPPLYWHOLEANIMITEM" variable="AuiToolBarItem8" member="yes">
													<bitmap code="gd::SkinHelper::GetIcon(&quot;copy&quot;, 16)" />
													<itemkind>Check</itemkind>
													<handler function="OnPointEditClick" entry="EVT_TOOL" />
												</object>
												<label>Item label</label>
											</object>
										</object>
										<name>PaneName</name>
										<standardpanetype>Toolbar</standardpanetype>
										<caption>Pane caption</caption>
										<captionvisible>0</captionvisible>
										<minimizebutton>0</minimizebutton>
										<maximizebutton>0</maximizebutton>
										<pinbutton>0</pinbutton>
										<layer>10</layer>
										<dockabledirection>.Dockable(false)</dockabledirection>
										<resizable>0</resizable>
										<movable>0</movable>
										<destroyonclose>0</destroyonclose>
										<firstadd>0</firstadd>
									</object>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="Custom" name="ID_TREELISTCTRL1" subclass="wxTreeListCtrl" variable="maskTree" member="yes">
								<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),$(STYLE),$(NAME));</creating_code>
								<include_file>wx/treelist.h</include_file>
								<style></style>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
					</object>
				</object>
				<name>maskPane</name>
				<caption>Collision masks ( Hit boxes )</caption>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<dockdirection>Right</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="wxPanel" name="ID_PANEL5" variable="pointsPanel" member="yes">
					<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
						<cols>1</cols>
						<growablecols>0</growablecols>
						<growablerows>1</growablerows>
						<object class="sizeritem">
							<object class="wxPanel" name="ID_PANEL7" variable="Panel1" member="yes">
								<size>-1,25</size>
								<object class="wxAuiManager" variable="AuiManager2" member="yes">
									<object class="AuiManagerItem">
										<object class="wxAuiToolBar" name="ID_AUITOOLBAR2" variable="pointToolbar" member="yes">
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM3" variable="AuiToolBarItem3" member="yes">
													<bitmap code="gd::SkinHelper::GetIcon(&quot;add&quot;, 16)" />
													<handler function="OnAddPointClick" entry="EVT_TOOL" />
												</object>
												<label>Item label</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarItem" name="ID_DELETEPOINTITEM" variable="AuiToolBarItem5" member="yes">
													<bitmap code="gd::SkinHelper::GetIcon(&quot;remove&quot;, 16)" />
													<handler function="OnDeletePointClick" entry="EVT_TOOL" />
												</object>
												<label>Item label</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarSeparator" />
												<label>Item label</label>
											</object>
											<object class="AuiToolBarItem">
												<object class="wxAuiToolBarItem" name="ID_POINTAPPLYWHOLEANIMITEM" variable="AuiToolBarItem4" member="yes">
													<bitmap code="gd::SkinHelper::GetIcon(&quot;copy&quot;, 16)" />
													<shorthelp>Apply changes to the whole animation</shorthelp>
													<itemkind>Check</itemkind>
												</object>
												<label>Apply the changes to the whole animation</label>
											</object>
										</object>
										<name>PaneName</name>
										<standardpanetype>Toolbar</standardpanetype>
										<caption>Pane caption</caption>
										<captionvisible>0</captionvisible>
										<minimizebutton>0</minimizebutton>
										<maximizebutton>0</maximizebutton>
										<pinbutton>0</pinbutton>
										<layer>10</layer>
										<dockabledirection>.Dockable(false)</dockabledirection>
										<resizable>0</resizable>
										<movable>0</movable>
										<destroyonclose>0</destroyonclose>
										<firstadd>0</firstadd>
									</object>
								</object>
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
						<object class="sizeritem">
							<object class="wxListCtrl" name="ID_LISTCTRL3" variable="pointsList" member="yes">
								<style>wxLC_REPORT|wxLC_EDIT_LABELS</style>
								<handler function="OnpointsListBeginLabelEdit" entry="EVT_LIST_BEGIN_LABEL_EDIT" />
								<handler function="OnpointsListEndLabelEdit" entry="EVT_LIST_END_LABEL_EDIT" />
								<handler function="OnpointsListItemSelect" entry="EVT_LIST_ITEM_SELECTED" />
								<handler function="OnpointsListItemActivated" entry="EVT_LIST_ITEM_ACTIVATED" />
							</object>
							<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
							<option>1</option>
						</object>
					</object>
				</object>
				<name>pointsPane</name>
				<caption>Points</caption>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<dockdirection>Right</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
			<object class="AuiManagerItem">
				<object class="wxPanel" name="ID_PANEL10" variable="previewPanel" member="yes">
					<handler function="OnpreviewPanelPaint" entry="EVT_PAINT" />
					<handler function="OnpreviewPanelEraseBackground" entry="EVT_ERASE_BACKGROUND" />
					<handler function="OnpreviewPanelResize" entry="EVT_SIZE" />
				</object>
				<name>previewPane</name>
				<caption>Preview</caption>
				<minimizebutton>0</minimizebutton>
				<maximizebutton>0</maximizebutton>
				<pinbutton>0</pinbutton>
				<dockdirection>Left</dockdirection>
				<dockfixed>0</dockfixed>
				<dockabledirection></dockabledirection>
				<destroyonclose>0</destroyonclose>
				<firstadd>0</firstadd>
			</object>
		</object>
		<object class="wxMenu" variable="animationsMenu" member="yes">
			<object class="wxMenu" name="ID_MENUITEM4" variable="MenuItem2" member="yes">
				<label>Type</label>
				<object class="wxMenuItem" name="ID_MENUITEM5" variable="automaticRotationItem" member="yes">
					<label>Automatic rotation</label>
					<handler function="OnautomaticRotationItemSelected" entry="EVT_MENU" />
					<radio>1</radio>
				</object>
				<object class="wxMenuItem" name="ID_MENUITEM6" variable="multipleDirectionsItem" member="yes">
					<label>8 Directions</label>
					<handler function="OnmultipleDirectionsItemSelected" entry="EVT_MENU" />
					<radio>1</radio>
				</object>
			</object>
			<object class="wxMenuItem" name="ID_MENUTIMEBETWEENFRAMES" variable="MenuItem7" member="yes">
				<label>Time between each image :</label>
				<handler function="OnTimeBetweenFramesSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENULOOP" variable="MenuItem8" member="yes">
				<label>Loop the animation</label>
				<handler function="OnMenuLoopSelected" entry="EVT_MENU" />
				<checkable>1</checkable>
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem1" member="yes">
				<label>Add an animation</label>
				<bitmap code="gd::SkinHelper::GetIcon(&quot;add&quot;, 16)" />
				<handler function="OnAddAnimationSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM2" variable="deleteItem" member="yes">
				<label>Delete</label>
				<bitmap code="gd::SkinHelper::GetIcon(&quot;remove&quot;, 16)" />
				<handler function="OnDeleteAnimationSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM3" variable="MenuItem3" member="yes">
				<label>Rename</label>
			</object>
		</object>
		<object class="wxMenu" variable="imagesMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM7" variable="MenuItem4" member="yes">
				<label>Add an image from a file</label>
				<bitmap code="gd::SkinHelper::GetIcon(&quot;add&quot;, 16)" />
				<handler function="OnAddImageFromFileSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM11" variable="MenuItem9" member="yes">
				<label>Add from the image bank</label>
				<handler function="OnAddFromImageBankSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM8" variable="removeImageItem" member="yes">
				<label>Remove</label>
				<accel>DEL</accel>
				<handler function="OnremoveImageItemSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM9" variable="moveLeftItem" member="yes">
				<label>Move left</label>
				<accel>J</accel>
				<bitmap code="gd::SkinHelper::GetIcon(&quot;left&quot;, 16)" />
				<handler function="OnMoveLeftSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM10" variable="moveRightItem" member="yes">
				<label>Move right</label>
				<accel>K</accel>
				<bitmap code="gd::SkinHelper::GetIcon(&quot;right&quot;, 16)" />
				<handler function="OnMoveRightSelected" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxMenu" variable="maskMenu" member="yes">
			<object class="wxMenuItem" name="ID_POSITIONMASKITEM" variable="MenuItem5" member="yes">
				<label>Position</label>
				<handler function="OnPositionMaskSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MOVEPOLYGONITEM" variable="MenuItem6" member="yes">
				<label>Move the entire polygon</label>
				<handler function="OnMovePolygonSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM14" variable="MenuItem12" member="yes">
				<label>Rotate the entire polygon</label>
				<handler function="OnRotatePolygonSelected" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="previewTimer" member="yes">
			<interval>50</interval>
			<handler function="OnpreviewTimerTrigger" entry="EVT_TIMER" />
		</object>
		<object class="wxMenu" variable="emptyImagesMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM12" variable="MenuItem10" member="yes">
				<label>Add an image from a file</label>
				<bitmap code="gd::SkinHelper::GetIcon(&quot;add&quot;, 16)" />
				<handler function="OnAddImageFromFileSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM13" variable="MenuItem11" member="yes">
				<label>Add from the image bank</label>
				<handler function="OnAddFromImageBankSelected" entry="EVT_MENU" />
			</object>
		</object>
	</object>
</wxsmith>
