ul.MuiGridList-root {
  overflow-x: scroll;
  overflow-y: hidden;
  flex-wrap: nowrap;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
ul.MuiGridList-root::-webkit-scrollbar {
  height: 0px; /* For Chrome, Safari, and Opera */
}

li.MuiGridListTile-root {
  width: unset !important;
}

div.MuiGridListTile-tile {
  display: flex;
  flex-direction: column;
}