.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.fullWidth {
  flex: 1;
}

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 32px;
  height: 16px;
  flex-shrink: 0;
}

.checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--theme-toggle-field-default-background-color);
  transition: 0.2s;
  border-radius: 16px;
}
.handle {
  position: absolute;
  content: '';
  height: 12px;
  width: 12px;
  left: 3px;
  bottom: 3px;
  background-color: var(--theme-toggle-field-default-slider-color);
  transition: 0.2s;
  border-radius: 50%;
  z-index: 2;
}
.handleContainer {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: -1px;
  bottom: -1px;
  background-color: none;
  border-radius: 50%;
  z-index: 1;
  transition: 0.2s;
}

.slider:hover .handleContainer:not(.disabled) {
  background-color: var(--theme-toggle-field-hover-slider-aura-color);
}

.handleContainer.checked {
  transform: translateX(16px);
}

.slider.checked {
  background-color: var(--theme-toggle-field-active-background-color);
}
.handle.checked {
  background-color: var(--theme-toggle-field-active-slider-color);
}

.slider.disabled {
  background-color: var(--theme-toggle-field-disabled-background-color);
}
.handle.disabled {
  background-color: var(--theme-toggle-field-disabled-slider-color);
}
