@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes verticalEaseShake {
  from {
   transform: translateY(-15px);
  }
  to {
    transform: translateY(15px);
  }
}