<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="CustomPolygonDialog">
		<title>Collision polygon coordinates</title>
		<id_arg>0</id_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>3</cols>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
							<cols>1</cols>
							<rows>5</rows>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
									<label>Enter each coordinates of the polygon :&#x0A;( Each line must have a point x;y )</label>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="pointsEdit" member="yes">
									<size>321,120</size>
									<maxsize>-1,120</maxsize>
									<style>wxTE_MULTILINE|wxVSCROLL</style>
									<handler function="OnpointsEditText" entry="EVT_TEXT" />
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
									<label>Coordinates must be entere with a clockwise wind.</label>
									<font>
										<style>italic</style>
									</font>
								</object>
								<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
									<label>Positioning</label>
									<object class="sizeritem">
										<object class="wxGridSizer" variable="GridSizer1" member="no">
											<cols>1</cols>
											<rows>3</rows>
											<object class="sizeritem">
												<object class="wxRadioButton" name="ID_RADIOBUTTON3" variable="OnCenterRadioBt" member="yes">
													<label>Position according to object's center</label>
													<selected>1</selected>
													<style>wxRB_GROUP</style>
													<handler function="OnRadioButton1Select" entry="EVT_RADIOBUTTON" />
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxRadioButton" name="ID_RADIOBUTTON1" variable="OnOriginRadioBt" member="yes">
													<label>Position according to object&apos;s origin</label>
													<handler function="OnRadioButton1Select" entry="EVT_RADIOBUTTON" />
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticBoxSizer" variable="StaticBoxSizer3" member="no">
									<label>Resizing</label>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
											<cols>1</cols>
											<growablecols>0</growablecols>
											<object class="sizeritem">
												<object class="wxCheckBox" name="ID_CHECKBOX1" variable="autoResizingCheckBox" member="yes">
													<label>Resize automatically according to object size</label>
													<handler function="OnautoResizingCheckBoxClick" entry="EVT_CHECKBOX" />
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText3" member="yes">
													<label>So as to let the polygon resize itself according to the object size, you must define the initial size of the object.</label>
													<size>291,47</size>
													<enabled>0</enabled>
													<font>
														<style>italic</style>
													</font>
													<style>wxST_NO_AUTORESIZE</style>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
													<cols>4</cols>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText4" member="yes">
															<label>Width:</label>
															<enabled>0</enabled>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="polygonWidthTextCtrl" member="yes">
															<value>200</value>
															<size>87,21</size>
															<enabled>0</enabled>
															<handler function="OnpolygonHeightTextCtrlTextEnter" entry="EVT_TEXT" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText5" member="yes">
															<label>Height:</label>
															<enabled>0</enabled>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="polygonHeightTextCtrl" member="yes">
															<value>200</value>
															<size>88,21</size>
															<enabled>0</enabled>
															<handler function="OnpolygonHeightTextCtrlTextEnter" entry="EVT_TEXT" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
							<cols>1</cols>
							<rows>2</rows>
							<growablecols>0</growablecols>
							<growablerows>0</growablerows>
							<object class="sizeritem">
								<object class="wxStaticBoxSizer" variable="StaticBoxSizer4" member="no">
									<label>Tools</label>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
											<cols>4</cols>
											<object class="sizeritem">
												<object class="wxButton" name="ID_BUTTON2" variable="Button1" member="yes">
													<label>Move...</label>
													<tooltip>Move the shape</tooltip>
													<handler function="OnButton1Click" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_BUTTON3" variable="Button2" member="yes">
													<label>Resize...</label>
													<tooltip>Resize the shape</tooltip>
													<handler function="OnButton2Click" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_BUTTON4" variable="Button3" member="yes">
													<label>Rotation...</label>
													<tooltip>Turn the polygon around a point</tooltip>
													<handler function="OnButton3Click" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxButton" name="ID_BUTTON5" variable="Button4" member="yes">
													<label>Round...</label>
													<tooltip>Round coordinates</tooltip>
													<handler function="OnButton4Click" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>2</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
									<label>Preview of the collision polygon:</label>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
											<cols>1</cols>
											<growablecols>0</growablecols>
											<growablerows>0</growablerows>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
													<cols>2</cols>
													<rows>2</rows>
													<growablecols>0</growablecols>
													<object class="sizeritem">
														<object class="wxPanel" name="ID_PANEL1" variable="previewPnl" member="yes">
															<size>440,348</size>
															<style>wxSIMPLE_BORDER|wxTAB_TRAVERSAL</style>
															<handler function="OnpreviewPnlPaint" entry="EVT_PAINT" />
															<handler function="OnpreviewPnlLeftUp" entry="EVT_LEFT_UP" />
															<handler function="OnpreviewPnlMouseMove" entry="EVT_MOTION" />
														</object>
														<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxScrollBar" name="ID_SCROLLBAR1" variable="previewPnlVerticalScroll" member="yes">
															<value>600</value>
															<thumbsize>500</thumbsize>
															<range>2000</range>
															<pagesize>500</pagesize>
															<style>wxSB_VERTICAL</style>
															<handler function="OnpreviewScrollChanged" entry="EVT_COMMAND_SCROLL_CHANGED" />
														</object>
														<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxScrollBar" name="ID_SCROLLBAR2" variable="previewPnlHorizontalScroll" member="yes">
															<value>600</value>
															<thumbsize>500</thumbsize>
															<range>2000</range>
															<pagesize>500</pagesize>
															<style>wxSB_HORIZONTAL</style>
															<handler function="OnpreviewScrollChanged" entry="EVT_COMMAND_SCROLL_CHANGED" />
														</object>
														<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
													<cols>2</cols>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT4" variable="pointLabelTxt" member="yes">
															<label>The point indicates the origin of the object.</label>
															<size>277,13</size>
															<font>
																<style>italic</style>
															</font>
														</object>
														<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT3" variable="cursorPosTxt" member="yes">
															<label>Cursor position:</label>
															<font>
																<style>italic</style>
															</font>
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>3</cols>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="okBt" member="yes">
							<label>Ok</label>
							<handler function="OnokBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON6" variable="cancelBt" member="yes">
							<label>Cancel</label>
							<handler function="OncancelBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>







