[Desktop Entry]
Version=3.6
Encoding=UTF-8
Name=GDevelop
GenericName=Game creator IDE
Comment=HTML5 and native game development software
Exec=sh -c "gdevelop %F"
Icon=GDevelop
Terminal=false
Type=Application
Categories=Development;IDE

