*.depend
/AES/obj
/AES/AES.depend
/AStarAutomatism/obj
/AStarAutomatism/AStarAutomatism.depend
/Box3DObject/obj
/Box3DObject/Box3DObject.depend
/Common Dialogs/obj
/Common Dialogs/CommonDialogs.depend
/DestroyOutsideAutomatism/obj
/DestroyOutsideAutomatism/DestroyOutsideAutomatism.depend
/DraggableAutomatism/obj
/DraggableAutomatism/DraggableAutomatism.depend
/Function/obj
/Function/Function.depend
/Light/obj
/Light/Light.depend
/LinkedObjects/obj
/LinkedObjects/LinkedObjects.depend
/Network/obj
/Network/Network.depend
/PanelSpriteObject/obj
/PanelSpriteObject/PanelSpriteObject.depend
/ParticleSystem/obj
/ParticleSystem/ParticleSystem.depend
/PathAutomatism/obj
/PathAutomatism/PathAutomatism.depend
/PhysicsAutomatism/obj
/PhysicsAutomatism/PhysicsAutomatism.depend
/PrimitiveDrawing/obj
/PrimitiveDrawing/PrimitiveDrawing.depend
/TextEntryObject/obj
/TextEntryObject/TextEntryObject.depend
/TextObject/obj
/TextObject/TextObject.depend
/TiledSpriteObject/obj
/TiledSpriteObject/TiledSpriteObject.depend
/TimedEvent/obj
/TimedEvent/TimedEvent.depend
/VideoObject/obj
/VideoObject/VideoObject.depend
/SoundObject/obj
/SoundObject/SoundObject.depend
/VideoObject/VideoExtension.layout
/VideoObject/VideoExtension.depend
*.js~
*.depend
*.cpp~
*.layout
/.build
*.layout
/TiledSpriteObject/*.layout
