*.depend
/AES/obj
/AES/AES.depend
/AStarBehavior/obj
/AStarBehavior/AStarBehavior.depend
/Box3DObject/obj
/Box3DObject/Box3DObject.depend
/Common Dialogs/obj
/Common Dialogs/CommonDialogs.depend
/DestroyOutsideBehavior/obj
/DestroyOutsideBehavior/DestroyOutsideBehavior.depend
/DraggableBehavior/obj
/DraggableBehavior/DraggableBehavior.depend
/Function/obj
/Function/Function.depend
/Light/obj
/Light/Light.depend
/LinkedObjects/obj
/LinkedObjects/LinkedObjects.depend
/Network/obj
/Network/Network.depend
/PanelSpriteObject/obj
/PanelSpriteObject/PanelSpriteObject.depend
/ParticleSystem/obj
/ParticleSystem/ParticleSystem.depend
/PathBehavior/obj
/PathBehavior/PathBehavior.depend
/PhysicsBehavior/obj
/PhysicsBehavior/PhysicsBehavior.depend
/PrimitiveDrawing/obj
/PrimitiveDrawing/PrimitiveDrawing.depend
/TextEntryObject/obj
/TextEntryObject/TextEntryObject.depend
/TextObject/obj
/TextObject/TextObject.depend
/TiledSpriteObject/obj
/TiledSpriteObject/TiledSpriteObject.depend
/TimedEvent/obj
/TimedEvent/TimedEvent.depend
/VideoObject/obj
/VideoObject/VideoObject.depend
/SoundObject/obj
/SoundObject/SoundObject.depend
/VideoObject/VideoExtension.layout
/VideoObject/VideoExtension.depend
*.js~
*.depend
*.cpp~
*.layout
/.build
*.layout
/TiledSpriteObject/*.layout
