/* Mosaic layout */
.mosaic-gd-dark-theme.mosaic {
  background-color: #4d4d4d !important;
}

/* Mosaic window and tile */
.mosaic-gd-dark-theme .mosaic-window-toolbar {
  background: #3c4698 !important;
}

.mosaic-gd-dark-theme .mosaic-window-body {
  background: #303030 !important;
}

.mosaic-gd-dark-theme .mosaic-window .mosaic-window-title {
  color: white !important;
  font-weight: 400 !important;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
  font-size: 15px; /* Same as ClosableTabs font size */
}

/* Hovered titlebar background */
.mosaic-gd-dark-theme.mosaic-blueprint-theme .mosaic-window .mosaic-window-toolbar.draggable:hover,
.mosaic-gd-dark-theme.mosaic.mosaic-blueprint-theme .mosaic-preview .mosaic-window-toolbar.draggable:hover {
  background: #3c4698 !important;
}

.mosaic-gd-dark-theme .mosaic-split.-column {
  background-color: #4d4d4d !important;
}

/* Separator draggable background */
.mosaic-gd-dark-theme .mosaic-split.-column .mosaic-split-line {
  height: 1px;
  border-top: 1px solid #888888 !important;
  width: 25px;
  margin: auto;
  bottom: 1px;
}

.mosaic-gd-dark-theme .mosaic-split:hover .mosaic-split-line {
  border-color: #2b95d6 !important;
  box-shadow: none !important;
  cursor: ns-resize;
}
