/* This is the styling applied to large tables (like the one used for InstancesList).
 * It mimics the Material UI Tables style. */

.gd-table-dark-theme {
  /* Use the fonts provided by the operating system(s) as possible. */
  /* If you update this font list, be sure to do it in all the other places using fonts in the codebase. */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, 'Helvetica Neue', Helvetica, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.gd-table-dark-theme .tableHeaderRow,
.gd-table-dark-theme .tableEvenRow,
.gd-table-dark-theme .tableSelectedRow,
.gd-table-dark-theme .tableOddRow {
  font-size: 13px;
  border-bottom: 1px solid #303030;
}
.gd-table-dark-theme .tableOddRow {
  background-color: #303030;
}
.gd-table-dark-theme .tableEvenRow {
  background-color: #252525;
}
.gd-table-dark-theme .tableSelectedRow {
  background-color: #4c92ff; /*OS X selection*/
  color: white;
}
.gd-table-dark-theme .tableHeaderColumn {
  text-transform: none;
  font-weight: 600;
  font-size: 12px;
  color: rgb(158, 158, 158);
}
.gd-table-dark-theme .tableColumn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
