<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="HelpViewerDlg">
		<title>Game Develop - Online help</title>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxCLOSE_BOX|wxMAXIMIZE_BOX</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>3</cols>
					<growablecols>0</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
							<bg>#FFFFFF</bg>
							<style>wxNO_BORDER|wxTAB_TRAVERSAL</style>
							<object class="wxAuiManager" variable="AuiManager1" member="yes">
								<object class="AuiManagerItem">
									<object class="wxAuiToolBar" name="ID_AUITOOLBAR1" variable="AuiToolBar1" member="yes">
										<object class="AuiToolBarItem">
											<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM1" variable="previousItemBt" member="yes">
												<bitmap>res/left16.png</bitmap>
												<shorthelp>Previous page</shorthelp>
												<handler function="OnpreviousItemBtClick" entry="EVT_TOOL" />
											</object>
											<label>Previous page</label>
										</object>
										<object class="AuiToolBarItem">
											<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM2" variable="nextItemBt" member="yes">
												<bitmap>res/right16.png</bitmap>
												<shorthelp>Next page</shorthelp>
												<handler function="OnnextItemBtClick" entry="EVT_TOOL" />
											</object>
											<label>Next page</label>
										</object>
										<object class="AuiToolBarItem">
											<object class="wxAuiToolBarSeparator" />
											<label>Item label</label>
										</object>
										<object class="AuiToolBarItem">
											<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM4" variable="contentsItemBt" member="yes">
												<bitmap>res/helpContent16.png</bitmap>
												<shorthelp>Go back to the table of content of the help</shorthelp>
												<handler function="OncontentsItemBtClick" entry="EVT_TOOL" />
											</object>
											<label>Go back to the table of content of the help</label>
										</object>
										<object class="AuiToolBarItem">
											<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM3" variable="homeItemBt" member="yes">
												<bitmap>res/home16.png</bitmap>
												<shorthelp>Go back to the home page of the wiki</shorthelp>
												<handler function="OnhomeItemBtClick" entry="EVT_TOOL" />
											</object>
											<label>Go back to the home page of the wiki</label>
										</object>
										<object class="AuiToolBarItem">
											<object class="wxAuiToolBarSeparator" />
											<label>Item label</label>
										</object>
										<object class="AuiToolBarItem">
											<object class="wxTextCtrl" name="ID_TEXTCTRL1" subclass="wxSearchCtrl" variable="searchCtrl" member="yes">
												<pos>-49,-5</pos>
												<size>500,-1</size>
												<tooltip>Enter a keyword to perform an search in the online help</tooltip>
												<handler function="OnsearchCtrlTextEnter" entry="EVT_TEXT" />
											</object>
										</object>
									</object>
									<name>PaneName</name>
									<standardpanetype>Toolbar</standardpanetype>
									<caption>Pane caption</caption>
									<captionvisible>0</captionvisible>
									<minimizebutton>0</minimizebutton>
									<maximizebutton>0</maximizebutton>
									<pinbutton>0</pinbutton>
									<layer>10</layer>
									<dockabledirection></dockabledirection>
									<floatable>0</floatable>
									<resizable>0</resizable>
									<movable>0</movable>
									<destroyonclose>0</destroyonclose>
									<firstadd>0</firstadd>
								</object>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="Custom" name="ID_CUSTOM1" subclass="HtmlViewerPnl" variable="htmlViewerPanel" member="yes">
					<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE));</creating_code>
					<include_file>HtmlViewerPnl.h</include_file>
					<local_include>1</local_include>
					<style></style>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="searchTimer" member="yes">
			<interval>725</interval>
			<handler function="OnsearchTimerTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
