/**
 * This is the styling applied to an EventsSheet.
 * This also overwrite the default react-sortable-tree css.
 */

 .gd-events-sheet-Shades-of-Purple-theme.events-tree {
  /* Use the fonts provided by the operating system(s) as possible. */
  /* If you update this font list, be sure to do it in all the other places using fonts in the codebase. */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, 'Helvetica Neue', Helvetica, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
  font-size: 14px !important;
  background-color: #2D2B55;
}

/**
 * Ensure scroll is only on Y direction, preventing the display
 * of horizontal scrollbar.
 */
.gd-events-sheet-Shades-of-Purple-theme .rst__virtualScrollOverride {
  overflow-x: hidden !important;
}

/**
 * Draggable handle on the left of an event
 */
.gd-events-sheet-Shades-of-Purple-theme .rst__moveHandle {
  background: #4D21FC !important;
}

.gd-events-sheet-Shades-of-Purple-theme .rst__moveHandle:hover {
  background-color: #FAD000 !important;
}

/**
 * Scaffolding lines on the left
 */
.gd-events-sheet-Shades-of-Purple-theme .rst__lineHalfHorizontalRight::before,
.gd-events-sheet-Shades-of-Purple-theme .rst__lineFullVertical::after,
.gd-events-sheet-Shades-of-Purple-theme .rst__lineHalfVerticalTop::after,
.gd-events-sheet-Shades-of-Purple-theme .rst__lineHalfVerticalBottom::after {
  background-color: #9999E9;
}

/**
 * Background and default text color of content of an event
 */
.gd-events-sheet-Shades-of-Purple-theme .rst__rowContents {
  background-color: #2D2B55;
  color: #ECEFF4;
}

/**
 * Selectable area (instructions)
 */
.gd-events-sheet-Shades-of-Purple-theme .selectable:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.gd-events-sheet-Shades-of-Purple-theme .selectable.selected {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px #88C0D0 solid !important;
}

/**
 * Large selectable area (events)
 */
.gd-events-sheet-Shades-of-Purple-theme .large-selectable {
  border: 1px #2D2B55 solid !important;
}
.gd-events-sheet-Shades-of-Purple-theme .large-selectable.large-selected {
  border: 1px #88C0D0 solid !important;
}

/**
 * Conditions and actions containers
 */
.gd-events-sheet-Shades-of-Purple-theme .conditions-container {
  background: #222244;
  border: 1px solid #222244;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 0; /* Prevent container to growing outside its parent */
}
.gd-events-sheet-Shades-of-Purple-theme .conditions-container.small-width-container {
  border-right-color: #222244;
  border-bottom-color: #222244;
}

.gd-events-sheet-Shades-of-Purple-theme .actions-container {
  background: #2D2B55;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 0; /* Prevent container to growing outside its parent */
}
.gd-events-sheet-Shades-of-Purple-theme .actions-container.small-width-container {
  padding-left: 20px;
}

.gd-events-sheet-Shades-of-Purple-theme .sub-instructions-container {
  margin-left: 9px;
  margin-top: 1px;
  border-right: none;
  border-left: 1px solid #2E3440;
}

/**
 * Instructions parameters color scheme
 */
.gd-events-sheet-Shades-of-Purple-theme .instruction-parameter {
  color: #8FBCBB;
}

.gd-events-sheet-Shades-of-Purple-theme .instruction-parameter.expression {
  color: #A3BE8C;
}

.gd-events-sheet-Shades-of-Purple-theme .instruction-parameter.object,
.gd-events-sheet-Shades-of-Purple-theme .instruction-parameter.objectPtr,
.gd-events-sheet-Shades-of-Purple-theme .instruction-parameter.objectList,
.gd-events-sheet-Shades-of-Purple-theme .instruction-parameter.objectListWithoutPicking {
  color: #5E81AC;
  font-weight: bold;
}

.gd-events-sheet-Shades-of-Purple-theme .instruction-parameter.behavior {
  color: rgb(119, 119, 119);
}

.gd-events-sheet-Shades-of-Purple-theme .instruction-parameter.operator {
  color: #B48EAD;
}

.gd-events-sheet-Shades-of-Purple-theme .instruction-parameter.objectvar {
  color: #D08770;
}

.gd-events-sheet-Shades-of-Purple-theme .instruction-parameter.scenevar {
  color: #D08770;
}

.gd-events-sheet-Shades-of-Purple-theme .instruction-parameter.globalvar {
  color: #D08770;
}

.gd-events-sheet-Shades-of-Purple-theme
  .instruction-parameter
  .instruction-invalid-parameter {
  color: #BF616A;
  text-decoration: #BF616A underline wavy;
}

.gd-events-sheet-Shades-of-Purple-theme
  .instruction-parameter
  .instruction-missing-parameter {
  display: inline-flex;
  background-color: rgba(243, 0, 12, 0.15);
  border-bottom: 1px dashed #BF616A;
  min-width: 25px;
  min-height: 14px;
}

/**
 * Search results highlight
 */
.gd-events-sheet-Shades-of-Purple-theme.with-search-results .rst__moveHandle {
  background: #d3d3d3 !important;
  border: 1px solid #d3d3d3 !important;
}

.gd-events-sheet-Shades-of-Purple-theme .rst__rowSearchMatch {
  outline: none;
  border-left: solid 3px #88C0D0
  ;
}

.gd-events-sheet-Shades-of-Purple-theme .rst__rowSearchFocus {
  outline: none;
  border-left: solid 5px #88C0D0;
}

/**
* Drag'n'drop indicator (events)
*/
.gd-events-sheet-Shades-of-Purple-theme .drop-indicator {
  border-top: 2px solid #4C566A;
  height: 0;
  margin-top: -1px;
  margin-bottom: -1px;
  width: '100%';
  box-sizing: 'border-box';
}

.gd-events-sheet-Shades-of-Purple-theme .cant-drop-indicator {
  border-top: 2px solid #BF616A;
  height: 0;
  margin-top: -1px;
  margin-bottom: -1px;
  width: '100%';
  box-sizing: 'border-box';
}

/**
* Skinning the "Link" event
*/
.gd-events-sheet-Shades-of-Purple-theme .link-container {
  background: #2D2B55;
}
.gd-events-sheet-Shades-of-Purple-theme .link-container .selectable {
  color: #81A1C1;
}

/* Theming icons */
.gd-events-sheet-Shades-of-Purple-theme .icon {
  padding-right: 2px;
  width: 16px;
  height: 16px;
}
