/* This is the styling applied to large tables (like the one used for InstancesList).
 * It mimics the Material UI Tables style. */

 .gd-table-Shades-of-Purple-theme {
  /* Use the fonts provided by the operating system(s) as possible. */
  /* If you update this font list, be sure to do it in all the other places using fonts in the codebase. */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, 'Helvetica Neue', Helvetica, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  color: #1E1E3F;
}

.gd-table-Shades-of-Purple-theme .tableHeaderRow,
.gd-table-Shades-of-Purple-theme .tableEvenRow,
.gd-table-Shades-of-Purple-theme .tableSelectedRow,
.gd-table-Shades-of-Purple-theme .tableOddRow {
  font-size: 13px;
  border-bottom: 1px solid #3B4252;
}
.gd-table-Shades-of-Purple-theme .tableOddRow {
  background-color: #3B4252;
}
.gd-table-Shades-of-Purple-theme .tableEvenRow {
  background-color: #2E3440;
}
.gd-table-Shades-of-Purple-theme .tableSelectedRow {
  background-color: #88C0D0; /*OS X selection*/
  color: rgb(52, 64, 46);
}
.gd-table-Shades-of-Purple-theme .tableHeaderColumn {
  text-transform: none;
  font-weight: 600;
  font-size: 12px;
  color: #D8DEE9;
}
.gd-table-Shades-of-Purple-theme .tableColumn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
