.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.pane {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.leftPane {
  flex-basis: 300px;
  flex-shrink: 0;
}

.rightPane {
  flex-basis: 300px;
  flex-shrink: 0;
}

.centerPane {
  flex: 1;
}

.hidden {
  display: none;
}

.resizer {
  z-index: 1; /* To allow the shadow to be visible. */
  width: 2px;
  cursor: ew-resize;
  background-color: #d9d9de;
  flex-shrink: 0;
}
.resizer:hover,
.resizer:focus {
  background-color: #999;
  outline: none;
}
