<?xml version='1.0' encoding='utf-8'?>
<widget id="GDJS_PACKAGENAME" version="GDJS_PROJECTVERSION" xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GDJS_PROJECTNAME</name>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <plugin name="cordova-plugin-screen-orientation" version="3.0.2" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />

        <!-- Increase timeout value for low-end android devices -->
        <preference name="loadUrlTimeoutValue" value="60000" />

        <!-- GDJS_ICONS_ANDROID -->
        <preference name="AndroidWindowSplashScreenBackground" value="#000000" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />

        <preference name="SwiftVersion" value="5.3" />

        <!-- GDJS_ICONS_IOS -->
    </platform>

    <preference name="AndroidXEnabled" value="true" />

    <preference name="BackgroundColor" value="0xff000000" />

    <!-- Android Fullscreen -->
    <preference name="Fullscreen" value="true" />

    <!-- Cordova/Phonegap version -->
    <preference name="phonegap-version" value="cli-9.0.0" />

    <!-- GDJS_EXTENSION_CORDOVA_DEPENDENCY -->
</widget>