.container {
  display: flex;
  align-items: center;
  flex: 1;

  min-width: 0px;
}

.compactResourceSelector {
  border-radius: 4px;
  color: var(--theme-text-default-color);
  background-color: var(--theme-text-field-default-background-color);
  transition: box-shadow 0.1s;
  position: relative;
  display: flex;
  flex: 1;

  min-width: 0px;
}

.container.disabled .compactResourceSelector {
  color: var(--theme-text-field-disabled-color);
}

.container.errored:not(.disabled) .compactResourceSelector {
  border: none;
  outline: 1px solid var(--theme-text-field-default-error);
}
.container.errored:not(.disabled):hover .compactResourceSelector {
  outline: 1px solid var(--theme-text-field-active-error);
}
.container.errored:not(.disabled):focus-within .compactResourceSelector {
  outline: 1px solid var(--theme-text-field-active-error);
}

.compactResourceSelector::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  content: '';
  border-radius: 4px;
  pointer-events: none;
}

.container:not(.disabled):not(.errored):hover .compactResourceSelector::before {
  border-bottom: 1px solid var(--theme-text-field-hover-border-color);
}
.container:not(.disabled):not(.errored):focus-within
  .compactResourceSelector::before {
  border-bottom: 1px solid var(--theme-text-field-active-border-color);
}

.compactResourceSelector input {
  outline: none;
  border: none;
  padding: 2px 8px;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-size: 14px;
  line-height: 20px;
  font-family: var(--gdevelop-modern-font-family);
  color: inherit;
  flex: 1;
  caret-color: var(--theme-text-field-active-caret-color);
  min-width: 0px;
  border-radius: inherit; /* Needed for InAppTutorialElementHighlighter to adapt its border-radius to the input container */
}
.compactResourceSelector.withEndAdornment input {
  padding-right: 20px;
}

.compactResourceSelector input::placeholder {
  color: var(--theme-text-field-placeholder-color);
}
