/**
 * RESET
 */
html, body {
  font-family: Helvetica;
}

ul, li {
  margin : 0;
  padding : 0;
  list-style-type: none;
}

.sidebar {
  background: #aaa;
  border-right: 5px solid #888;
  width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  box-sizing: border-box;
}

.sidebar-title {
  padding-left: 10px;
}

.sidebar-menuitem {
  height: 36px;
  line-height: 36px;
  padding-left: 15px;
  border-bottom : 1px solid #888;
  cursor: pointer;
}

.sidebar-menuitem:hover {
  background: #5e94c7;
  color: white;
}

.sidebar-menuitem:first-child {
  border-top : 1px solid #888;
}

.editor-container {
  position: absolute;
  top : 0;
  right: 0;
  left: 200px;
  bottom: 0;
}

.editor-frame {
  width:100%;
  height:100%;
  border: none;
}