<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="ChooseVariableDialog">
		<title>Choose a variable</title>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER</style>
		<handler function="OnResize" entry="EVT_SIZE" />
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="toolbarPanel" member="yes">
					<size>-1,26</size>
					<object class="wxAuiManager" variable="AuiManager1" member="yes">
						<object class="AuiManagerItem">
							<object class="wxAuiToolBar" name="ID_AUITOOLBAR1" variable="toolbar" member="yes" />
							<name>PaneName</name>
							<standardpanetype>Toolbar</standardpanetype>
							<caption>Pane caption</caption>
							<captionvisible>0</captionvisible>
							<minimizebutton>0</minimizebutton>
							<maximizebutton>0</maximizebutton>
							<pinbutton>0</pinbutton>
							<layer>10</layer>
							<dockfixed>0</dockfixed>
							<dockabledirection></dockabledirection>
							<resizable>0</resizable>
							<destroyonclose>0</destroyonclose>
							<firstadd>0</firstadd>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="Custom" name="ID_TREELISTCTRL1" subclass="wxTreeListCtrl" variable="variablesList" member="yes">
					<creating_code>$(THIS) = new $(CLASS)($(PARENT),$(ID),$(POS),$(SIZE),0,$(NAME));</creating_code>
					<include_file>wx/treelist.h</include_file>
					<style></style>
					<handler function="OnvariablesListKeyDown1" entry="EVT_KEY_DOWN" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE2" variable="StaticLine2" member="yes">
					<size>10,-1</size>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>3</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer17" member="no">
							<cols>3</cols>
							<growablerows>0</growablerows>
							<object class="sizeritem">
								<object class="wxStaticBitmap" name="ID_STATICBITMAP2" variable="StaticBitmap2" member="yes">
									<bitmap code='gd::SkinHelper::GetIcon(&quot;help&quot;, 16)' />
									<style>wxNO_BORDER</style>
								</object>
								<flag>wxTOP|wxBOTTOM|wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL1" variable="HyperlinkCtrl1" member="yes">
									<label>Help</label>
									<tooltip>Display help about this window</tooltip>
									<handler function="OnhelpBtClick" entry="EVT_HYPERLINK" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="okBt" member="yes">
							<label>Choose</label>
							<handler function="OnokBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON3" variable="cancelBt" member="yes">
							<label>Cancel</label>
							<handler function="OncancelBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenu" variable="contextMenu" member="yes">
			<object class="wxMenuItem" name="ID_MENUITEM1" variable="MenuItem1" member="yes">
				<label>Edit initial value</label>
				<handler function="OnEditValueSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM2" variable="MenuItem2" member="yes">
				<label>Rename</label>
				<handler function="OnRenameSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="ID_MENUITEM3" variable="MenuItem3" member="yes">
				<label>Add a child variable</label>
				<handler function="OnAddChildSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="ID_MENUITEM4" variable="MenuItem4" member="yes">
				<label>Remove</label>
				<handler function="OnRemoveSelected" entry="EVT_MENU" />
			</object>
		</object>
	</object>
</wxsmith>
