<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxPanel" name="LayersEditorPanel">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>1</growablerows>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL3" variable="toolBarPanel" member="yes">
					<size>120,25</size>
					<object class="wxAuiManager" variable="AuiManager1" member="yes">
						<object class="AuiManagerItem">
							<object class="wxAuiToolBar" name="ID_AUITOOLBAR1" variable="toolbar" member="yes">
								<object class="AuiToolBarItem">
									<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM1" variable="AuiToolBarItem1" member="yes">
										<bitmap>res/addicon.png</bitmap>
										<shorthelp>Add a layer</shorthelp>
										<longhelp>Add a new layer</longhelp>
										<handler function="OnAddSelected" entry="EVT_TOOL" />
									</object>
									<label>Add a layer</label>
								</object>
								<object class="AuiToolBarItem">
									<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM4" variable="AuiToolBarItem4" member="yes">
										<bitmap>res/deleteicon.png</bitmap>
										<shorthelp>Delete the selected layer</shorthelp>
										<longhelp>Delete the selected layer</longhelp>
										<handler function="OnDelSelected" entry="EVT_TOOL" />
									</object>
									<label>Delete the selected layer</label>
								</object>
								<object class="AuiToolBarItem">
									<object class="wxAuiToolBarSeparator" />
									<label>Item label</label>
								</object>
								<object class="AuiToolBarItem">
									<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM5" variable="AuiToolBarItem5" member="yes">
										<bitmap>res/editpropicon.png</bitmap>
										<shorthelp>Edit the properties of the layer</shorthelp>
										<longhelp>Edit the properties of the layer</longhelp>
										<handler function="OnEditSelected1" entry="EVT_TOOL" />
									</object>
									<label>Edit the properties of the layer</label>
								</object>
								<object class="AuiToolBarItem">
									<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM3" variable="AuiToolBarItem3" member="yes">
										<bitmap>res/up.png</bitmap>
										<shorthelp>Move the layer over</shorthelp>
										<longhelp>Move the layer over</longhelp>
										<handler function="OnUpSelected" entry="EVT_TOOL" />
									</object>
									<label>Move the layer over</label>
								</object>
								<object class="AuiToolBarItem">
									<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM2" variable="AuiToolBarItem2" member="yes">
										<bitmap>res/down.png</bitmap>
										<shorthelp>Move the layer below</shorthelp>
										<longhelp>Move the layer below</longhelp>
										<handler function="OnDownSelected" entry="EVT_TOOL" />
									</object>
									<label>Move the layer below</label>
								</object>
								<object class="AuiToolBarItem">
									<object class="wxAuiToolBarSeparator" />
									<label>Item label</label>
								</object>
								<object class="AuiToolBarItem">
									<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM6" variable="AuiToolBarItem6" member="yes">
										<bitmap>res/refreshicon.png</bitmap>
										<shorthelp>Refresh the list</shorthelp>
										<longhelp>Refresh the list</longhelp>
										<handler function="OnRefreshClick" entry="EVT_TOOL" />
									</object>
									<label>Refresh the list</label>
								</object>
								<object class="AuiToolBarItem">
									<object class="wxAuiToolBarSeparator" />
									<label>Item label</label>
								</object>
								<object class="AuiToolBarItem">
									<object class="wxAuiToolBarItem" name="ID_AUITOOLBARITEM7" variable="AuiToolBarItem7" member="yes">
										<bitmap>res/helpicon.png</bitmap>
										<shorthelp>Display help about the layers editor</shorthelp>
										<longhelp>Display help about the layers editor</longhelp>
										<handler function="OnHelpClick" entry="EVT_TOOL" />
									</object>
									<label>Help</label>
								</object>
							</object>
							<name>PaneName</name>
							<standardpanetype>Toolbar</standardpanetype>
							<caption>Pane caption</caption>
							<captionvisible>0</captionvisible>
							<minimizebutton>0</minimizebutton>
							<maximizebutton>0</maximizebutton>
							<pinbutton>0</pinbutton>
							<layer>10</layer>
							<dockfixed>0</dockfixed>
							<dockabledirection></dockabledirection>
							<resizable>0</resizable>
							<destroyonclose>0</destroyonclose>
							<firstadd>0</firstadd>
						</object>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxListCtrl" name="ID_LISTCTRL1" variable="layersList" member="yes">
					<size>191,198</size>
					<style>wxLC_REPORT</style>
					<handler function="OnlayersListItemSelect1" entry="EVT_LIST_ITEM_SELECTED" />
					<handler function="OnlayersListItemActivated" entry="EVT_LIST_ITEM_ACTIVATED" />
					<handler function="OnlayersListItemFocused" entry="EVT_LIST_ITEM_FOCUSED" />
					<handler function="OnlayersListItemRClick" entry="EVT_LIST_ITEM_RIGHT_CLICK" />
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenu" variable="contextMenu" member="yes">
			<object class="wxMenuItem" name="idMenuEdit" variable="MenuItem1" member="yes">
				<label>Edit the layer properties</label>
				<bitmap>res/editnom.png</bitmap>
				<handler function="OnEditSelected1" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idMenuAdd" variable="MenuItem2" member="yes">
				<label>Add a layer</label>
				<bitmap>res/addicon.png</bitmap>
				<handler function="OnAddSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuDel" variable="MenuItem3" member="no">
				<label>Delete the layer</label>
				<bitmap>res/deleteicon.png</bitmap>
				<handler function="OnDelSelected" entry="EVT_MENU" />
			</object>
			<object class="separator" />
			<object class="wxMenuItem" name="idMenuUp" variable="MenuItem4" member="no">
				<label>Move over</label>
				<bitmap>res/up.png</bitmap>
				<handler function="OnUpSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idMenuDown" variable="MenuItem5" member="no">
				<label>Move below</label>
				<bitmap>res/down.png</bitmap>
				<handler function="OnDownSelected" entry="EVT_MENU" />
			</object>
		</object>
		<object class="wxImageList" variable="imageList" member="yes">
			<image_list>
				<item>16</item>
				<item>16</item>
			</image_list>
			<image_text>
				<item2>16</item2>
				<item2>16</item2>
			</image_text>
		</object>
	</object>
</wxsmith>
