@keyframes disappear-after-a-bit {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  78% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hintText {
  color: white;
  animation-name: disappear-after-a-bit;
  animation-duration: 3.5s;
  will-change: opacity;
  opacity: 0;
  top: -40px;
  position: relative;
  text-shadow: black 1px 1px 2px;
}
