Source: gdevelop
Section: editors
Priority: optional
Maintainer: Florian <Florian.Rival@gmail.com>
Build-Depends: debhelper (>= 8.0.0), cmake, rsync, curl, p7zip-full, libwxgtk3.0-dev, libwebkitgtk-3.0-dev, libwebkitgtk-dev, libopenal-dev, libjpeg-dev, libglew-dev, libudev-dev, libxrandr-dev, libsndfile1-dev, libglu1-mesa-dev, libfreetype6-dev
Standards-Version: 3.9.4
Homepage: http://www.compilgames.net
#Vcs-Git: git://git.debian.org/collab-maint/gdevelop.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/gdevelop.git;a=summary

Package: gdevelop
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, build-essential
Description: GDevelop, open source HTML5 and native game creator software
 GDevelop is an open source game development software
 allowing to create HTML5 and native games
 without programming.

