/**
 * This is the styling applied to an EventsSheet.
 * This also overwrite the default react-sortable-tree css.
 */

.gd-events-sheet-solarized-dark-theme.events-tree {
  /* Use the fonts provided by the operating system(s) as possible. */
  /* If you update this font list, be sure to do it in all the other places using fonts in the codebase. */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, 'Helvetica Neue', Helvetica, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !important;
  font-size: 14px !important;
  background: #00212B;
}

/**
 * Ensure scroll is only on Y direction, preventing the display
 * of horizontal scrollbar.
 */
.gd-events-sheet-solarized-dark-theme .rst__virtualScrollOverride {
  overflow-x: hidden !important;
}
 
/**
 * Draggable handle on the left of an event
 */
.gd-events-sheet-solarized-dark-theme .rst__moveHandle {
  background: #2799b9 !important;
}

.gd-events-sheet-solarized-dark-theme .rst__moveHandle:hover {
  background-color: rgb(31, 116, 150) !important;
}

/**
 * Scaffolding lines on the left
 */
.gd-events-sheet-solarized-dark-theme .rst__lineHalfHorizontalRight::before,
.gd-events-sheet-solarized-dark-theme .rst__lineFullVertical::after,
.gd-events-sheet-solarized-dark-theme .rst__lineHalfVerticalTop::after,
.gd-events-sheet-solarized-dark-theme .rst__lineHalfVerticalBottom::after {
  background-color: #D8DEE9;
}

/**
 * Background and default text color of content of an event
 */
.gd-events-sheet-solarized-dark-theme .rst__rowContents {
  background-color: #00212B;
  color: rgb(209, 209, 209);
}

/**
 * Selectable area (instructions)
 */
.gd-events-sheet-solarized-dark-theme .selectable:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.gd-events-sheet-solarized-dark-theme .selectable.selected {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px #00aaff dashed !important;
}

/**
 * Large selectable area (events)
 */
.gd-events-sheet-solarized-dark-theme .large-selectable {
  border: 1px #00212B solid !important;
}
.gd-events-sheet-solarized-dark-theme .large-selectable.large-selected {
  border: 1px #4ab0e4 dashed !important;
}

/**
 * Conditions and actions containers
 */

.gd-events-sheet-solarized-dark-theme .conditions-container {
  background: #002B36;
  color: rgb(209, 209, 209);
  border: 1px solid #002B36;
  border-right-color: #00212B;
  padding-left: 5px;
  padding-right: 5px;
  min-width: 0; /* Prevent container to growing outside its parent */
}
.gd-events-sheet-solarized-dark-theme .conditions-container.small-width-container {
  border-right-color: #002B36;
  border-bottom-color: #002B36;
}

.gd-events-sheet-solarized-dark-theme .actions-container {
  background: #00212B;
  color: rgb(209, 209, 209);
  padding-left: 5px;
  padding-right: 5px;
  min-width: 0; /* Prevent container to growing outside its parent */
}
.gd-events-sheet-solarized-dark-theme .actions-container.small-width-container {
  padding-left: 20px;
}

.gd-events-sheet-solarized-dark-theme .sub-instructions-container {
  margin-left: 9px;
  margin-top: 1px;
  border-right: none;
  border-left: 1px solid #00212B;
}

/**
 * Instructions parameters color scheme
 */
.gd-events-sheet-solarized-dark-theme .instruction-parameter {
  color: #219186;
}

.gd-events-sheet-solarized-dark-theme .instruction-parameter.expression {
  color: #859900;
}

.gd-events-sheet-solarized-dark-theme .instruction-parameter.object,
.gd-events-sheet-solarized-dark-theme .instruction-parameter.objectPtr,
.gd-events-sheet-solarized-dark-theme .instruction-parameter.objectList,
.gd-events-sheet-solarized-dark-theme .instruction-parameter.objectListWithoutPicking {
  color: #268BD2;
  font-weight: bold;
}

.gd-events-sheet-solarized-dark-theme .instruction-parameter.behavior {
  color: #586e75;
}

.gd-events-sheet-solarized-dark-theme .instruction-parameter.operator {
  color: #D33682;
}

.gd-events-sheet-solarized-dark-theme .instruction-parameter.objectvar {
  color: #cb4b16;
}

.gd-events-sheet-solarized-dark-theme .instruction-parameter.scenevar {
  color: #cb4b16;
}

.gd-events-sheet-solarized-dark-theme .instruction-parameter.globalvar {
  color: #cb4b16;
}

.gd-events-sheet-solarized-dark-theme
  .instruction-parameter
  .instruction-invalid-parameter {
  color: #dc322f;
  text-decoration: #dc322f underline ;
}

.gd-events-sheet-solarized-dark-theme
  .instruction-parameter
  .instruction-missing-parameter {
  display: inline-flex;
  background-color: rgba(238, 255, 0, 0.05);
  border-bottom: 1px dashed #dc322f;
  min-width: 25px;
  min-height: 14px;
}

/**
 * Search results highlight
 */
 
.gd-events-sheet-solarized-dark-theme .rst__rowSearchMatch {
  outline: none;
  border-left: solid 4px #045e9e;
}

.gd-events-sheet-solarized-dark-theme .rst__rowSearchFocus {
  outline: none;
  border-left: solid 6px #135483;
}

/**
* Drag'n'drop indicator (events)
*/
.gd-events-sheet-solarized-dark-theme .drop-indicator {
  border-top: 2px solid #18dcf2;
  height: 0;
  margin-top: -1px;
  margin-bottom: -1px;
  width: '100%';
  box-sizing: 'border-box';
}

.gd-events-sheet-solarized-dark-theme .cant-drop-indicator {
  border-top: 2px solid #BF616A;
  height: 0;
  margin-top: -1px;
  margin-bottom: -1px;
  width: '100%';
  box-sizing: 'border-box';
}

/**
* Skinning the "Link" event
*/
.gd-events-sheet-solarized-dark-theme .link-container {
  background: #00212B;
}
.gd-events-sheet-solarized-dark-theme .link-container span {
  color: rgb(155, 155, 155);
}
.gd-events-sheet-solarized-dark-theme .link-container .selectable {
  color: #268BD2;
  font-weight: bold;
}

/* Theming icons */
.gd-events-sheet-solarized-dark-theme .icon {
  padding-right: 2px;
  width: 16px;
  height: 16px;
}
