.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0px;
}

.container .error {
  font-size: 14px;
  line-height: 20px;
  font-family: var(--gdevelop-modern-font-family);
  color: var(--theme-error-color);
  padding: 2px 0px;
}
