# Required since some pixi libraries are unmaintained and have their peer dependencies stuck on an older pixi version, 
# but still work with modern versions of PIXI nonetheless.
legacy-peer-deps true
