/**
 * Additional styles for the embedded Yarn editor
 */
html,
body {
  font-family: Helvetica;
  margin: 0;
  height: 100%;
  overflow-y: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#yarn-frame {
  flex: 1;
  border: none;
  overflow-y: hidden;
}

#path-editor-header > span > input {
  font-family: 'Courier New';
  height: 27px;
  width: 90px;
  float: left;
  padding: 4px;
  margin-top: 4px;
  font-size: 15px;
  border: 2px solid cyan;
  border-radius: 3px;
  background-color: white;
  color: darkslategrey;
}

#path-editor-header > span > label {
  height: 27px;
  color: darkcyan;
  float: left;
  margin-top: 10px;
  font-size: 15px;
}
