[Desktop Entry]
Version=3.2.67
Encoding=UTF-8
Name=Game Develop
GenericName=IDE
Comment=HTML5 and native game development software
Exec=sh -c "game-develop %F"
Icon=/opt/game-develop/res/icon128linux.png
Terminal=false
Type=Application
Categories=Application;Development;
Name=Game Develop

