<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="FunctionEventEditorDlg">
		<id_arg>0</id_arg>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer17" member="no">
					<cols>1</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
							<size>420,54</size>
							<bg>wxSYS_COLOUR_WINDOW</bg>
							<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
								<cols>3</cols>
								<object class="sizeritem">
									<object class="wxStaticBitmap" name="ID_STATICBITMAP3" variable="StaticBitmap3" member="yes">
										<bitmap>res/function24.png</bitmap>
										<style>wxNO_BORDER</style>
									</object>
									<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
								<object class="sizeritem">
									<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
										<label>La fonction et ses sous évènements ne sera executée&#x0A;que lorsqu&apos;elle aura été lancée par une action ou une expression.</label>
										<style>wxALIGN_CENTRE</style>
									</object>
									<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
									<border>5</border>
									<option>1</option>
								</object>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticLine" name="ID_STATICLINE2" variable="StaticLine2" member="yes">
							<size>10,-1</size>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
					<cols>1</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
							<label>Nom de la fonction ( Doit être unique ) :</label>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
							<cols>3</cols>
							<growablecols>0</growablecols>
							<object class="sizeritem">
								<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="nameEdit" member="yes" />
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
					<cols>1</cols>
					<growablecols>0</growablecols>
					<object class="sizeritem">
						<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
							<label>Arguments</label>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
									<cols>1</cols>
									<growablecols>0</growablecols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
											<label>(Optionnel) Passer les objets du groupe suivant à la fonction :</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
											<cols>3</cols>
											<growablecols>0</growablecols>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="objectEdit" member="yes" />
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="objectBt" member="yes">
													<bitmap>res/objeticon.png</bitmap>
													<default>1</default>
													<handler function="OnobjectBtClick" entry="EVT_BUTTON" />
												</object>
												<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
											<label>Les objets de ce groupe qui sont concernés par les précédentes&#x0A;actions/conditions seront passés à la fonction lors de son appel&#x0A;par une action, et seront directement concernés par les actions&#x0A;et conditions qui leur font référence.</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
											<label>Les autres arguments peuvent être passés sous forme&#x0A;de texte lors de l&apos;appel à la fonction. ( Et récupérés dans&#x0A;la fonction avec Function::GetParameter(x) ).</label>
										</object>
										<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
					<size>10,-1</size>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>3</cols>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="okBt" member="yes">
							<label>Ok</label>
							<handler function="OnokBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="cancelBt" member="yes">
							<label>Annuler</label>
							<handler function="OncancelBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
	</object>
</wxsmith>
