.newChatContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;

  margin-bottom: var(--safe-area-inset-bottom);
}

.aiRequestChatContainer {
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  flex: 1 1 0%;
  min-height: 0px;

  margin-bottom: var(--safe-area-inset-bottom);
}

.feedbackButtonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  margin-top: 4px;
}

.creditOrSubscriptionPromptContainer {
  background: linear-gradient(90deg, rgb(153, 121, 241) 0%, rgb(255, 188, 87) 100%);
  border-radius: 8px;
}
