.thinkingText {
  display: flex;
  align-items: center;
  color: var(--theme-text-disabled-color)
}

.feedbackButtonsContainer {
  display: flex;
  justify-content: flex-end;
  gap: 4px;
  margin-top: 4px;
}
