.thinkingText {
  display: flex;
  align-items: center;
  color: var(--theme-text-disabled-color)
}

.feedbackButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  margin-top: 4px;
}
