@keyframes feedback-banner-appear {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes content-appear {
  0% {
    opacity: 0;
  }
  /* Start after the bubble container. */
  37% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.feedbackBannerContainer {
  display: flex;
  flex-direction: column;
  animation: feedback-banner-appear 0.5s;
}

.textAndButtonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding-left: 4px;
  padding-right: 4px;
  color: var(--theme-text-secondary-color);
  opacity: 0.9;
  min-width: 0;
  width: 100%;
}
