.functionCallContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.addedResourcesContainer {
  padding-left: 20px;
  user-select: all;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  outline: none;
}

.detailsButtonContainer {
  padding-left: 20px;
  user-select: none;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  outline: none;
}

.detailsButtonContainer:hover {
  opacity: 0.7;
}

.detailsButtonContainer:focus-visible {
  outline: 2px solid;
  outline-offset: 2px;
  border-radius: 4px;
}

.detailsPaperContainer {
  transform-origin: top left;
  padding-left: 20px;
}
