<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="EditObjectGroup">
		<title>Edit the objects group</title>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>3</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer17" member="no">
					<cols>1</cols>
					<growablecols>0</growablecols>
					<growablerows>1</growablerows>
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL2" variable="Panel2" member="yes">
							<size>-1,26</size>
							<object class="wxAuiManager" variable="AuiManager1" member="yes">
								<object class="AuiManagerItem">
									<object class="wxAuiToolBar" name="ID_AUITOOLBAR1" variable="toolbar" member="yes" />
									<name>PaneName</name>
									<standardpanetype>Toolbar</standardpanetype>
									<caption>Pane caption</caption>
									<captionvisible>0</captionvisible>
									<minimizebutton>0</minimizebutton>
									<maximizebutton>0</maximizebutton>
									<pinbutton>0</pinbutton>
									<layer>10</layer>
									<dockfixed>0</dockfixed>
									<dockabledirection></dockabledirection>
									<resizable>0</resizable>
									<destroyonclose>0</destroyonclose>
									<firstadd>0</firstadd>
								</object>
							</object>
						</object>
						<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxTreeCtrl" name="ID_TREECTRL1" variable="ObjetsList" member="yes">
							<image_list></image_list>
							<tree_items>
								<item>ObjetsList</item>
								<item></item>
							</tree_items>
							<items_text>
								<item2>ObjetsList</item2>
								<item2></item2>
							</items_text>
							<size>286,181</size>
							<style>wxTR_MULTIPLE|wxTR_DEFAULT_STYLE</style>
							<handler function="OnObjetsListBeginLabelEdit" entry="EVT_TREE_BEGIN_LABEL_EDIT" />
							<handler function="OnObjetsListEndLabelEdit" entry="EVT_TREE_END_LABEL_EDIT" />
							<handler function="OnObjetsListItemActivated" entry="EVT_TREE_ITEM_ACTIVATED" />
							<handler function="OnObjetsListItemRightClick" entry="EVT_TREE_ITEM_RIGHT_CLICK" />
							<handler function="OnObjetsListItemActivated" entry="EVT_TREE_SEL_CHANGED" />
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
							<size>10,-1</size>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
							<cols>3</cols>
							<growablecols>1</growablecols>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
									<cols>3</cols>
									<growablerows>0</growablerows>
									<object class="sizeritem">
										<object class="wxStaticBitmap" name="ID_STATICBITMAP2" variable="StaticBitmap1" member="yes">
											<bitmap>res/helpicon.png</bitmap>
											<style>wxNO_BORDER</style>
										</object>
										<flag>wxTOP|wxBOTTOM|wxLEFT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxHyperlinkCtrl" name="ID_HYPERLINKCTRL1" variable="helpBt" member="yes">
											<label>Help</label>
											<tooltip>Display help about this window</tooltip>
											<handler function="OnhelpBtClick" entry="EVT_HYPERLINK" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON1" variable="OkBt" member="yes">
									<label>Ok</label>
									<handler function="OnOkBtClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxButton" name="ID_BUTTON2" variable="AnnulerBt" member="yes">
									<label>Cancel</label>
									<handler function="OnAnnulerBtClick" entry="EVT_BUTTON" />
								</object>
								<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenu" variable="ContextMenu" member="yes">
			<object class="wxMenuItem" name="idAddObjet" variable="MenuItem1" member="yes">
				<label>Add an object</label>
				<bitmap>res/addicon.png</bitmap>
				<handler function="OnAddObjetSelected" entry="EVT_MENU" />
			</object>
			<object class="wxMenuItem" name="idDelObjet" variable="MenuItem2" member="yes">
				<label>Delete the object</label>
				<bitmap>res/deleteicon.png</bitmap>
				<handler function="OnDelObjetSelected" entry="EVT_MENU" />
			</object>
		</object>
	</object>
</wxsmith>
