<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="PathAutomatismEditor">
		<title>Edit the automatism</title>
		<id_arg>0</id_arg>
		<style>wxDEFAULT_DIALOG_STYLE|wxRESIZE_BORDER|wxMAXIMIZE_BOX</style>
		<object class="wxFlexGridSizer" variable="FlexGridSizer1" member="no">
			<cols>1</cols>
			<growablecols>0</growablecols>
			<growablerows>0</growablerows>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer10" member="no">
					<cols>2</cols>
					<rows>1</rows>
					<growablecols>0</growablecols>
					<growablerows>0</growablerows>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer12" member="no">
							<cols>1</cols>
							<growablecols>0</growablecols>
							<growablerows>1</growablerows>
							<object class="sizeritem">
								<object class="wxFlexGridSizer" variable="FlexGridSizer13" member="no">
									<cols>6</cols>
									<object class="sizeritem">
										<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText5" member="yes">
											<label>Paths:</label>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxChoice" name="ID_CHOICE1" variable="pathChoice" member="yes">
											<content>
												<item>Object main path</item>
											</content>
											<selection>0</selection>
											<size>136,-1</size>
											<handler function="OnpathChoiceSelect" entry="EVT_CHOICE" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxBitmapButton" name="ID_BITMAPBUTTON3" variable="BitmapButton3" member="yes">
											<bitmap code='gd::SkinHelper::GetIcon(&quot;add&quot;, 16)' />
											<default>1</default>
											<tooltip>Create a path</tooltip>
											<handler function="OnBitmapButton3Click1" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxBitmapButton" name="ID_BITMAPBUTTON4" variable="BitmapButton4" member="yes">
											<bitmap code='gd::SkinHelper::GetIcon(&quot;delete&quot;, 16)' />
											<default>1</default>
											<tooltip>Delete this path</tooltip>
											<handler function="OnBitmapButton4Click" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>-2</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxBitmapButton" name="ID_BITMAPBUTTON5" variable="BitmapButton5" member="yes">
											<bitmap code='gd::SkinHelper::GetIcon(&quot;rename&quot;, 16)' />
											<default>1</default>
											<tooltip>Change the name</tooltip>
											<handler function="OnBitmapButton5Click" entry="EVT_BUTTON" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
									<object class="sizeritem">
										<object class="wxCheckBox" name="ID_CHECKBOX4" variable="globalCheck" member="yes">
											<label>Global</label>
											<handler function="OnglobalCheckClick" entry="EVT_CHECKBOX" />
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<border>5</border>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticBoxSizer" variable="StaticBoxSizer2" member="no">
									<label>Paths editor</label>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer2" member="no">
											<cols>1</cols>
											<rows>4</rows>
											<growablecols>0</growablecols>
											<growablerows>2</growablerows>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer6" member="no">
													<object class="sizeritem">
														<object class="wxBoxSizer" variable="BoxSizer1" member="no">
															<object class="sizeritem">
																<object class="wxBitmapButton" name="ID_BITMAPBUTTON1" variable="BitmapButton1" member="yes">
																	<bitmap code='gd::SkinHelper::GetIcon(&quot;add&quot;, 16)' />
																	<tooltip>Add a point</tooltip>
																	<handler function="OnBitmapButton1Click" entry="EVT_BUTTON" />
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>3</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxBitmapButton" name="ID_BITMAPBUTTON6" variable="BitmapButton6" member="yes">
																	<bitmap>res/addmore.png</bitmap>
																	<default>1</default>
																	<tooltip>Add...</tooltip>
																	<handler function="OnBitmapButton6Click1" entry="EVT_BUTTON" />
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>2</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxBitmapButton" name="ID_BITMAPBUTTON2" variable="BitmapButton2" member="yes">
																	<bitmap code='gd::SkinHelper::GetIcon(&quot;delete&quot;, 16)' />
																	<tooltip>Delete a point</tooltip>
																	<handler function="OnBitmapButton2Click" entry="EVT_BUTTON" />
																</object>
																<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
																<border>3</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT9" variable="StaticText8" member="yes">
															<label>0;0</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT1" variable="contextMessageLabel" member="yes">
													<label>Label</label>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>3</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer5" member="no">
													<cols>2</cols>
													<growablecols>0</growablecols>
													<growablerows>0</growablerows>
													<object class="sizeritem">
														<object class="wxPanel" name="ID_PANEL1" variable="previewPnl" member="yes">
															<size>365,258</size>
															<style>wxTAB_TRAVERSAL|wxWANTS_CHARS</style>
															<handler function="OnPanel1Paint" entry="EVT_PAINT" />
															<handler function="OnpreviewPnlEraseBackground" entry="EVT_ERASE_BACKGROUND" />
															<handler function="OnpreviewPnlLeftDown" entry="EVT_LEFT_DOWN" />
															<handler function="OnpreviewPnlLeftUp" entry="EVT_LEFT_UP" />
															<handler function="OnpreviewPnlRightUp" entry="EVT_RIGHT_UP" />
															<handler function="OnpreviewPnlMouseMove" entry="EVT_MOTION" />
														</object>
														<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>3</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer16" member="no">
													<cols>5</cols>
													<object class="sizeritem">
														<object class="wxToggleButton" name="ID_TOGGLEBUTTON1" variable="ToggleButton1" member="yes">
															<label>Image</label>
															<tooltip>Display an image on the background</tooltip>
															<handler function="OnBitmapButton6Click" entry="EVT_TOGGLEBUTTON" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT11" variable="StaticText10" member="yes">
															<label>X:</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxSpinCtrl" name="ID_SPINCTRL1" variable="bgImgXSpin" member="yes">
															<value>0</value>
															<min>-10000000</min>
															<max>10000000</max>
															<size>70,21</size>
															<enabled>0</enabled>
															<handler function="OnbgImgXSpinChange" entry="EVT_SPINCTRL" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT12" variable="StaticText11" member="yes">
															<label>Y:</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxSpinCtrl" name="ID_SPINCTRL2" variable="bgImgYSpin" member="yes">
															<value>0</value>
															<min>-100000000</min>
															<max>100000000</max>
															<size>70,21</size>
															<enabled>0</enabled>
															<handler function="OnbgImgXSpinChange" entry="EVT_SPINCTRL" />
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxFlexGridSizer" variable="FlexGridSizer11" member="no">
							<cols>1</cols>
							<object class="sizeritem">
								<object class="wxStaticBoxSizer" variable="StaticBoxSizer4" member="no">
									<label>Position</label>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer14" member="no">
											<cols>1</cols>
											<rows>2</rows>
											<growablecols>0</growablecols>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText6" member="yes">
													<label>Position of the path&#x0A;relative to the scene origin.</label>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer15" member="no">
													<cols>3</cols>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_TEXTCTRL3" variable="xOffsetEdit" member="yes">
															<value>0</value>
															<size>51,21</size>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText7" member="yes">
															<label>;</label>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxTextCtrl" name="ID_TEXTCTRL4" variable="yOffsetEdit" member="yes">
															<value>0</value>
															<size>51,21</size>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticBoxSizer" variable="StaticBoxSizer3" member="no">
									<label>Object orientation</label>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer7" member="no">
											<cols>1</cols>
											<growablecols>0</growablecols>
											<object class="sizeritem">
												<object class="wxCheckBox" name="ID_CHECKBOX3" variable="followAngleCheck" member="yes">
													<label>Automatically update object&apos;s angle</label>
													<handler function="OnCheckBox1Click" entry="EVT_CHECKBOX" />
												</object>
												<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxFlexGridSizer" variable="FlexGridSizer8" member="no">
													<cols>2</cols>
													<object class="sizeritem">
														<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText3" member="yes">
															<label>Angle offset:</label>
															<tooltip>This angle will be added to the angle the object must take when following the path</tooltip>
														</object>
														<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxFlexGridSizer" variable="FlexGridSizer9" member="no">
															<cols>2</cols>
															<object class="sizeritem">
																<object class="wxTextCtrl" name="ID_TEXTCTRL2" variable="angleOffsetEdit" member="yes">
																	<value>0</value>
																	<size>45,21</size>
																</object>
																<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
															<object class="sizeritem">
																<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText4" member="yes">
																	<label>°</label>
																</object>
																<flag>wxALL|wxALIGN_LEFT|wxALIGN_CENTER_VERTICAL</flag>
																<border>5</border>
																<option>1</option>
															</object>
														</object>
														<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticBoxSizer" variable="StaticBoxSizer1" member="no">
									<label>Movement and speed</label>
									<object class="sizeritem">
										<object class="wxFlexGridSizer" variable="FlexGridSizer4" member="no">
											<cols>2</cols>
											<growablecols>1</growablecols>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText1" member="yes">
													<label>Speed:</label>
												</object>
												<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="speedEdit" member="yes">
													<value>200</value>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText2" member="yes">
													<label>Options:</label>
												</object>
												<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
												<border>5</border>
												<option>1</option>
											</object>
											<object class="sizeritem">
												<object class="wxBoxSizer" variable="BoxSizer2" member="no">
													<object class="sizeritem">
														<object class="wxCheckBox" name="ID_CHECKBOX1" variable="reverseCheck" member="yes">
															<label>Reverse movement at the end</label>
														</object>
														<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
													<object class="sizeritem">
														<object class="wxCheckBox" name="ID_CHECKBOX2" variable="stopCheck" member="yes">
															<label>Stop at the end of the path</label>
														</object>
														<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
														<border>5</border>
														<option>1</option>
													</object>
												</object>
												<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
												<option>1</option>
											</object>
										</object>
										<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
										<option>1</option>
									</object>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
							<object class="sizeritem">
								<object class="wxStaticText" name="ID_STATICTEXT10" variable="StaticText9" member="yes">
									<label>These parameters are independent from the path.</label>
									<font>
										<style>italic</style>
									</font>
								</object>
								<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
								<border>5</border>
								<option>1</option>
							</object>
						</object>
						<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxStaticLine" name="ID_STATICLINE1" variable="StaticLine1" member="yes">
					<size>10,-1</size>
				</object>
				<flag>wxALL|wxEXPAND|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxFlexGridSizer" variable="FlexGridSizer3" member="no">
					<cols>3</cols>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON1" variable="okBt" member="yes">
							<label>Ok</label>
							<handler function="OnokBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON2" variable="cancelBt" member="yes">
							<label>Cancel</label>
							<handler function="OncancelBtClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL|wxALIGN_RIGHT|wxALIGN_CENTER_VERTICAL</flag>
				<option>1</option>
			</object>
		</object>
		<object class="wxMenu" variable="pointMenu" member="yes" />
		<object class="wxMenu" variable="advanceAddMenu" member="yes" />
	</object>
</wxsmith>







