.tree-view .full-height-flex-container {
  display: flex;
  height: 100%;
}
.tree-view .full-space-container {
  flex: 1;
  height: 100%;
}

.tree-view .row-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.tree-view .row-content-side {
  display: flex;
  align-items: center;
  height: 100%;
}

.tree-view .row-content-side.row-content-side-left {
  /* Used for a better dragging preview. */
  padding: 0 6px;
}

.tree-view .row-container {
  display: flex;
  flex: 1;
  border-radius: 6px;
}
.tree-view .row-container.selected {
  background-color: var(--table-row-selected-background-color);
}

.tree-view .item-name,
.tree-view .item-name-input {
  font-family: var(--gdevelop-modern-font-family) !important;
  font-size: 14px;
}
.tree-view .item-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  cursor: text;
}

.tree-view .item-name-input {
  outline: none;
  border: none;
  padding: 0;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: inherit;
}
